/*
box
--------------------
*/

.#{$p}box {
    position: relative;
    @include clearfix();
    margin-bottom: ($spacer * 2);
    padding: ($spacer * 2);
    border: $border-width solid transparent;
    background-color: $gray-fade;
    border-radius: $border-radius-md;

    @include media-breakpoint-up(md) {
        padding: ($spacer * 3);
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: ($spacer * 3);
    }

    p,
    ul,
    ol,
    dl {
        &:last-child {
            margin-bottom: 0;
        }
    }

}

.#{$p}box-first {
    background-color: $first-fade;
}

.#{$p}box-second {
    background-color: $second-fade;
}

.#{$p}box-third {
    background-color: $third-fade;
}

.#{$p}box-info {
    background-color: $info-fade;
}

.#{$p}box-important {
    background-color: $important-fade;
}

.#{$p}box-outline {
    background-color: $body-bg;
    border-color: $gray-milder;

    &.#{$p}box-first {
        border-color: $first-mild;
    }

    &.#{$p}box-second {
        border-color: $second-mild;
    }

    &.#{$p}box-third {
        border-color: $third-mild;
    }

    &.#{$p}box-info {
        border-color: $info-mild;
    }

    &.#{$p}box-important {
        border-color: $important-mild;
    }

}

