/*
btn-(size)
--------------------
*/

.#{$p}btn-sm {
    padding-top: $btn-padding-y-sm;
    padding-bottom: $btn-padding-y-sm;
    font-size: $btn-font-size-sm;
    border-radius: $border-radius-sm;

    &:not([class*="btn-block"]) {
        padding-left: $btn-padding-x-sm;
        padding-right: $btn-padding-x-sm;
    }

}

.#{$p}btn-lg {
    padding-top: $btn-padding-y-lg;
    padding-bottom: $btn-padding-y-lg;
    font-size: $btn-font-size-lg;
    border-radius: $border-radius-lg;

    &:not([class*="btn-block"]) {
        padding-left: $btn-padding-x-lg;
        padding-right: $btn-padding-x-lg;
    }

}

.#{$p}btn-xl {
    padding-top: $btn-padding-y-xl;
    padding-bottom: $btn-padding-y-xl;
    font-size: $btn-font-size-xl;
    border-width: ($border-width * 2);
    border-radius: $border-radius-xl;

    &:not([class*="btn-block"]) {
        padding-left: $btn-padding-x-xl;
        padding-right: $btn-padding-x-xl;
    }

}

