/*
label
--------------------
*/

.#{$p}label {
    display: inline-block;
    min-width: 3em;
    margin-right: .5em;
    padding: .25rem .75em .3rem;
    -webkit-transform:translate(0, -.125rem);
    -ms-transform:translate(0, -.125rem);
    transform:translate(0, -.125rem);
    background-color: $gray-milder;
    font-size: $font-size-xs;
    color: $body-inverse-color;
    text-align: center;
    line-height: $line-height-none;
    vertical-align: middle;
    border-radius: 1em;

    @at-root {
        a#{&} {
            color: $body-inverse-color;
            text-decoration: none;

            &:hover,
            &:focus,
            &:active {
                color: $body-inverse-color;
                text-decoration: none;
            }

        }

    }

}

.#{$p}label-first {
    background-color: $first;
}

.#{$p}label-second {
    background-color: $second;
}

.#{$p}label-third {
    background-color: $third;
}

.#{$p}label-info {
    background-color: $info;
}

.#{$p}label-important {
    background-color: $important;
}

