/*
list
--------------------
*/

.#{$p}list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#{$list-item} {
    position: relative;
    margin: 0;
    line-height: $line-height-sm;
}

#{$list-children} {
    margin: 0;
    list-style-type: none;
}

.#{$p}list-vertical {

    #{$list-item} {
        margin-top: .75em;
        margin-bottom: .75em;
        padding-left: 1.25em;

        @include chevron( 'right', $gray-mild ) {
            &:before {
                top: .65em;
                left: .25em;
            }

            &:after {
                top: .65em;
                left: .25em;
            }

        }

    }

    #{$list-children} {
        padding-left: 0;

        #{$list-item} {
            font-size: .9em;
        }

    }

}

.#{$p}list-horizontal {
    letter-spacing: -.4em;

    #{$list-item} {
        display: inline-block;
        padding-right: 1em;
        letter-spacing: normal;

        &:before {
            display: inline-block;
            content: "";
            width: $border-width;
            height: 1.125em;
            margin-right: 1em;
            background-color: $border-color;
            vertical-align: middle;
        }

        &:first-child {

            &:before {
                display: none;
            }

        }

        &:last-child {
            padding-right: 0;
        }

    }

}

