/*
radio
--------------------
*/

.#{$p}radio {
    position: relative;
    display: inline-block;

    &.#{$error},
    .#{$error} > & {
        color: $important-text;
    }

    input[type="radio"] {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        -webkit-transform:translate(0, -15%);
        -ms-transform:translate(0, -15%);
        transform:translate(0, -15%);
    }

}