/*
select
--------------------
*/

.#{$p}select {
    display: inline-block;

    @include chevron( 'down', $gray-mild ) {
        &:before {
            right: 1em;
            z-index: 2;
        }

        &:after {
            right: .5em;
            z-index: 3;
        }

    }

    select {
        position: relative;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: $font-size-sm;
        color: $body-color;
        width: 100%;
        padding: .5em 3em .5em 1em;
        background-color: transparent;
        border: $border-width solid $border-color;
        vertical-align: middle;
        border-radius: $border-radius-md;
        outline: none;
        z-index: 4;
    }

    &.#{$error},
    .#{$error} > & {
        background-color: $important-fade;
    }

    option {
        outline: none;
    }

}
