/*doc
---
title: #{$p}#{$m}badge
name: badge
category: module-badge
---

新着アイコンなどに使用する、バッジを表示する。英数字のみが入ることが前提となっている。

``` example
<p>
  <span class="#{$p}#{$m}badge">Badge</span>
</p>
```

*/

.#{$p}#{$m}badge {
    overflow: hidden;
    display: inline-block;
    min-width: 5em;
    padding: 1em .5em .25em;
    border-radius: 0 0 $border-radius-md $border-radius-md;
    background: $body-bg;
    color: $body-color;
    border: $border-width solid $border-color;
    font-size: .8em;
    font-family: $font-family-second;
    font-weight: $font-weight-second;
    letter-spacing: .1em;
    text-align: center;
    line-height: $line-height-none;
    white-space: nowrap;
    vertical-align: middle;
}


/*doc
---
title: #{$p}#{$m}badge-(color)
name: badge-01-color
category: module-badge
parent: badge
---

バッジの色を変更する。(color)は<a href="../documentation/design_tokens/color.html">標準のカラーテーブル</a>を参照。

``` example
<p>
  <span class="#{$p}#{$m}badge #{$p}#{$m}badge-first">First</span>
  <span class="#{$p}#{$m}badge #{$p}#{$m}badge-second">Second</span>
  <span class="#{$p}#{$m}badge #{$p}#{$m}badge-third">Third</span>
  <span class="#{$p}#{$m}badge #{$p}#{$m}badge-fourth">Fourth</span>
  <span class="#{$p}#{$m}badge #{$p}#{$m}badge-fifth">Fifth</span>
  <span class="#{$p}#{$m}badge #{$p}#{$m}badge-info">Info</span>
  <span class="#{$p}#{$m}badge #{$p}#{$m}badge-important">Important</span>
</p>
```

*/

.#{$p}#{$m}badge-first {
    color: $body-inverse-color;
    border-color: $first;
    background-color: $first;
}

.#{$p}#{$m}badge-second {
    color: $body-inverse-color;
    border-color: $second;
    background-color: $second;
}

.#{$p}#{$m}badge-third {
    color: $body-inverse-color;
    border-color: $third;
    background-color: $third;
}

.#{$p}#{$m}badge-fourth {
    color: $body-inverse-color;
    border-color: $fourth;
    background-color: $fourth;
}

.#{$p}#{$m}badge-fifth {
    color: $body-inverse-color;
    border-color: $fifth;
    background-color: $fifth;
}

.#{$p}#{$m}badge-info {
    color: $body-inverse-color;
    border-color: $third;
    background-color: $third;
}

.#{$p}#{$m}badge-important {
    color: $body-inverse-color;
    border-color: $important;
    background-color: $important;
}
