/*doc
---
title: #{$pr}#{$m}btn-outline
name: btn-02-outline
category: module-btn
parent: btn
---

ボタンを罫線のみの見た目にする。背景色は <code>$body-bg</code> ではなく <code>transparent</code> なので注意。  
<code>.#{$pr}#{$m}btn-(color)</code> と同時に使用することが前提となっており、罫線の色が変わる。

``` example
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__gray}">#{$pr}#{$m}btn-#{$__gray}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__gray} disabled">#{$pr}#{$m}btn-#{$__gray}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__first}">#{$pr}#{$m}btn-#{$__first}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__first} disabled">#{$pr}#{$m}btn-#{$__first}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__second}">#{$pr}#{$m}btn-#{$__second}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__second} disabled">#{$pr}#{$m}btn-#{$__second}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__third}">#{$pr}#{$m}btn-#{$__third}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__third} disabled">#{$pr}#{$m}btn-#{$__third}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__fourth}">#{$pr}#{$m}btn-#{$__fourth}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__fourth} disabled">#{$pr}#{$m}btn-#{$__fourth}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__info}">#{$pr}#{$m}btn-#{$__info}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__info} disabled">#{$pr}#{$m}btn-#{$__info}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__important}">#{$pr}#{$m}btn-#{$__important}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-outline #{$pr}#{$m}btn-#{$__important} disabled">#{$pr}#{$m}btn-#{$__important}</a>
</p>
```
*/

.#{$pr}#{$m}btn-outline {
    box-shadow: none;

    &.#{$pr}#{$m}btn-#{$__gray} {
        @include button-variant(
            inherit,
            transparent,
            $gray,
            $body-inverse-color,
            $gray,
            transparent
        );
    }

    &.#{$pr}#{$m}btn-#{$__first} {
        @include button-variant(
            inherit,
            transparent,
            $first,
            $body-inverse-color,
            $first,
            transparent
        );
    }

    &.#{$pr}#{$m}btn-#{$__second} {
        @include button-variant(
            inherit,
            transparent,
            $second,
            $body-inverse-color,
            $second,
            transparent
        );
    }

    &.#{$pr}#{$m}btn-#{$__third} {
        @include button-variant(
            inherit,
            transparent,
            $third,
            $body-inverse-color,
            $third,
            transparent
        );
    }

    &.#{$pr}#{$m}btn-#{$__fourth} {
        @include button-variant(
            inherit,
            transparent,
            $fourth,
            $body-inverse-color,
            $fourth,
            transparent
        );
    }

    &.#{$pr}#{$m}btn-#{$__info} {
        @include button-variant(
            inherit,
            transparent,
            $info,
            $body-inverse-color,
            $info,
            transparent
        );
    }

    &.#{$pr}#{$m}btn-#{$__important} {
        @include button-variant(
            inherit,
            transparent,
            $important,
            $body-inverse-color,
            $important,
            transparent
        );
    }

}

