/*doc
---
title: #{$pr}#{$m}btn
name: btn
category: module-btn
---

リンク、インライン要素、フォームのボタン要素をボタン状に表示する。  
<code>.disabled</code> または <code>disabled="disabled"</code>が付与されていると、反応しない見た目となる（クリックはできるので注意）。

``` example
<p>
  <a href="#" class="#{$pr}#{$m}btn">#{$pr}#{$m}btn</a>
  <a href="#" class="#{$pr}#{$m}btn disabled">#{$pr}#{$m}btn</a>
</p>

<p>
  <span class="#{$pr}#{$m}btn">#{$pr}#{$m}btn</span>
  <span class="#{$pr}#{$m}btn disabled">#{$pr}#{$m}btn</span>
</p>

<p>
  <input type="button" class="#{$pr}#{$m}btn" value="#{$pr}#{$m}btn" />
  <input type="button" class="#{$pr}#{$m}btn" value="#{$pr}#{$m}btn" disabled="disabled" />
</p>

<p>
  <button class="#{$pr}#{$m}btn">#{$pr}#{$m}btn</button>
  <button class="#{$pr}#{$m}btn" disabled="disabled">#{$pr}#{$m}btn</button>
</p>
```

*/

.#{$pr}#{$m}btn {
    position: relative;
    display: inline-block;
    color: $body-color;
    font-size: $btn-font-size-md;
    font-family: $font-family-root;
    font-weight: $font-weight-root;
    background-color: $body-bg;
    border: $border-btn-width solid transparent;
    padding: $btn-padding-y-md $btn-padding-x-md;
    text-align: center;
    line-height: $line-height-none;
    border-radius: $border-radius-md;
    vertical-align: middle;
    transition: .3s all;
    cursor: pointer;

    @at-root {
        a#{&} {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }

    }

    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: $body-color;
        background-color: $gray-fade;
        text-decoration: none;
    }

    &.disabled,
    &:disabled,
    fieldset[disabled] & {
        cursor: default;
        opacity: .65;
        cursor: default;

        &:hover,
        &.hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: transparent;
        }

    }

    @at-root {

        a:hover &,
        a:focus &,
        a:active & {
            color: $body-color;
            background-color: $gray-fade;
            text-decoration: none;
        }

    }

    img {
        width: auto;
        height: 1.25em;
        vertical-align: middle;
    }

    .fa {
        vertical-align: middle;
    }

    .fa:before {
        font-size: 1.25em;
    }

}

a.#{$pr}#{$m}btn.disaabled,
fieldset[disabled] a.#{$pr}#{$m}btn {
    pointer-events: none;
}
