/*doc
---
title: #{$pr}#{$m}btn#{$c3}block
name: btn-05-block
category: module-btn
parent: btn
---

ボタンを中央に寄せたブロック要素として表示する。幅は100%ではなく、一般的に考えられる幅を最大値とする。

### 補足：ボタンの余白

<code>.#{$pr}#{$m}btn#{$c3}block, .#{$pr}#{$m}btn#{$c3}round, .#{$pr}#{$m}btn#{$c3}square</code> では、<code>.#{$pr}#{$m}btn</code> のpaddingの初期値を上書きする必要があるため、意図的にクラスを追加して優先度を上げている。

### note: Padding in button

In <code>.#{$pr}#{$m}btn#{$c3}block, .#{$pr}#{$m}btn#{$c3}round, .#{$pr}#{$m}btn#{$c3}square</code>, need to override the default padding of <code>.#{$pr}#{$m}btn</code>. For this reason, intentionally add classes to increase priority.

``` example
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}sm #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}lg #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xl #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xxl #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}sm #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}lg #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xl #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xxl #{$pr}#{$m}btn#{$c3}block">#{$pr}#{$m}btn#{$c3}block</a>
</p>
```
*/

.#{$pr}#{$m}btn#{$c3}block {
    display: block;
    width: 100%;
    max-width: 320px;
    margin: 0 auto;

    &.#{$pr}#{$m}btn {
        padding-left: .5rem;
        padding-right: .5rem;
    }

    &.#{$pr}#{$m}btn#{$c3}xl {

        @include media-breakpoint-up(sm) {
            max-width: 480px;
        }

    }

    &.#{$pr}#{$m}btn#{$c3}xxl {

        @include media-breakpoint-up(sm) {
            max-width: 480px;
        }

        @include media-breakpoint-up(lg) {
            max-width: map-get($container-max-widths-md, lg); 
        }

    }

}


/*doc
---
title: #{$pr}#{$m}btn#{$c3}oval
name: btn-06-oval
category: module-btn
parent: btn
---

ボタンを小判型にする。

``` example
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__gray}">#{$pr}#{$m}btn#{$c3}#{$__gray}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__gray} disabled">#{$pr}#{$m}btn#{$c3}#{$__gray}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__first}">#{$pr}#{$m}btn#{$c3}#{$__first}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__first} disabled">#{$pr}#{$m}btn#{$c3}#{$__first}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__second}">#{$pr}#{$m}btn#{$c3}#{$__second}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__second} disabled">#{$pr}#{$m}btn#{$c3}#{$__second}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__third}">#{$pr}#{$m}btn#{$c3}#{$__third}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__third} disabled">#{$pr}#{$m}btn#{$c3}#{$__third}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__fourth}">#{$pr}#{$m}btn#{$c3}#{$__fourth}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__fourth} disabled">#{$pr}#{$m}btn#{$c3}#{$__fourth}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__info}">#{$pr}#{$m}btn#{$c3}#{$__info}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__info} disabled">#{$pr}#{$m}btn#{$c3}#{$__info}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__important}">#{$pr}#{$m}btn#{$c3}#{$__important}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}#{$__important} disabled">#{$pr}#{$m}btn#{$c3}#{$__important}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__gray}">#{$pr}#{$m}btn#{$c3}#{$__gray}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__gray} disabled">#{$pr}#{$m}btn#{$c3}#{$__gray}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__first}">#{$pr}#{$m}btn#{$c3}#{$__first}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__first} disabled">#{$pr}#{$m}btn#{$c3}#{$__first}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__second}">#{$pr}#{$m}btn#{$c3}#{$__second}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__second} disabled">#{$pr}#{$m}btn#{$c3}#{$__second}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__third}">#{$pr}#{$m}btn#{$c3}#{$__third}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__third} disabled">#{$pr}#{$m}btn#{$c3}#{$__third}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__fourth}">#{$pr}#{$m}btn#{$c3}#{$__fourth}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__fourth} disabled">#{$pr}#{$m}btn#{$c3}#{$__fourth}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__info}">#{$pr}#{$m}btn#{$c3}#{$__info}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__info} disabled">#{$pr}#{$m}btn#{$c3}#{$__info}</a>
</p>

<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__important}">#{$pr}#{$m}btn#{$c3}#{$__important}</a>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}oval #{$pr}#{$m}btn#{$c3}bordered #{$pr}#{$m}btn#{$c3}#{$__important} disabled">#{$pr}#{$m}btn#{$c3}#{$__important}</a>
</p>
```
*/

.#{$pr}#{$m}btn#{$c3}oval {
    border-radius: 10em;  // emで大きな値を指定すると小判型になる
}


/*doc
---
title: #{$pr}#{$m}btn#{$c3}round
name: btn-07-round
category: module-btn
parent: btn
---

ボタンを正円で表示する。幅を超えるようなテキストを入れることはできない。

``` example
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}sm #{$pr}#{$m}btn#{$c3}round">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}round">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}lg #{$pr}#{$m}btn#{$c3}round">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xl #{$pr}#{$m}btn#{$c3}round">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xxl #{$pr}#{$m}btn#{$c3}round">R</a>
</p>
```
*/

.#{$pr}#{$m}btn#{$c3}round {
    overflow: hidden;
    width: $btn-round-width-md;
    height: $btn-round-width-md;
    line-height: $btn-round-width-md;
    border-radius: 50%;

    &.#{$pr}#{$m}btn {
        padding: 0;
    }

    &.#{$pr}#{$m}btn#{$c3}sm {
        width: $btn-round-width-sm;
        height: $btn-round-width-sm;
        line-height: $btn-round-width-sm;
    }

    &.#{$pr}#{$m}btn#{$c3}lg {
        width: $btn-round-width-lg;
        height: $btn-round-width-lg;
        line-height: $btn-round-width-lg;
    }

    &.#{$pr}#{$m}btn#{$c3}xl {
        width: $btn-round-width-lg;
        height: $btn-round-width-lg;
        line-height: $btn-round-width-lg;

        @include media-breakpoint-up(md) {
            width: $btn-round-width-xl;
            height: $btn-round-width-xl;
            line-height: $btn-round-width-xl;
        }
    }

    &.#{$pr}#{$m}btn#{$c3}xxl {
        width: $btn-round-width-xl;
        height: $btn-round-width-xl;
        line-height: $btn-round-width-xl;

        @include media-breakpoint-up(md) {
            width: $btn-round-width-xxl;
            height: $btn-round-width-xxl;
            line-height: $btn-round-width-xxl;
        }

    }

}


/*doc
---
title: #{$pr}#{$m}btn#{$c3}square
name: btn-08-square
category: module-btn
parent: btn
---

ボタンを正方形で表示する。幅を超えるようなテキストを入れることはできない。

``` example
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}sm #{$pr}#{$m}btn#{$c3}square">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}square">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}lg #{$pr}#{$m}btn#{$c3}square">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xl #{$pr}#{$m}btn#{$c3}square">R</a>
</p>
<p>
  <a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn#{$c3}#{$__first} #{$pr}#{$m}btn#{$c3}xxl #{$pr}#{$m}btn#{$c3}square">R</a>
</p>
```
*/

.#{$pr}#{$m}btn#{$c3}square {
    overflow: hidden;
    width: $btn-square-width-md;
    height: $btn-square-width-md;
    line-height: $btn-square-width-md;

    &.#{$pr}#{$m}btn {
        padding: 0;
    }

    &.#{$pr}#{$m}btn#{$c3}sm {
        width: $btn-square-width-sm;
        height: $btn-square-width-sm;
        line-height: $btn-square-width-sm;
    }

    &.#{$pr}#{$m}btn#{$c3}lg {
        width: $btn-square-width-lg;
        height: $btn-square-width-lg;
        line-height: $btn-square-width-lg;
    }

    &.#{$pr}#{$m}btn#{$c3}xl {
        width: $btn-square-width-lg;
        height: $btn-square-width-lg;
        line-height: $btn-square-width-lg;

        @include media-breakpoint-up(md) {
            width: $btn-square-width-xl;
            height: $btn-square-width-xl;
            line-height: $btn-square-width-xl;
        }

    }

    &.#{$pr}#{$m}btn#{$c3}xxl {
        width: $btn-square-width-xl;
        height: $btn-square-width-xl;
        line-height: $btn-square-width-xl;

        @include media-breakpoint-up(md) {
            width: $btn-square-width-xxl;
            height: $btn-square-width-xxl;
            line-height: $btn-square-width-xxl;
        }

    }

}


