/*
--------------------
#{$pr}#{$m}btn
--------------------
*/

.#{$pr}#{$m}btn {
    position: relative;
    display: inline-block;
    padding: $btn-padding-y-md $btn-padding-x-md;
    background-color: $body-bg;
    border: $border-btn-width solid transparent;
    color: $body-color;
    font-size: $btn-font-size-md;
    font-family: $font-family-root;
    font-weight: $font-weight-root;
    text-align: center;
    line-height: 1;
    border-radius: $border-radius-md;
    vertical-align: middle;
    transition: .3s all;
    cursor: pointer;

    @at-root {

        a#{&} {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }

    }

    &:hover,
    &.hover,
    &:focus,
    &.focus,
    &:active,
    &.active {
        color: $body-color;
        background-color: $gray-fade;
        text-decoration: none;
    }

    &[disabled],
    fieldset[disabled] & {
        cursor: default;
        opacity: .65;
        cursor: default;

        &:hover,
        &.hover,
        &:focus,
        &.focus,
        &:active,
        &.active {
            background-color: transparent;
        }

    }

    @at-root {

        a:hover &,
        a:focus &,
        a:active & {
            color: $body-color;
            background-color: $gray-fade;
            text-decoration: none;
        }

    }

    img {
        width: auto;
        height: 1.1em;
        vertical-align: middle;
        transform: translate(0, -5%);
    }

    [class*="fa"] {
        font-size: 1.1em;
        transform: translate(0, 5%);
    }

}

a.#{$pr}#{$m}btn[disabled],
fieldset[disabled] a.#{$pr}#{$m}btn {
    pointer-events: none;
}
