/*doc
---
title: #{$p}#{$m}btn-outline
name: btn-02-outline
category: module-btn
parent: btn
---

ボタンを罫線のみの見た目にする。背景色は <code>$body-bg</code> ではなく <code>transparent</code> なので注意。  
<code>.#{$p}#{$m}btn-(color)</code> と同時に使用することが前提となっており、罫線の色が変わる。

``` example
<p>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-first">#{$p}#{$m}btn-first</a>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-first disabled">#{$p}#{$m}btn-first</a>
</p>

<p>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-second">#{$p}#{$m}btn-second</a>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-second disabled">#{$p}#{$m}btn-second</a>
</p>

<p>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-third">#{$p}#{$m}btn-third</a>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-third disabled">#{$p}#{$m}btn-third</a>
</p>

<p>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-fourth">#{$p}#{$m}btn-fourth</a>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-fourth disabled">#{$p}#{$m}btn-fourth</a>
</p>

<p>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-fifth">#{$p}#{$m}btn-fifth</a>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-fifth disabled">#{$p}#{$m}btn-fifth</a>
</p>

<p>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-info">#{$p}#{$m}btn-info</a>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-info disabled">#{$p}#{$m}btn-info</a>
</p>

<p>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-important">#{$p}#{$m}btn-important</a>
  <a href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-outline #{$p}#{$m}btn-important disabled">#{$p}#{$m}btn-important</a>
</p>
```
*/

.#{$p}#{$m}btn-outline {
    box-shadow: none;

    &.#{$p}#{$m}btn-first {
        @include button-variant(
            inherit,
            transparent,
            $first,
            $body-inverse-color,
            $first,
            transparent
        );
    }

    &.#{$p}#{$m}btn-second {
        @include button-variant(
            inherit,
            transparent,
            $second,
            $body-inverse-color,
            $second,
            transparent
        );
    }

    &.#{$p}#{$m}btn-third {
        @include button-variant(
            inherit,
            transparent,
            $third,
            $body-inverse-color,
            $third,
            transparent
        );
    }

    &.#{$p}#{$m}btn-fourth {
        @include button-variant(
            inherit,
            transparent,
            $fourth,
            $body-inverse-color,
            $fourth,
            transparent
        );
    }

    &.#{$p}#{$m}btn-fifth {
        @include button-variant(
            inherit,
            transparent,
            $fifth,
            $body-inverse-color,
            $fifth,
            transparent
        );
    }

    &.#{$p}#{$m}btn-info {
        @include button-variant(
            inherit,
            transparent,
            $info,
            $body-inverse-color,
            $info,
            transparent
        );
    }

    &.#{$p}#{$m}btn-important {
        @include button-variant(
            inherit,
            transparent,
            $important,
            $body-inverse-color,
            $important,
            transparent
        );
    }

}

