/*
--------------------
#{$pr}#{$m}btn#{$c3}bordered
--------------------
*/

.#{$pr}#{$m}btn#{$c3}bordered {
    box-shadow: none;

    &.#{$pr}#{$m}btn#{$c3}gray {
        @include button-variant(
            inherit,
            transparent,
            $gray,
            $body-inverse-color,
            $gray,
            transparent
        );
    }

    &.#{$pr}#{$m}btn#{$c3}first {
        @include button-variant(
            inherit,
            transparent,
            $first,
            $body-inverse-color,
            $first,
            transparent
        );
    }

    &.#{$pr}#{$m}btn#{$c3}second {
        @include button-variant(
            inherit,
            transparent,
            $second,
            $body-inverse-color,
            $second,
            transparent
        );
    }

    &.#{$pr}#{$m}btn#{$c3}third {
        @include button-variant(
            inherit,
            transparent,
            $third,
            $body-inverse-color,
            $third,
            transparent
        );
    }

    &.#{$pr}#{$m}btn#{$c3}info {
        @include button-variant(
            inherit,
            transparent,
            $info,
            $body-inverse-color,
            $info,
            transparent
        );
    }

    &.#{$pr}#{$m}btn#{$c3}important {
        @include button-variant(
            inherit,
            transparent,
            $important,
            $body-inverse-color,
            $important,
            transparent
        );
    }

}

