/*
--------------------
#{$pr}#{$m}btn
--------------------
*/

.#{$pr}#{$m}btn {
    position: relative;
    display: inline-block;
    padding: $btn-padding-y-md $btn-padding-x-md;
    background-color: $default-fade;
    border: $ui-btn-border-width solid $default-fade;
    color: $body-color;
    font-size: $btn-font-size-md;
    @include font-family-weight( 'root', 'normal' );
    text-align: center;
    line-height: 1;
    border-radius: $btn-border-radius;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;

    &:hover,
    &:focus,
    &:active {
        color: $body-color;
        text-decoration: none;
    }

    a:hover &,
    a:focus &,
    a:active & {
        color: $body-color;
        text-decoration: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: default;
        opacity: .65;
        pointer-events: none;
    }

    @at-root {

        a#{&} {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }

    }

}
