/*
--------------------
#{$pr}#{$m}button#{$c3}(size)
--------------------
*/

.#{$pr}#{$m}button#{$c3}sm {
    max-width: map-get( $button-max-widths, 'sm' );
    min-height: $btn-height-sm;
    font-size: $btn-font-size-sm;
}

.#{$pr}#{$m}button#{$c3}lg {
    max-width: map-get( $button-max-widths, 'lg' );

    @include media-breakpoint-up(md) {
        min-height: $btn-height-lg;
        font-size: $btn-font-size-lg;
    }

}

.#{$pr}#{$m}button#{$c3}xl {
    max-width: map-get( $button-max-widths, 'xl' );
    min-height: $btn-height-lg;
    font-size: $btn-font-size-lg;

    @include media-breakpoint-up(md) {
        min-height: $btn-height-xl;
        font-size: $btn-font-size-xl;
    }

}

.#{$pr}#{$m}button#{$c3}xxl {
    max-width: map-get( $button-max-widths, 'xxl' );
    min-height: $btn-height-xl;
    font-size: $btn-font-size-xl;

    @include media-breakpoint-up(md) {
        min-height: $btn-height-xxl;
        font-size: $btn-font-size-xxl;
    }

}

