/*
--------------------
#{$pr}#{$m}button
--------------------
*/

.#{$pr}#{$m}button {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: map-get( $button-max-widths, 'md' );
    min-height: $btn-height-md;
    margin: 0 auto;
    // 下マージンはベースライン分を引く
    padding: .25em 1em .15em;
    background-color: $default-fade;
    border: $ui-btn-border-width solid $default-fade;
    color: $body-color;
    font-size: $btn-font-size-md;
    line-height: $line-height-xs;
    border-radius: $btn-border-radius;
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;

    &:hover,
    &:focus,
    &:active {
        color: $body-color;
        text-decoration: none;
    }

    a:hover &,
    a:focus &,
    a:active & {
        color: $body-color;
        text-decoration: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: default;
        opacity: .65;
        pointer-events: none;
    }

    @at-root {

        a#{&} {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }

    }

}
