/*
--------------------
#{$pr}#{$m}button#{$c3}block
--------------------
*/

.#{$pr}#{$m}button#{$c3}block {
    display: block;
    width: 100%;
    max-width: map-get( $object-max-widths, 'md' );
    margin: 0 auto;

    &.#{$pr}#{$m}button {
        padding-left: 0;
        padding-right: 0;
    }

    &.#{$pr}#{$m}button#{$c3}lg {

    }

    &.#{$pr}#{$m}button#{$c3}xl {

        @include media-breakpoint-up(sm) {
            max-width: map-get( $object-max-widths, 'lg' );
        }

    }

    &.#{$pr}#{$m}button#{$c3}xxl {
        max-width: none;

        @include media-breakpoint-up(sm) {
            max-width: map-get( $object-max-widths, 'lg' );
        }

        @include media-breakpoint-up(lg) {
            max-width: map-get( $object-max-widths, 'xl' ); 
        }

    }

}


/*
--------------------
#{$pr}#{$m}button#{$c3}oval
--------------------
*/

/*
note: Meaning of "10em"
「em」で大きな値を指定すると、ボタンが小判型になります。
Specify a large value for "em", the button becomes an oval type
--------------------
*/

.#{$pr}#{$m}button#{$c3}oval {
    border-radius: 10em;
}


/*
--------------------
#{$pr}#{$m}button#{$c3}circle
--------------------
*/

.#{$pr}#{$m}button#{$c3}circle {
    overflow: hidden;
    width: $btn-circle-width-md;
    height: $btn-circle-width-md;
    line-height: $btn-circle-width-md;
    border-radius: 50%;

    &.#{$pr}#{$m}button {
        padding: 0;
    }

    &.#{$pr}#{$m}button#{$c3}lg {
        width: $btn-circle-width-lg;
        height: $btn-circle-width-lg;
        line-height: $btn-circle-width-lg;
    }

    &.#{$pr}#{$m}button#{$c3}xl {
        width: $btn-circle-width-lg;
        height: $btn-circle-width-lg;
        line-height: $btn-circle-width-lg;

        @include media-breakpoint-up(md) {
            width: $btn-circle-width-xl;
            height: $btn-circle-width-xl;
            line-height: $btn-circle-width-xl;
        }
    }

    &.#{$pr}#{$m}button#{$c3}xxl {
        width: $btn-circle-width-xl;
        height: $btn-circle-width-xl;
        line-height: $btn-circle-width-xl;

        @include media-breakpoint-up(md) {
            width: $btn-circle-width-xxl;
            height: $btn-circle-width-xxl;
            line-height: $btn-circle-width-xxl;
        }

    }

}


/*
--------------------
#{$pr}#{$m}button#{$c3}square
--------------------
*/

.#{$pr}#{$m}button#{$c3}square {
    overflow: hidden;
    width: $btn-square-width-md;
    height: $btn-square-width-md;
    line-height: $btn-square-width-md;

    &.#{$pr}#{$m}button {
        padding: 0;
    }

    &.#{$pr}#{$m}button#{$c3}lg {
        width: $btn-square-width-lg;
        height: $btn-square-width-lg;
        line-height: $btn-square-width-lg;
    }

    &.#{$pr}#{$m}button#{$c3}xl {
        width: $btn-square-width-lg;
        height: $btn-square-width-lg;
        line-height: $btn-square-width-lg;

        @include media-breakpoint-up(md) {
            width: $btn-square-width-xl;
            height: $btn-square-width-xl;
            line-height: $btn-square-width-xl;
        }

    }

    &.#{$pr}#{$m}button#{$c3}xxl {
        width: $btn-square-width-xl;
        height: $btn-square-width-xl;
        line-height: $btn-square-width-xl;

        @include media-breakpoint-up(md) {
            width: $btn-square-width-xxl;
            height: $btn-square-width-xxl;
            line-height: $btn-square-width-xxl;
        }

    }

}


