/*
checkbox
--------------------
*/

.#{$p}checkbox {
    display: inline-block;

    &.#{$error},
    .#{$error} > & {
        color: $important-text;
    }

    input[type="checkbox"] {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        -webkit-transform:translate(0, -10%);
        -ms-transform:translate(0, -10%);
        transform:translate(0, -10%);
    }

}
