/*
---
title: #{$pr}#{$m}checkbox
name: checkbox
category: module-checkbox
---

チェックボックスとラベルをインライン表示する。input要素ではなく、包括している要素にクラスを付与する（ほとんどの場合、label要素となる）。  
余白・レイアウト等は <code>utility > .#{$pr}#{$u}padding</code> や <code>component > .#{$pr}#{$c}form</code> で指定する。  
<code>.#{$pr}#{$error}</code> を同時に使用するとエラーがあったときの表示となる。 

``` example
<p>
<label class="#{$pr}#{$m}checkbox #{$pr}#{$u}margin#{$c2}right#{$c3}md" for="checkbox1"><input type="checkbox" name="checkbox1" id="checkbox1" class="#{$pr}#{$u}margin#{$c2}right#{$c3}sm" value="1">#{$pr}#{$m}checkbox</label>
<label class="#{$pr}#{$m}checkbox #{$pr}#{$u}margin#{$c2}right#{$c3}md" for="checkbox2"><input type="checkbox" name="checkbox2" id="checkbox2" class="#{$pr}#{$u}margin#{$c2}right#{$c3}sm" value="2" checked="checked">#{$pr}#{$m}checkbox</label>
<label class="#{$pr}#{$m}checkbox #{$pr}#{$error}" for="checkbox3"><input type="checkbox" name="checkbox3" id="checkbox3" class="#{$pr}#{$u}margin#{$c2}right#{$c3}sm" value="3">#{$pr}#{$m}checkbox</label>
</p>
```
*/

.#{$pr}#{$m}checkbox {
    display: inline-block;

    &.#{$pr}#{$error},
    .#{$pr}#{$error} > & {
        color: $important-text;
    }

    input[type="checkbox"] {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        -webkit-transform:translate(0, -10%);
        -ms-transform:translate(0, -10%);
        transform:translate(0, -10%);
    }

}
