/*
--------------------
#{$pr}#{$m}checkbox
--------------------
*/

.#{$pr}#{$m}checkbox {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: $line-height-xs;

    .#{$pr}#{$m}checkbox-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.25em;
        height: 1.25em;
        border: $checkbox-border-width solid $checkbox-border-color;
        background-color: $checkbox-bg;
        border-radius: $border-radius-sm;
        z-index: 4;
    }

    input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        top: -.125em;
        left: -.125em;
        width: 1.5em;
        height: 1.5em;
        margin: 0;
        -webkit-appearance: none;
        appearance: none;
        z-index: 2;

        &:checked + .#{$pr}#{$m}checkbox-icon {
            background: $checkbox-checked-bg;
            border: $checkbox-border-width solid $checkbox-checked-border-color;

            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 30%;
                height: 60%;
                border-bottom: .2em solid $checkbox-checked-color;
                border-right: .2em solid $checkbox-checked-color;
                transform:
                    translate( -50%, 0 )
                    rotate( 45deg );
            }

        }

        &:focus {
            opacity: 1;
        }

    }

    .#{$pr}#{$m}checkbox-label {
        position: relative;
        padding-left: 1.75em;
        z-index: 3;
    }

    &.#{$pr}#{$error},
    .#{$pr}#{$error} > & {
        color: $important-text;

        .#{$pr}#{$m}checkbox-icon {
            border-color: $important;
        }

        input[type="checkbox"] {

            &:checked + .#{$pr}#{$m}checkbox-icon {
                background-color: $important;
                border-color: $important;
            }

        }

    }

}
