/*
dfn
--------------------
*/

.#{$p}dfn {
    display: inline-table;

    .#{$p}dfn-header {
        display: table-cell;
        padding-right: .25em;
        font-size: 3em;
        font-weight: $font-weight-first;
        font-family: $font-family-first;
        text-align: center;
        line-height: $line-height-none;
        vertical-align: middle;
        white-space: nowrap;

        @include media-breakpoint-up(xs) {
            padding-right: .4em;
        }

    }

    .#{$p}dfn-contents {
        display: table-cell;
        text-align: left;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        padding-top: ($line-height-sm - 1) + em;
        vertical-align: middle;
    }

}
