/*
--------------------
#{$pr}#{$m}input
--------------------
*/

.#{$pr}#{$m}input {
    padding: .375rem .5rem;
    background: $body-bg none;
    border: $border-input-width solid $border-color;
    color: $body-color;
    border-radius: $border-radius-sm;
    vertical-align: middle;

    &.#{$error},
    .#{$error} & {
        background-color: $important-fade;
        border-color: $important;
        color: $important-text;
    }

}


/*
--------------------
#{$pr}#{$m}input#{$c3}(size)
--------------------
*/

.#{$pr}#{$m}input#{$c3}sm {
    padding: .25rem;
    font-size: $font-size-sm;
}

.#{$pr}#{$m}input#{$c3}lg {
    padding: .5rem .5rem;
    font-size: $font-size-lg;
}


/*
--------------------
#{$pr}#{$m}input#{$c3}(color)
--------------------
*/

.#{$pr}#{$m}input#{$c3}#{$__gray} {
    border-color: $gray;
}

.#{$pr}#{$m}input#{$c3}#{$__first} {
    border-color: $first;
}

.#{$pr}#{$m}input#{$c3}#{$__second} {
    border-color: $second;
}

.#{$pr}#{$m}input#{$c3}#{$__third} {
    border-color: $third;
}

.#{$pr}#{$m}input#{$c3}#{$__fourth} {
    border-color: $fourth;
}

.#{$pr}#{$m}input#{$c3}#{$__info} {
    border-color: $info;
}
.#{$pr}#{$m}input#{$c3}#{$__important} {
    border-color: $important;
}
