/*
--------------------
#{$pr}#{$m}input#{$c3}(size)
--------------------
*/

.#{$pr}#{$m}input {
    font-size: map-get( $nav-min-font-sizes, 'md' );
    min-height: map-get( $nav-min-heights, 'md' );

    @include media-breakpoint-up(lg) {
        font-size: map-get( $nav-max-font-sizes, 'md' );
        min-height: map-get( $nav-max-heights, 'md' );
    }

    &.#{$pr}#{$m}input#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: map-get( $nav-min-font-sizes, 'md' );
            min-height: map-get( $nav-min-heights, 'md' );
        }

    }

}

.#{$pr}#{$m}input#{$c3}sm {
    font-size: map-get( $nav-min-font-sizes, 'sm' );
    min-height: map-get( $nav-min-heights, 'sm' );

    @include media-breakpoint-up(lg) {
        font-size: map-get( $nav-max-font-sizes, 'sm' );
        min-height: map-get( $nav-max-heights, 'sm' );
    }

    &.#{$pr}#{$m}input#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: map-get( $nav-min-font-sizes, 'sm' );
            min-height: map-get( $nav-min-heights, 'sm' );
        }

    }

}

.#{$pr}#{$m}input#{$c3}lg {
    font-size: map-get( $nav-min-font-sizes, 'lg' );
    min-height: map-get( $nav-min-heights, 'lg' );

    @include media-breakpoint-up(lg) {
        font-size: map-get( $nav-max-font-sizes, 'lg' );
        min-height: map-get( $nav-max-heights, 'lg' );
    }

    &.#{$pr}#{$m}input#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: map-get( $nav-min-font-sizes, 'lg' );
            min-height: map-get( $nav-min-heights, 'lg' );
        }

    }

}
