/*
input
--------------------
*/

.#{$p}input {
    padding: .375rem .5rem .25rem;
    background: $body-bg none;
    border: $border-width solid $border-color;
    color: $body-color;
    border-radius: $border-radius-sm;
    vertical-align: middle;

    &.#{$error},
    .#{$error} & {
        background-color: $important-fade;
        border-color: $important;
        color: $important-text;
    }

    &.#{$p}input-sm {
        padding: .25rem;
        font-size: $font-size-sm;
    }

    &.#{$p}input-lg {
        padding: .5rem .5rem;
        font-size: $font-size-lg;
    }

}
