/*
--------------------
#{$pr}#{$m}input
--------------------
*/

.#{$pr}#{$m}input {
    padding: .375rem .5rem;
    background: $input-bg none;
    border: $input-border-width solid $input-border-color;
    color: $input-color;
    border-radius: $border-radius-md;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;

    &:focus {
        color: $input-focus-color;
        background-color: $input-focus-bg;
        border-color: $input-focus-border-color;
    }

    &::-webkit-search-decoration {
      display: none;
    }

    &.#{$error},
    .#{$error} & {
        background-color: $input-bg;
        border-color: $important-strong;
        color: $important-strong;

        &:focus {
            background-color: $important-fade;
        }

    }

}


/*
--------------------
#{$pr}#{$m}input#{$c3}(size)
--------------------
*/

.#{$pr}#{$m}input#{$c3}sm {
    padding: .25rem;
    font-size: $font-size-sm;
}

.#{$pr}#{$m}input#{$c3}lg {
    padding: .5rem .5rem;
    font-size: $font-size-lg;
}

