/*
--------------------
#{$pr}#{$m}label
--------------------
*/

.#{$pr}#{$m}label {
    display: inline-block;
    min-width: 3em;
    margin-right: .5em;
    padding: .25rem .5em;
    background-color: $default-fade;
    font-size: .7em;
    @include font-family-weight( 'root', 'normal' );
    color: $ui-color;
    text-align: center;
    line-height: 1;
    vertical-align: middle;

    @at-root {

        a#{&} {
            color: $ui-color;
            text-decoration: none;
        }

    }

}
