/*
--------------------
#{$pr}#{$m}label
--------------------
*/

.#{$pr}#{$m}label {
    display: inline-block;
    min-width: 3em;
    margin-right: .5em;
    padding: .25rem .5em;
    background-color: $gray-mild;
    font-size: .7em;
    font-weight: $font-weight-root;
    color: $body-inverse-color;
    text-align: center;
    line-height: 1;
    vertical-align: middle;

    @at-root {

        a#{&} {
            color: $body-inverse-color;
            text-decoration: none;
        }

    }

}


/*
--------------------
#{$pr}#{$m}label#{$c3}(color)
--------------------
*/

.#{$pr}#{$m}label#{$c3}#{$__gray} {
    background-color: $gray;
}

.#{$pr}#{$m}label#{$c3}#{$__first} {
    background-color: $first;
}

.#{$pr}#{$m}label#{$c3}#{$__second} {
    background-color: $second;
}

.#{$pr}#{$m}label#{$c3}#{$__third} {
    background-color: $third;
}

.#{$pr}#{$m}label#{$c3}#{$__info} {
    background-color: $info;
}

.#{$pr}#{$m}label#{$c3}#{$__important} {
    background-color: $important;
}


/*
--------------------
#{$pr}#{$m}label#{$c3}#{$__inverse}
--------------------
*/

.#{$pr}#{$m}label#{$c3}#{$__inverse} {
    color: $body-color;
    background-color: $body-bg;

    @at-root {

        a#{&} {
            color: $body-color;
        }

    }

    &.#{$pr}#{$m}label#{$c3}#{$__first} {

        color: $first-strong;

        @at-root {

            a#{&} {
                color: $first-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}#{$__second} {

        color: $second-strong;

        @at-root {

            a#{&} {
                color: $second-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}#{$__third} {

        color: $third-strong;

        @at-root {

            a#{&} {
                color: $third-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}#{$__info} {

        color: $info-strong;

        @at-root {

            a#{&} {
                color: $info-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}#{$__important} {

        color: $important-strong;

        @at-root {

            a#{&} {
                color: $important-strong;
            }

        }

    }

}


/*
--------------------
#{$pr}#{$m}label#{$c3}oval
--------------------
*/

.#{$pr}#{$m}label#{$c3}oval {
    border-radius: 5em;
    padding-left: 1em;
    padding-right: 1em;
}
