/*
--------------------
#{$pr}#{$m}label
--------------------
*/

.#{$pr}#{$m}label {
    display: inline-block;
    min-width: 3em;
    margin-right: .5em;
    padding: .25rem .5em;
    background-color: $gray-fade;
    font-size: .7em;
    font-weight: $font-weight-root;
    color: $ui-color;
    text-align: center;
    line-height: 1;
    vertical-align: middle;

    @at-root {

        a#{&} {
            color: $ui-color;
            text-decoration: none;
        }

    }

}


/*
--------------------
#{$pr}#{$m}label#{$c3}(color)
--------------------
*/

.#{$pr}#{$m}label#{$c3}gray {
    background-color: $gray;
    color: $body-inverse-color;

    @at-root {

        a#{&} {
            color: $body-inverse-color;
        }

    }

}

.#{$pr}#{$m}label#{$c3}first {
    background-color: $first;
    color: $body-inverse-color;

    @at-root {

        a#{&} {
            color: $body-inverse-color;
        }

    }

}

.#{$pr}#{$m}label#{$c3}second {
    background-color: $second;
    color: $body-inverse-color;

    @at-root {

        a#{&} {
            color: $body-inverse-color;
        }

    }

}

.#{$pr}#{$m}label#{$c3}third {
    background-color: $third;
}

.#{$pr}#{$m}label#{$c3}info {
    background-color: $info;
    color: $body-inverse-color;

    @at-root {

        a#{&} {
            color: $body-inverse-color;
        }

    }

}

.#{$pr}#{$m}label#{$c3}important {
    background-color: $important;
    color: $body-inverse-color;

    @at-root {

        a#{&} {
            color: $body-inverse-color;
        }

    }

}


/*
--------------------
#{$pr}#{$m}label#{$c3}inverse
--------------------
*/

.#{$pr}#{$m}label#{$c3}inverse {
    color: $body-color;
    background-color: $body-bg;

    @at-root {

        a#{&} {
            color: $body-color;
        }

    }

    &.#{$pr}#{$m}label#{$c3}first {

        color: $first-strong;

        @at-root {

            a#{&} {
                color: $first-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}second {

        color: $second-strong;

        @at-root {

            a#{&} {
                color: $second-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}third {

        color: $third-strong;

        @at-root {

            a#{&} {
                color: $third-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}info {

        color: $info-strong;

        @at-root {

            a#{&} {
                color: $info-strong;
            }

        }

    }

    &.#{$pr}#{$m}label#{$c3}important {

        color: $important-strong;

        @at-root {

            a#{&} {
                color: $important-strong;
            }

        }

    }

}


/*
--------------------
#{$pr}#{$m}label#{$c3}oval
--------------------
*/

.#{$pr}#{$m}label#{$c3}oval {
    border-radius: 5em;
    padding-left: 1em;
    padding-right: 1em;
}
