/*doc
---
title: #{$p}#{$m}list
name: list
category: module-list
---

シンプルなリストを表示する。このクラス単独では整列のみ行う。  
リストの子要素にクラスを付与することができない場合は、 <code>/\_scss/config\_advance.css</code> の変数 <code>$list-item, $list-children</code> のセレクタを変更すること。

``` example
<ul class="#{$p}#{$m}list">
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせ</li>
    <li class="#{$p}#{$m}list-item">あいうえおかきく
        <ul class="#{$p}#{$m}list-children">
            <li class="#{$p}#{$m}list-item">あいうえお</li>
            <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20
                <ul class="#{$p}#{$m}list-children">
                    <li class="#{$p}#{$m}list-item">あいうえお</li>
                    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20</li>
                    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
                    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10</li>
                </ul>
            </li>
            <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
            <li class="#{$p}#{$m}list-item">あいうえおかきくけ10</li>
        </ul>
    </li>
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
</ul>
```

*/

.#{$p}#{$m}list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#{$list-item} {
    position: relative;
    margin: 0;
    line-height: $line-height-sm;
}

#{$list-children} {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}


/*doc
---
title: #{$p}#{$m}list-vertical
name: list-01-vertical
category: module-list
parent: list
---

階層構造を持ったリストを表示する。階層が深くなるごとに文字が小さくなる。

``` example
<ul class="#{$p}#{$m}list #{$p}#{$m}list-vertical">
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせ</li>
    <li class="#{$p}#{$m}list-item">あいうえおかきく
        <ul class="#{$p}#{$m}list-children">
            <li class="#{$p}#{$m}list-item">あいうえお</li>
            <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20
                <ul class="#{$p}#{$m}list-children">
                    <li class="#{$p}#{$m}list-item">あいうえお</li>
                    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20</li>
                    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20</li>
                    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10</li>
                </ul>
            </li>
            <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのは</li>
            <li class="#{$p}#{$m}list-item">あいうえおかきくけ10</li>
        </ul>
    </li>
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえ</li>
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
</ul>
```

*/

.#{$p}#{$m}list-vertical {

    #{$list-item} {
        margin-top: .75em;
        margin-bottom: .75em;
        padding-left: 1.5em;
    }

    #{$list-children} {
        padding-left: 0;

        #{$list-item} {
            font-size: .9em;
        }

    }

}


/*doc
---
title: #{$p}#{$m}list-horizontal
name: list-02-horizontal
category: module-list
parent: list
---

水平に並列するリストを表示する。階層構造を持たせたり、長いテキストを表示することはできない。  

``` example
<ul class="#{$p}#{$m}list #{$p}#{$m}list-horizontal">
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ10さしすせ</li>
    <li class="#{$p}#{$m}list-item">あいうえおかきく</li>
    <li class="#{$p}#{$m}list-item">あいうえお</li>
    <li class="#{$p}#{$m}list-item">あいうえおかきくけ</li>
</ul>
```

*/

.#{$p}#{$m}list-horizontal {
    letter-spacing: -.4em;

    #{$list-item} {
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
        letter-spacing: normal;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }

    }

}

