/*
--------------------
#{$pr}#{$m}list
--------------------
*/

.#{$pr}#{$m}list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.#{$pr}#{$m}list li,
.#{$pr}#{$m}list#{$c1}item {
    position: relative;
    margin: 0;
}

ul.#{$pr}#{$m}list li ul,
.#{$pr}#{$m}list#{$c1}children {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}


/*
--------------------
#{$pr}#{$m}list#{$c3}vertical
--------------------
*/

ul.#{$pr}#{$m}list#{$c3}vertical li,
.#{$pr}#{$m}list#{$c3}vertical .#{$pr}#{$m}list#{$c1}item {
    margin-top: .75em;
    margin-bottom: .75em;
}

ul.#{$pr}#{$m}list#{$c3}vertical li ul,
.#{$pr}#{$m}list#{$c3}vertical .#{$pr}#{$m}list#{$c1}children {
    padding-left: 1.5em;
}

ul.#{$pr}#{$m}list#{$c3}vertical li ul li,
.#{$pr}#{$m}list#{$c3}vertical .#{$pr}#{$m}list#{$c1}children .#{$pr}#{$m}list#{$c1}item {
    font-size: .9em;
}


/*
--------------------
#{$pr}#{$m}list#{$c3}horizontal
--------------------
*/

.#{$pr}#{$m}list#{$c3}horizontal {
    letter-spacing: -.4em;
}

ul.#{$pr}#{$m}list#{$c3}horizontal li,
.#{$pr}#{$m}list#{$c3}horizontal .#{$pr}#{$m}list#{$c1}item {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: normal;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

}

