/*doc
---
title: #{$pr}#{$m}list
name: list
category: module-list
---

改行される可能性があるテキストの表示を前提としたリストを表示する。このクラス単独では整列のみ行う。  
<code>ul</code> に使用した場合は、子要素にクラスを指定していなくても有効になる。  

``` example
<h3 class="#{$pr}#{$u}text#{$c3}lg">すべての要素にクラスを付与した場合</h3>
<ul class="#{$pr}#{$m}list">
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせ</li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきく
        <ul class="#{$pr}#{$m}list-children">
            <li class="#{$pr}#{$m}list-item">あいうえお</li>
            <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20
                <ul class="#{$pr}#{$m}list-children">
                    <li class="#{$pr}#{$m}list-item">あいうえお</li>
                    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20</li>
                    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
                    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10</li>
                </ul>
            </li>
            <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
            <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10</li>
        </ul>
    </li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
</ul>

<h3 class="#{$pr}#{$u}text#{$c3}lg #{$pr}#{$u}margin#{$c1}t#{$c3}lg">ulのみクラスを付与した場合</h3>
<ul class="#{$pr}#{$m}list">
    <li>あいうえおかきくけ10さしすせ</li>
    <li>あいうえおかきく
        <ul>
            <li>あいうえお</li>
            <li>あいうえおかきくけ10さしすせそたちつて20
                <ul>
                    <li>あいうえお</li>
                    <li>あいうえおかきくけ10さしすせそたちつて20</li>
                    <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
                    <li>あいうえおかきくけ10</li>
                </ul>
            </li>
            <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
            <li>あいうえおかきくけ10</li>
        </ul>
    </li>
    <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
    <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
</ul>
```

*/

.#{$pr}#{$m}list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.#{$pr}#{$m}list li,
.#{$pr}#{$m}list-item {
    position: relative;
    margin: 0;
    line-height: $line-height-sm;
}

ul.#{$pr}#{$m}list li ul,
.#{$pr}#{$m}list-children {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}


/*doc
---
title: #{$pr}#{$m}list-vertical
name: list-01-vertical
category: module-list
parent: list
---

階層構造を持ったリストを表示する。階層が深くなるごとに文字が小さくなる。

``` example
<h3 class="#{$pr}#{$u}text#{$c3}lg">すべての要素にクラスを付与した場合</h3>
<ul class="#{$pr}#{$m}list #{$pr}#{$m}list-vertical">
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせ</li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきく
        <ul class="#{$pr}#{$m}list-children">
            <li class="#{$pr}#{$m}list-item">あいうえお</li>
            <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20
                <ul class="#{$pr}#{$m}list-children">
                    <li class="#{$pr}#{$m}list-item">あいうえお</li>
                    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20</li>
                    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20</li>
                    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10</li>
                </ul>
            </li>
            <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのは</li>
            <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10</li>
        </ul>
    </li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえ</li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
</ul>

<h3 class="#{$pr}#{$u}text#{$c3}lg #{$pr}#{$u}margin#{$c1}t#{$c3}lg">ulのみクラスを付与した場合</h3>
<ul class="#{$pr}#{$m}list #{$pr}#{$m}list-vertical">
    <li>あいうえおかきくけ10さしすせ</li>
    <li>あいうえおかきく
        <ul>
            <li>あいうえお</li>
            <li>あいうえおかきくけ10さしすせそたちつて20
                <ul>
                    <li>あいうえお</li>
                    <li>あいうえおかきくけ10さしすせそたちつて20</li>
                    <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
                    <li>あいうえおかきくけ10</li>
                </ul>
            </li>
            <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
            <li>あいうえおかきくけ10</li>
        </ul>
    </li>
    <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
    <li>あいうえおかきくけ10さしすせそたちつて20なにぬねのはひふへ30まみむめもやゆよっ40らりるれろわをんー50</li>
</ul>
```

*/

ul.#{$pr}#{$m}list-vertical li,
.#{$pr}#{$m}list-vertical .#{$pr}#{$m}list-item {
    margin-top: .75em;
    margin-bottom: .75em;
}

ul.#{$pr}#{$m}list-vertical li ul,
.#{$pr}#{$m}list-vertical .#{$pr}#{$m}list-children {
    padding-left: 1.5em;
}

ul.#{$pr}#{$m}list-vertical li ul li,
.#{$pr}#{$m}list-vertical .#{$pr}#{$m}list-children .#{$pr}#{$m}list-item {
    font-size: .9em;
}


/*doc
---
title: #{$pr}#{$m}list-horizontal
name: list-02-horizontal
category: module-list
parent: list
---

水平に並列するリストを表示する。階層構造を持たせることはできない。  

``` example
<h3 class="#{$pr}#{$u}text#{$c3}lg">すべての要素にクラスを付与した場合</h3>
<ul class="#{$pr}#{$m}list #{$pr}#{$m}list-horizontal">
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ10さしすせ</li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきく</li>
    <li class="#{$pr}#{$m}list-item">あいうえお</li>
    <li class="#{$pr}#{$m}list-item">あいうえおかきくけ</li>
</ul>

<h3 class="#{$pr}#{$u}text#{$c3}lg #{$pr}#{$u}margin#{$c1}t#{$c3}lg">ulのみクラスを付与した場合</h3>
<ul class="#{$pr}#{$m}list #{$pr}#{$m}list-horizontal">
    <li>あいうえおかきくけ10さしすせ</li>
    <li>あいうえおかきく</li>
    <li>あいうえお</li>
    <li>あいうえおかきくけ</li>
</ul>
```

*/

.#{$pr}#{$m}list-horizontal {
    letter-spacing: -.4em;
}

ul.#{$pr}#{$m}list-horizontal li,
.#{$pr}#{$m}list-horizontal .#{$pr}#{$m}list-item {
    display: inline;
    padding-left: 1em;
    padding-right: 1em;
    letter-spacing: normal;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }

}

