/*doc
---
title: #{$pr}#{$m}nav
name: nav
category: module-nav
---

クリック範囲が広いナビゲーションを表示する。  
<code>ul > li a</code> の包括要素に使用した場合は、子要素にクラスを指定していなくても有効になる。  
現在地をハイライトする <code>.#{$nav-current}</code> は <code>.#{$pr}#{$m}nav-item , .#{$pr}#{$m}nav-label</code> のどちらに付与してもよい。  
テキストが複数行になった場合でも、ナビゲーションのすべてのテキストが縦中央に整列する。  
<code>.#{$pr}#{$m}nav-label</code> 内で装飾用の要素を使用すると崩れるため、その場合はダミーのインライン要素を加える。ここでは <code>span.#{$pr}#{$m}nav-text</code> としている。  

``` example
<h3 class="#{$pr}#{$u}text#{$c3}lg">すべての要素にクラスを付与した場合</h3>
<nav class="#{$pr}#{$m}nav">
    <div class="#{$pr}#{$m}nav#{$c1}list">
        <p class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
        </p>
        <p class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label #{$nav-current}">現在のページ</a>
        </p>
        <p class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">文字数が多いボタンです</a>
        </p>
        <p class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label"><span class="#{$pr}#{$m}nav#{$c1}text"><span class="#{$pr}#{$u}text#{$c3}xs">複数行の</span><br>ボタン</span></a>
        </p>
        <p class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
        </p>
        <p class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
        </p>
    </div><!-- /.nav-list -->
</nav><!-- /.nav -->

<h3 class="#{$pr}#{$u}text#{$c3}lg #{$pr}#{$u}margin#{$c2}top#{$c3}lg">包括要素のみクラスを付与した場合</h3>
<nav class="#{$pr}#{$m}nav">
    <ul>
        <li>
            <a href="#">ボタン</a>
        </li>
        <li>
            <a href="#" class="#{$nav-current}">現在のページ</a>
        </li>
        <li>
            <a href="#"><span class="#{$pr}#{$m}nav#{$c1}text"><span class="#{$pr}#{$u}text#{$c3}xs">複数行の</span><br>ボタン</span></a>
        </li>
        <li>
            <a href="#">ボタン</a>
        </li>
        <li>
            <a href="#">文字数が多いボタンです</a>
        </li>
        <li>
            <a href="#">ボタン</a>
        </li>
    </ul>
</nav><!-- /.nav -->

<h3 class="#{$pr}#{$u}text#{$c3}lg #{$pr}#{$u}margin#{$c2}top#{$c3}lg">#{$pr}#{$m}nav#{$c1}label のみ使用し、ナビゲーションの分割はグリッドにした場合</h3>
<ul class="#{$pr}#{$row} #{$pr}#{$row}#{$c3}0">
    <li class="#{$pr}#{$col}#{$c3}6 #{$pr}#{$col}#{$c2}md">
        <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
    </li>
    <li class="#{$pr}#{$col}#{$c3}6 #{$pr}#{$col}#{$c2}md">
        <a href="#" class="#{$pr}#{$m}nav#{$c1}label #{$nav-current}">現在のページ</a>
    </li>
    <li class="#{$pr}#{$col}#{$c3}4 #{$pr}#{$col}#{$c2}md">
        <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
    </li>
    <li class="#{$pr}#{$col}#{$c3}4 #{$pr}#{$col}#{$c2}md">
        <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
    </li>
    <li class="#{$pr}#{$col}#{$c3}4 #{$pr}#{$col}#{$c2}md">
        <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
    </li>
</ul>
```

*/

.#{$pr}#{$m}nav {
    display: inline-block;
    vertical-align: middle;
}

.#{$pr}#{$m}nav#{$c1}list,
.#{$pr}#{$m}nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.#{$pr}#{$m}nav#{$c1}list,
.#{$pr}#{$m}nav > ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.#{$pr}#{$m}nav#{$c1}item,
.#{$pr}#{$m}nav li {
    margin: 0;
}

.#{$pr}#{$m}nav#{$c1}item,
.#{$pr}#{$m}nav > ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav > ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 3em;

    color: $body-color;
    padding: .25em 1em;
    font-size: .875rem;
    line-height: $line-height-none;
    transition: .3s all;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

    @at-root {
        a#{&} {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }

    }

    &:hover,
    &:focus,
    &:active {
        color: $body-color;
        background-color: $gray-fade;
        text-decoration: none;
    }

    [class*="fa-"] {
        transform: translate(0, -.125em);
    }

}

.#{$pr}#{$m}nav#{$c1}label.#{$nav-current},
.#{$pr}#{$m}nav > ul li.#{$nav-current},
.#{$pr}#{$m}nav > ul li a.#{$nav-current} {
    background-color: $gray-fade;

    &:hover,
    &:focus,
    &:active {
        background-color: $gray-fade;
    }

}


/*doc
---
title: #{$pr}#{$m}nav#{$c3}vertical
name: nav-01-vertical
category: module-nav
parent: nav
---

幅100%の垂直ナビゲーションとして表示する。3階層まで表示できる。

``` example
<h3 class="#{$pr}#{$u}text#{$c3}lg">すべての要素にクラスを付与した場合</h3>
<nav class="#{$pr}#{$m}nav #{$pr}#{$m}nav#{$c3}vertical">
    <ul class="#{$pr}#{$m}nav#{$c1}list">
        <li class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
        </li>
        <li class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label #{$nav-current}">現在のページ</a>
            <ul class="#{$pr}#{$m}nav#{$c1}list #{$pr}#{$m}nav#{$c1}children">
                <li class="#{$pr}#{$m}nav#{$c1}item">
                    <a href="#" class="#{$pr}#{$m}nav#{$c1}label">2階層目ボタン</a>
                    <ul class="#{$pr}#{$m}nav#{$c1}list #{$pr}#{$m}nav#{$c1}children">
                        <li class="#{$pr}#{$m}nav#{$c1}item">
                            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">3階層目ボタン</a>
                        </li>
                        <li class="#{$pr}#{$m}nav#{$c1}item">
                            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">3階層目ボタン</a>
                        </li>
                        <li class="#{$pr}#{$m}nav#{$c1}item">
                            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">3階層目ボタン</a>
                        </li>
                    </ul>
                </li>
                <li class="#{$pr}#{$m}nav#{$c1}item">
                    <a href="#" class="#{$pr}#{$m}nav#{$c1}label">2階層目ボタン</a>
                </li>
                <li class="#{$pr}#{$m}nav#{$c1}item">
                    <a href="#" class="#{$pr}#{$m}nav#{$c1}label">2階層目ボタン</a>
                </li>
            </ul>
        </li>
        <li class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">文字数が多いボタンです</a>
        </li>
        <li class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label"><span class="#{$pr}#{$m}nav#{$c1}text"><span class="#{$pr}#{$u}text#{$c3}xs">複数行の</span><br>ボタン</span></a>
        </li>
        <li class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
        </li>
        <li class="#{$pr}#{$m}nav#{$c1}item">
            <a href="#" class="#{$pr}#{$m}nav#{$c1}label">ボタン</a>
        </li>
    </ul>
</nav><!-- /.nav -->

<h3 class="#{$pr}#{$u}text#{$c3}lg #{$pr}#{$u}margin#{$c2}top#{$c3}lg">包括要素のみクラスを付与した場合</h3>
<nav class="#{$pr}#{$m}nav #{$pr}#{$m}nav#{$c3}vertical">
    <ul>
        <li>
            <a href="#">ボタン</a>
        </li>
        <li>
            <a href="#" class="#{$nav-current}">現在のページ</a>
            <ul>
                <li>
                    <a href="#">2階層目ボタン</a>
                    <ul>
                        <li>
                            <a href="#">3階層目ボタン</a>
                        </li>
                        <li>
                            <a href="#">3階層目ボタン</a>
                        </li>
                        <li>
                            <a href="#">3階層目ボタン</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">2階層目ボタン</a>
                </li>
                <li>
                    <a href="#">2階層目ボタン</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#"><span class="#{$pr}#{$m}nav#{$c1}text"><span class="#{$pr}#{$u}text#{$c3}xs">複数行の</span><br>ボタン</span></a>
        </li>
        <li>
            <a href="#">ボタン</a>
        </li>
        <li>
            <a href="#">文字数が多いボタンです</a>
        </li>
        <li>
            <a href="#">ボタン</a>
        </li>
    </ul>
</nav><!-- /.nav -->
```

*/

.#{$pr}#{$m}nav#{$c3}vertical {
    width: 100%;
}

.#{$pr}#{$m}nav#{$c3}vertical .#{$pr}#{$m}nav#{$c1}list,
.#{$pr}#{$m}nav#{$c3}vertical > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.#{$pr}#{$m}nav#{$c3}vertical .#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav#{$c3}vertical > ul li a {
    justify-content: flex-start;
}


.#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav#{$c3}vertical > ul > li > ul > li a {
    font-size: .875rem;
    padding-left: 3rem;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

}


.#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav#{$c3}vertical > ul > li > ul > li > ul > li a {
    font-size: .75rem;
    padding-left: 5rem;

    @include media-breakpoint-up(sm) {
        font-size: .875rem;
    }

}


