/*
--------------------
#{$pr}#{$m}nav
--------------------
*/

.#{$pr}#{$m}nav {
    display: inline-block;
    vertical-align: middle;
}

.#{$pr}#{$m}nav#{$c1}list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.#{$pr}#{$m}nav#{$c1}item {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    margin: 0;
    padding: 0;
}

.#{$pr}#{$m}nav#{$c1}label {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 3em;

    color: $nav-color;
    background-color: $nav-bg;
    padding: .25em 1em;
    font-size: .875rem;
    line-height: 1;
    transition: .3s all;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

    @at-root {
        a#{&} {
            text-decoration: none;
            cursor: pointer;

            &:hover,
            &:focus {
                color: $nav-hover-color;
                background-color: $nav-hover-bg;
                text-decoration: none;
            }

        }

    }

}

.#{$pr}#{$m}nav#{$c1}label.#{$nav-current} {
    color: $nav-current-color;
    background-color: $nav-current-bg;

    &:hover,
    &:focus,
    &:active {
        color: $nav-current-hover-color;
        background-color: $nav-current-hover-bg;
    }

}


/*
--------------------
#{$pr}#{$m}nav#{$c3}vertical
--------------------
*/

.#{$pr}#{$m}nav#{$c3}vertical {
    width: 100%;
}

.#{$pr}#{$m}nav#{$c3}vertical .#{$pr}#{$m}nav#{$c1}list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.#{$pr}#{$m}nav#{$c3}vertical .#{$pr}#{$m}nav#{$c1}label {
    justify-content: flex-start;
    text-align: left;
}


.#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}label {
    font-size: .875rem;
    padding-left: 3rem;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

}


.#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}label {
    font-size: .75rem;
    padding-left: 5rem;

    @include media-breakpoint-up(sm) {
        font-size: .875rem;
    }

}


/*
--------------------
#{$pr}#{$m}nav#{$c3}inverse
--------------------
*/

.#{$pr}#{$m}nav#{$c3}inverse {
    background-color: $nav-inverse-bg;

    .#{$pr}#{$m}nav#{$c1}label {
        color: $nav-inverse-color;
        background-color: $nav-inverse-bg;
    }

    a.#{$pr}#{$m}nav#{$c1}label {

        &:hover,
        &:focus {
            color: $nav-inverse-hover-color;
            background-color: $nav-inverse-hover-bg;
            text-decoration: none;
        }

    }

    .#{$pr}#{$m}nav#{$c1}label.#{$nav-current} {
        color: $nav-inverse-current-color;
        background-color: $nav-inverse-current-bg;

        &:hover,
        &:focus,
        &:active {
            color: $nav-inverse-current-hover-color;
            background-color: $nav-inverse-current-hover-bg;
        }

    }

}

