/*
--------------------
#{$pr}#{$m}nav
--------------------
*/

.#{$pr}#{$m}nav {
    display: inline-block;
    vertical-align: middle;
}

.#{$pr}#{$m}nav#{$c1}list,
.#{$pr}#{$m}nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.#{$pr}#{$m}nav#{$c1}list,
.#{$pr}#{$m}nav > ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.#{$pr}#{$m}nav#{$c1}item,
.#{$pr}#{$m}nav li {
    margin: 0;
}

.#{$pr}#{$m}nav#{$c1}item,
.#{$pr}#{$m}nav > ul li {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav > ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height: 3em;

    color: $body-color;
    padding: .25em 1em;
    font-size: .875rem;
    line-height: $line-height-none;
    transition: .3s all;
    cursor: pointer;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

    @at-root {
        a#{&} {
            text-decoration: none;

            &:hover,
            &:focus {
                text-decoration: none;
            }

        }

    }

    &:hover,
    &:focus,
    &:active {
        color: $body-color;
        background-color: $gray-fade;
        text-decoration: none;
    }

}

.#{$pr}#{$m}nav#{$c1}label.#{$nav-current},
.#{$pr}#{$m}nav > ul li.#{$nav-current},
.#{$pr}#{$m}nav > ul li a.#{$nav-current} {
    background-color: $gray-fade;

    &:hover,
    &:focus,
    &:active {
        background-color: $gray-fade;
    }

}


/*
--------------------
#{$pr}#{$m}nav#{$c3}vertical
--------------------
*/

.#{$pr}#{$m}nav#{$c3}vertical {
    width: 100%;
}

.#{$pr}#{$m}nav#{$c3}vertical .#{$pr}#{$m}nav#{$c1}list,
.#{$pr}#{$m}nav#{$c3}vertical > ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.#{$pr}#{$m}nav#{$c3}vertical .#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav#{$c3}vertical > ul li a {
    justify-content: flex-start;
    text-align: left;
}


.#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav#{$c3}vertical > ul > li > ul > li a {
    font-size: .875rem;
    padding-left: 3rem;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

}


.#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}children .#{$pr}#{$m}nav#{$c1}label,
.#{$pr}#{$m}nav#{$c3}vertical > ul > li > ul > li > ul > li a {
    font-size: .75rem;
    padding-left: 5rem;

    @include media-breakpoint-up(sm) {
        font-size: .875rem;
    }

}


