/*doc
---
title: #{$p}#{$m}radio
name: radio
category: module-radio
---

ラジオボタンとラベルをインライン表示する。input要素ではなく、包括している要素にクラスを付与する（ほとんどの場合、label要素となる）。  
余白・レイアウト等は <code>utility > .#{$p}#{$u}p</code> や <code>component > .#{$p}#{$c}form</code> で指定する。  
<code>.#{$p}#{$error}</code> を同時に使用するとエラーがあったときの表示となる。 

``` example
<p>
<label class="#{$p}#{$m}radio #{$p}#{$u}m-r" for="radio1"><input type="radio" name="radio" id="radio1" class="#{$p}#{$u}m-r-sm" value="1">#{$p}#{$m}radio 1</label>
<label class="#{$p}#{$m}radio #{$p}#{$u}m-r" for="radio2"><input type="radio" name="radio" id="radio2" class="#{$p}#{$u}m-r-sm" value="2" checked="checked">#{$p}#{$m}radio 2</label>
<label class="#{$p}#{$m}radio #{$p}#{$u}m-r #{$p}#{$error}" for="radio3"><input type="radio" name="radio" id="radio3" class="#{$p}#{$u}m-r-sm" value="3">#{$p}#{$m}radio 3</label>
</p>
```
*/

.#{$p}#{$m}radio {
    position: relative;
    display: inline-block;

    &.#{$p}#{$error},
    .#{$p}#{$error} > & {
        color: $important-text;
    }

    input[type="radio"] {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        -webkit-transform:translate(0, -15%);
        -ms-transform:translate(0, -15%);
        transform:translate(0, -15%);
    }

}