/*
--------------------
#{$pr}#{$m}radio
--------------------
*/

.#{$pr}#{$m}radio {
    position: relative;
    display: inline-block;

    &.#{$pr}#{$error},
    .#{$pr}#{$error} > & {
        color: $important-text;
    }

    input[type="radio"] {
        display: inline-block;
        margin: 0;
        vertical-align: middle;
        transform:translate(0, -15%);
    }

}