/*
--------------------
#{$pr}#{$m}radio
--------------------
*/

.#{$pr}#{$m}radio {
    position: relative;
    display: inline-block;
    cursor: pointer;
    line-height: $line-height-xs;

    .#{$pr}#{$m}radio-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 1.25em;
        height: 1.25em;
        border: $radio-border-width solid $radio-border-color;
        background-color: $radio-bg;
        border-radius: 50%;
        z-index: 4;
    }

    input[type="radio"] {
        position: absolute;
        opacity: 0;
        -webkit-appearance: none;
        appearance: none;
        z-index: 2;

        &:checked + .#{$pr}#{$m}radio-icon {
            background: $radio-checked-bg;
            border: $radio-border-width solid $radio-checked-border-color;

            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 70%;
                height: 70%;
                background-color: $radio-checked-color;
                border-radius: 50%;
                transform: translate( -50%, -50% );
            }

        }

        &:focus + .#{$pr}#{$m}radio-icon {
            transform: scale( 1.25 );
        }

        &:focus + .#{$pr}#{$m}radio-icon + .#{$pr}#{$m}radio-label {
            text-decoration: underline;
        }

    }

    .#{$pr}#{$m}radio-label {
        position: relative;
        padding-left: 1.75em;
        z-index: 3;
    }

    &.#{$pr}#{$error},
    .#{$pr}#{$error} > & {
        color: $important-text;

        .#{$pr}#{$m}radio-icon {
            border-color: $important;
        }

        input[type="radio"] {

            &:checked + .#{$pr}#{$m}radio-icon {
                background-color: $radio-checked-bg;
                border-color: $important;

                &:after {
                    background-color: $important;
                }

            }

        }

    }

}