/*
--------------------
#{$pr}#{$m}select
--------------------
*/

.#{$pr}#{$m}select {
    display: inline-block;

    @include chevron( 'down', $body-color ) {
        &:before,
        &:after {
            font-size: 1.25em;
        }

        &:before {
            right: .85em;
            z-index: 3;
        }

        &:after {
            right: .5em;
            z-index: 4;
        }

    }

    select {
        position: relative;
        appearance: none;
        font-size: $font-size-md;
        color: $body-color;
        width: 100%;
        padding: .5em 3em .5em 1em;
        background-color: transparent;
        border: $border-input-width solid $border-color;
        vertical-align: middle;
        border-radius: $border-radius-md;
        outline: none;
        z-index: 2;

        &:focus {
            background-color: $gray-fade;
        }

    }

    &.#{$error},
    .#{$error} > & {
        background-color: $important-fade;
    }

    option {
        outline: none;
    }

}


/*
--------------------
#{$pr}#{$m}select#{$c3}(size)
--------------------
*/

.#{$pr}#{$m}select#{$c3}sm {

    > select {
        font-size: $font-size-sm;
        padding: .5em 3em .5em 1em;
    }

}

.#{$pr}#{$m}select#{$c3}lg {

    > select {
        font-size: $font-size-lg;
        padding: .75em 3em .75em 1em;
    }

}
