/*
--------------------
#{$pr}#{$m}select#{$c3}(size)
--------------------
*/

.#{$pr}#{$m}select {
    font-size: map-get( $nav-min-font-sizes, 'md' );

    > select {
        min-height: map-get( $nav-min-heights, 'md' );
    }

    @include media-breakpoint-up(lg) {
        font-size: map-get( $nav-max-font-sizes, 'md' );

        > select {
            min-height: map-get( $nav-max-heights, 'md' );
        }

    }

    &.#{$pr}#{$m}select#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: map-get( $nav-min-font-sizes, 'md' );

            > select {
                min-height: map-get( $nav-min-heights, 'md' );
            }

        }

    }

}

.#{$pr}#{$m}select#{$c3}sm {
    font-size: map-get( $nav-min-font-sizes, 'sm' );

    > select {
        min-height: map-get( $nav-min-heights, 'sm' );
    }

    @include media-breakpoint-up(lg) {
        font-size: map-get( $nav-max-font-sizes, 'sm' );

        > select {
            min-height: map-get( $nav-max-heights, 'sm' );
        }

    }

    &.#{$pr}#{$m}select#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: map-get( $nav-min-font-sizes, 'sm' );

            > select {
                min-height: map-get( $nav-min-heights, 'sm' );
            }

        }

    }

}

.#{$pr}#{$m}select#{$c3}lg {
    font-size: map-get( $nav-min-font-sizes, 'lg' );

    > select {
        min-height: map-get( $nav-min-heights, 'lg' );
    }

    @include media-breakpoint-up(lg) {
        font-size: map-get( $nav-max-font-sizes, 'lg' );

        > select {
            min-height: map-get( $nav-max-heights, 'lg' );
        }

    }

    &.#{$pr}#{$m}select#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: map-get( $nav-min-font-sizes, 'lg' );

            > select {
                min-height: map-get( $nav-min-heights, 'lg' );
            }

        }

    }

}
