/*
--------------------
#{$pr}#{$m}select
--------------------
*/

.#{$pr}#{$m}select {
    display: inline-block;
    font-size: $font-size-md;

    @include chevron( 'down', $body-color ) {
        &:after {
            top: 50%;
            right: .75em;
            margin-top: -.4em;
            z-index: 4;
        }

    }

    select {
        position: relative;
        -webkit-appearance: none;
        appearance: none;
        font-size: 1em;
        color: $body-color;
        width: 100%;
        padding: .5em 3em .5em 1em;
        background-color: transparent;
        border: $border-input-width solid $border-color;
        vertical-align: middle;
        border-radius: $border-radius-md;
        outline: none;
        z-index: 2;

        &::-ms-expand {
            display: none;
        }

        &:focus {
            background-color: $gray-fade;
        }

    }

    &.#{$error},
    .#{$error} > & {
        background-color: $important-fade;
    }

    option {
        outline: none;
    }

}


/*
--------------------
#{$pr}#{$m}select#{$c3}(size)
--------------------
*/

.#{$pr}#{$m}select#{$c3}sm {
    font-size: $font-size-sm;

    > select {
        padding: .5em 3em .5em 1em;
    }

}

.#{$pr}#{$m}select#{$c3}lg {
    font-size: $font-size-lg;

    > select {
        padding: .75em 3em .75em 1em;
    }

}
