/*doc
---
title: #{$pr}#{$m}table
name: table
category: module-table
---

表組を整形する。このクラス単独では整列のみ行う。  
幅は常に100%、セル内の文字は常に左寄せとなる。寄せ方向を変更したい場合は <code>utility > .#{$pr}#{$u}line-(direction)</code> を使用する。

``` example
<table class="#{$pr}#{$m}table">
    <caption>キャプション</caption>
    <tbody>
        <tr>
            <th>吾輩は猫である</th>
            <td>名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
        </tr>
        <tr>
            <th>吾輩は猫である名前はまだ無い。</th>
            <td>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
        </tr>
        <tr>
            <th>吾輩は猫</th>
            <td>である名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
        </tr>
    </tbody>
</table>
```

*/

.#{$pr}#{$m}table {
    max-width: 100%;
    background-color: $body-bg;
    border: 0 none;

    th,
    td {
        line-height: $line-height-sm;
        border: 0 none;
        padding: 0 .5rem .5rem;
        vertical-align: top;
    }

    tr {
        border: 0 none;
    }

    thead {

        th {
            vertical-align: bottom;
        }

    }

    caption {
        font-size: $font-size-lg;
        text-align: center;
        margin: 0 0 .5rem;
        line-height: $line-height-sm;
    }

}


/*doc
---
title: #{$pr}#{$m}table-bordered
name: table-01-bordered
category: module-table
parent: table
---

表組のセル全てにグリッド罫線を引く。

``` example
<table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered">
    <thead>
        <tr>
            <th>吾輩は</th>
            <th>猫である</th>
            <th>名前はまだ無い</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>吾輩は猫である</th>
            <td>名前はまだ無い</td>
            <td>どこで生れたかとんと見当がつかぬ</td>
        </tr>
        <tr>
            <th>何でも薄暗い</th>
            <td>じめじめした所でニャーニャー</td>
            <td>泣いていた事だけは記憶している</td>
        </tr>
        <tr>
            <th>吾輩はここで始めて</th>
            <td>人間というものを見た</td>
            <td>しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>どこで生れたか</th>
            <td>とんと</td>
            <td>見当がつかぬ</td>
        </tr>
    </tfoot>
</table>
```

*/

.#{$pr}#{$m}table-bordered {
    width: 100%;
    border-top: $border-table-width solid $border-color;
    border-left: $border-table-width solid $border-color;

    thead {
        border-bottom: $border-table-section-width solid $border-table-section-color;
    }

    tfoot {
        border-top: $border-table-section-width solid $border-table-section-color;
    }

    th,
    td {
        border-bottom: $border-table-width solid $border-color;
        border-right: $border-table-width solid $border-color;
        padding: .5rem;

        &:first-child {
            padding-left: .5rem;
        }

        &:last-child {
            padding-right: .5rem;
        }

    }

}


/*doc
---
title: #{$pr}#{$m}table-ruled
name: table-02-ruled
category: module-table
parent: table
---

表組の各セルの下のみ罫線を引く。Bootstrapの <code>.table</code> と同じ。

``` example
<table class="#{$pr}#{$m}table #{$pr}#{$m}table-ruled">
    <thead>
        <tr>
            <th>吾輩は</th>
            <th>猫である</th>
            <th>名前はまだ無い</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>吾輩は猫である</th>
            <td>名前はまだ無い</td>
            <td>どこで生れたかとんと見当がつかぬ</td>
        </tr>
        <tr>
            <th>何でも薄暗い</th>
            <td>じめじめした所でニャーニャー</td>
            <td>泣いていた事だけは記憶している</td>
        </tr>
        <tr>
            <th>吾輩はここで始めて</th>
            <td>人間というものを見た</td>
            <td>しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>どこで生れたか</th>
            <td>とんと</td>
            <td>見当がつかぬ</td>
        </tr>
    </tfoot>
</table>
```

*/

.#{$pr}#{$m}table-ruled {
    width: 100%;

    thead {
        border-bottom: $border-table-section-width solid $border-table-section-color;
    }

    th,
    td {
        border-bottom: $border-table-width solid $border-color;
        padding-top: 1rem;
        padding-bottom: .5rem;
    }

}


/*doc
---
title: #{$pr}#{$m}table-justify
name: table-03-justify
category: module-table
parent: table
---

列数、内容にかかわらず、セルを均等な幅にする。

``` example
<div style="margin-bottom: 2rem;">
    <table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered #{$pr}#{$m}table-justify">
        <tbody>
            <tr>
                <td>吾輩は猫である名前はまだ無い。どこで生れたかとんと見当がつかぬ。</td>
                <td>何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-bottom: 2rem;">
    <table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered #{$pr}#{$m}table-justify">
        <tbody>
            <tr>
                <td>吾輩は猫である名前は</td>
                <td>まだ無い。どこで生れたか</td>
                <td>とんと見当がつかぬ。</td>
                <td>何でも薄暗いじめじめした所で</td>
                <td rowspan="2">ニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
            <tr>
                <td>吾輩は猫である</td>
                <td>名前はまだ無い。</td>
                <td colspan="2">どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所で</td>
            </tr>
        </tbody>
    </table>
</div>
```

*/

.#{$pr}#{$m}table-justify {
    width: 100%;
    table-layout: fixed;
}


/*doc
---
title: #{$pr}#{$m}table-(ratio-first)to(ratio-second)to(ratio-third)
name: table-04-ratio
category: module-table
parent: table
---

2列または3列のセル幅を、 <code>(ratio) / 12</code> の比率にする。  
(ratio-first)to(ratio-second)to(ratio-third)は <code>3to9, 4to8, 3to3to6, 0to12</code> に対応している。   

``` example
<div style="margin-bottom: 2rem;">
    <table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered #{$pr}#{$m}table-3to9">
        <caption>.#{$pr}#{$m}table-3to9</caption>
        <tbody>
            <tr>
                <th>吾輩は猫である</th>
                <td>名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
            <tr>
                <th>吾輩は猫である名前はまだ無い。</th>
                <td>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-bottom: 2rem;">
    <table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered #{$pr}#{$m}table-4to8">
        <caption>.#{$pr}#{$m}table-4to8</caption>
        <tbody>
            <tr>
                <th>吾輩は猫である</th>
                <td>名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
            <tr>
                <th>吾輩は猫である名前はまだ無い。</th>
                <td>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-bottom: 2rem;">
    <table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered #{$pr}#{$m}table-3to3to6">
        <caption>.#{$pr}#{$m}table-3to3to6</caption>
        <tbody>
            <tr>
                <th>吾輩は猫である</th>
                <td>名前はまだ無い。</td>
                <td>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
            <tr>
                <th>吾輩は猫である名前はまだ無い。</th>
                <td>どこで生れたかとんと見当がつかぬ。</td>
                <td>何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered #{$pr}#{$m}table-0to12">
        <caption>.#{$pr}#{$m}table-0to12</caption>
        <tbody>
            <tr>
                <th>吾輩は猫</th>
                <td>である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</td>
            </tr>
            <tr>
                <th>吾輩はここで</th>
                <td>始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</td>
            </tr>
            <tr>
                <th>しかし</th>
                <td>その当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</td>
            </tr>
        </tbody>
    </table>
</div>
```

*/

.#{$pr}#{$m}table-3to9 {

    tr {

        th,
        td {
            width: percentage(9 / 12);

            &:first-child {
                width: percentage(3 / 12);
            }

        }

    }

}

.#{$pr}#{$m}table-4to8 {

    tr {

        th,
        td {
            width: percentage(8 / 12);

            &:first-child {
                width: percentage(4 / 12);
            }

        }

    }

}

.#{$pr}#{$m}table-3to3to6 {

    tr {

        th,
        td {
            width: percentage(3 / 12);

            &:last-child {
                width: percentage(6 / 12);
            }

        }

    }

}

.#{$pr}#{$m}table-0to12 {

    tr {

        th,
        td {
            width: 99.9%;

            &:first-child {
                width: auto;
                white-space: nowrap;
            }

        }

    }

}


/*doc
---
title: #{$pr}#{$m}table-break-sm-down
name: table-05-break-sm-down
category: module-table
parent: table
---

(breakpoint)が <code>sm</code> 以下のときに表組を解除する。  
2カラム以上の表の場合は <code>.#{$pr}#{$m}table-responsive</code> を推薦。

``` example
<table class="#{$pr}#{$m}table #{$pr}#{$m}table-break-sm-down #{$pr}#{$m}table-bordered" style="margin-bottom: 2rem;">
    <thead>
        <tr>
            <th>吾輩は猫である</th>
            <th>名前はまだ無い</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>吾輩は猫である名前はまだ無い</th>
            <td>どこで生れたかとんと見当がつかぬ</td>
        </tr>
        <tr>
            <th>何でも薄暗いじめじめした所で</th>
            <td>ニャーニャー泣いていた事だけは記憶している</td>
        </tr>
        <tr>
            <th>吾輩はここで始めて人間というものを見た</th>
            <td>しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>どこで生れたか</th>
            <td>とんと見当がつかぬ</td>
        </tr>
    </tfoot>
</table>

<table class="#{$pr}#{$m}table #{$pr}#{$m}table-break-sm-down #{$pr}#{$m}table-ruled">
    <thead>
        <tr>
            <th>吾輩は猫である</th>
            <th>名前はまだ無い</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>吾輩は猫である名前はまだ無い</th>
            <td>どこで生れたかとんと見当がつかぬ</td>
        </tr>
        <tr>
            <th>何でも薄暗いじめじめした所で</th>
            <td>ニャーニャー泣いていた事だけは記憶している</td>
        </tr>
        <tr>
            <th>吾輩はここで始めて人間というものを見た</th>
            <td>しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>どこで生れたか</th>
            <td>とんと見当がつかぬ</td>
        </tr>
    </tfoot>
</table>
```

*/

.#{$pr}#{$m}table-break-sm-down {

    @include media-breakpoint-down(sm) {
        display: block;
    }

    thead,
    tbody,
    tfoot {

        @include media-breakpoint-down(sm) {
            display: block;
        }

    }

    tr {

        @include media-breakpoint-down(sm) {
            display: block;
        }

    }

    th,
    td {

        @include media-breakpoint-down(sm) {
            display: block;
            width: 100%;
        }

    }

    &.#{$pr}#{$m}table-bordered {

        thead {
            border-bottom-width: $border-table-width;
        }

        tfoot {
            border-top-width: $border-table-width;
        }

    }

    &.#{$pr}#{$m}table-ruled {

        thead {
            border-bottom-width: $border-table-width;
        }

    }



}


/*doc
---
title: #{$pr}#{$m}table-responsive
name: table-06-responsive
category: module-table
parent: table
---

(breakpoint)が <code>md</code> 以下のときにスクロールバーを表示する。

``` example
<div class="#{$pr}#{$m}table-responsive">
    <table class="#{$pr}#{$m}table #{$pr}#{$m}table-bordered">
        <tbody>
            <tr>
                <th>吾輩は猫である</th>
                <td>名前はまだ無い</td>
                <td>どこで生れたかとんと見当がつかぬ</td>
            </tr>
            <tr>
                <th>何でも薄暗い</th>
                <td>じめじめした所でニャーニャー</td>
                <td>泣いていた事だけは記憶している</td>
            </tr>
        </tbody>
    </table>
</div>
```

*/

.#{$pr}#{$m}table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    > .#{$pr}#{$m}table {
        min-width: map-get($grid-breakpoints, md);
    }

}
