/*
--------------------
#{$pr}#{$m}title#{$c3}style#{$c3}(style)
--------------------
*/

.#{$pr}#{$m}title#{$c3}style#{$c3}a {

}

.#{$pr}#{$m}title#{$c3}style#{$c3}b {
    text-align: center;
}

.#{$pr}#{$m}title#{$c3}style#{$c3}c {
    text-align: center;
    padding-bottom: 1em;

    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translateX( -50% );
        width: 3em;
        height: .1875em;
        min-height: 3px;
        max-height: 8px;
        background-color: $default-fade;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}5,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}d {
    padding-bottom: .5em;

    &:before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: .125rem;
        min-height: 1px;
        background-color: $default;
        z-index: 11;
    }

    &:after {
        position: absolute;
        content: "";
        top: 100%;
        left: 0;
        transform: translateY( -.125rem );
        width: 3em;
        height: .1875em;
        min-height: 3px;
        max-height: 8px;
        background-color: $default-fade;
        z-index: 12;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}5,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {

        &:before {
            height: .0625rem;
        }

        &:after {
            transform: translateY( -.0625rem );
        }

    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}e {
    padding: .1em .25em;
    background-color: $default-fade;
}

.#{$pr}#{$m}title#{$c3}style#{$c3}f {
    padding-left: 1em;

    &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translateY( -50% );
        width: .75em;
        height: .1875em;
        min-height: 3px;
        max-height: 8px;
        background-color: $default-fade;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}5,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
    }

}
