/*
--------------------
#{$pr}#{$m}title#{$c3}style#{$c3}(style)
--------------------
*/

.#{$pr}#{$m}title#{$c3}style#{$c3}a {
    margin-bottom: 1em;

    &.#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}b {
    margin-bottom: 1em;
    text-align: center;

    .#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: .5em;
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: .5em;
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}c {
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 1em;

    &:after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        transform: translate( -50%, 0 );
        width: 3em;
        height: 3px;
        background-color: $body-color;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}5,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {

        &:after {
            height: 2px;
        }

    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}d {
    margin-bottom: 1em;
    padding-bottom: .5em;

    &:before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $body-color;
        z-index: 11;
    }

    &:after {
        position: absolute;
        content: "";
        bottom: -2px;
        left: 0;
        width: 3em;
        height: 3px;
        background-color: $body-color;
        z-index: 12;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}5,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;

        &:after {
            height: 2px;
        }

    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}e {
    margin-bottom: 1em;
    padding: .1em .25em;
    background-color: $default-fade;

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}5,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}f {
    padding-left: 1em;
    margin-bottom: 1em;

    &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translate( 0, -50% );
        width: .75em;
        height: 3px;
        background-color: $body-color;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}5,
    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}
