/*
--------------------
#{$pr}#{$m}title#{$c3}(color)
--------------------
*/

.#{$pr}#{$m}title#{$c3}first {

    &.#{$pr}#{$m}title#{$c3}style#{$c3}a,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}b {
        color: $first-strong;

        a {
            color: $first-strong;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}b,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}c,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}f {

        &:after {
            background-color: $first;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}d {
        border-bottom-color: $first;
    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}e {
        background-color: $first-fade;
    }

}

.#{$pr}#{$m}title#{$c3}second {

    &.#{$pr}#{$m}title#{$c3}style#{$c3}a,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}b {
        color: $second-strong;

        a {
            color: $second-strong;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}b,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}c,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}f {

        &:after {
            background-color: $second;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}d {
        border-bottom-color: $second;
    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}e {
        background-color: $second-fade;
    }

}

.#{$pr}#{$m}title#{$c3}third {

    &.#{$pr}#{$m}title#{$c3}style#{$c3}a,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}b {
        color: $third-strong;

        a {
            color: $third-strong;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}b,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}c,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}f {

        &:after {
            background-color: $third;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}d {
        border-bottom-color: $third;
    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}e {
        background-color: $third-fade;
    }

}

.#{$pr}#{$m}title#{$c3}info {

    &.#{$pr}#{$m}title#{$c3}style#{$c3}a,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}b {
        color: $info-strong;

        a {
            color: $info-strong;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}b,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}c,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}f {

        &:after {
            background-color: $info;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}d {
        border-bottom-color: $info;
    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}e {
        background-color: $info-fade;
    }

}

.#{$pr}#{$m}title#{$c3}important {

    &.#{$pr}#{$m}title#{$c3}style#{$c3}a,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}b {
        color: $important-strong;

        a {
            color: $important-strong;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}b,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}c,
    &.#{$pr}#{$m}title#{$c3}style#{$c3}f {

        &:after {
            background-color: $important;
        }

    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}d {
        border-bottom-color: $important;
    }

    &.#{$pr}#{$m}title#{$c3}style#{$c3}e {
        background-color: $important-fade;
    }

}

