/*
--------------------
#{$pr}#{$m}title
--------------------
*/

.#{$pr}#{$m}title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    @include font-family-weight( 'first', 'bold' );
    line-height: $line-height-xs;

    a {
        color: $body-color;
    }

}
