/*
--------------------
#{$pr}#{$m}title#{$c3}level#{$c3}(level)
--------------------
*/

.#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    font-size: ( 28/16 ) + em;

    @include media-breakpoint-up(lg) {
        font-size: ( 36/16 ) + em;
    }

}

.#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    font-size: ( 24/16 ) + em;

    @include media-breakpoint-up(lg) {
        font-size: ( 28/16 ) + em;
    }

}

.#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    font-size: ( 20/16 ) + em;

    @include media-breakpoint-up(lg) {
        font-size: ( 24/16 ) + em;
    }

}

.#{$pr}#{$m}title#{$c3}level#{$c3}4 {
    font-size: ( 18/16 ) + em;

    @include media-breakpoint-up(lg) {
        font-size: ( 20/16 ) + em;
    }

}

.#{$pr}#{$m}title#{$c3}level#{$c3}5 {
    font-size: ( 17/16 ) + em;

    @include media-breakpoint-up(lg) {
        font-size: ( 18/16 ) + em;
    }

}

.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
    font-size: ( 16/16 ) + em;
}

