/*
--------------------
#{$pr}#{$m}title#{$c3}style#{$c3}(style)
--------------------
*/

.#{$pr}#{$m}title#{$c3}style#{$c3}a {
    text-align: center;
    margin-bottom: 2em;

    &:after {
        content: "";
        display: block;
        width: 5em;
        height: 2px;
        margin: 1em auto 0;
        background-color: $body-color;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: 1em;

        &:after {
            height: 1px;
        }

    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: 1em;

        &:after {
            height: 1px;
        }

    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: 1em;

        &:after {
            height: 1px;
        }

    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}b {
    margin-bottom: 1em;
    padding-bottom: .5em;
    border-bottom: 2px solid $body-color;

    &.#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: .5em;
        border-width: 1px;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
        border-width: 1px;
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}c {
    margin-bottom: 1em;
    padding: .25em;
    background-color: $gray-fade;

    &.#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}d {
    padding-left: 1em;
    margin-bottom: 1em;

    &:after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        transform: translate( 0, -50% );
        width: .75em;
        height: .2em;
        background-color: $body-color;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}e {
    margin-bottom: 1em;
    text-align: center;

    &.#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: .5em;
    }

    &.#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}

.#{$pr}#{$m}title#{$c3}style#{$c3}f {
    margin-bottom: 1em;

    .#{$pr}#{$m}title#{$c3}level#{$c3}1 {
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}2 {
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}3 {
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}4 {
        margin-bottom: .5em;
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}5 {
        margin-bottom: .5em;
    }

    .#{$pr}#{$m}title#{$c3}level#{$c3}6 {
        margin-bottom: .5em;
    }

}

