/*doc
---
title: #{$pr}#{$m}title-(type)
name: title
category: module-title
---

見出しを表示する。ウィンドウ幅によって外観が変動する。
余白は <code>utility > .#{$pr}#{$u}margin</code> で別途調整する。

<code>(type)</code> は番号により、以下の箇所に使用する前提となっている。

- <code>01 - 09</code> : コンテンツ見出し
- <code>11 - 19</code> : <code>.#{$pr}#{$c}card</code> 等のコンポーネント内見出し
- <code>21 - 29</code> : <code>.#{$pr}#{$c}hero</code> 等のディスプレイ見出し


``` example
<div style="margin-bottom: 2rem;">

<h1 class="#{$pr}#{$m}title-01">h1要素に#{$pr}#{$m}title-01を付与しました</h1>
<h1 class="#{$pr}#{$m}title-02">h1要素に#{$pr}#{$m}title-02を付与しました</h1>
<h1 class="#{$pr}#{$m}title-03">h1要素に#{$pr}#{$m}title-03を付与しました</h1>
<h1 class="#{$pr}#{$m}title-04">h1要素に#{$pr}#{$m}title-04を付与しました</h1>
<h1 class="#{$pr}#{$m}title-05">h1要素に#{$pr}#{$m}title-05を付与しました</h1>

</div>
<div style="margin-bottom: 2rem;">

<h2 class="#{$pr}#{$m}title-11">h2要素に#{$pr}#{$m}title-11を付与しました</h2>
<h2 class="#{$pr}#{$m}title-12">h2要素に#{$pr}#{$m}title-12を付与しました</h2>
<h2 class="#{$pr}#{$m}title-13">h2要素に#{$pr}#{$m}title-13を付与しました</h2>

</div>
<div style="margin-bottom: 2rem;">

<h3 class="#{$pr}#{$m}title-21">h3要素に#{$pr}#{$m}title-21を付与しました</h3>
<h3 class="#{$pr}#{$m}title-22">h3要素に#{$pr}#{$m}title-22を付与しました</h3>
<h3 class="#{$pr}#{$m}title-23">h3要素に#{$pr}#{$m}title-23を付与しました</h3>

</div>
```
*/

*[class*="#{$pr}#{$m}title-"] {
    margin: 0;
    line-height: $line-height-sm;
    list-style-type: none;
}

.#{$pr}#{$m}title-01 {
    font-size: 2rem;
    font-weight: $font-weight-first;
    font-family: $font-family-first;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 3rem;
    }

}

.#{$pr}#{$m}title-02 {
    font-size: 1.5rem;
    font-weight: $font-weight-first;
    font-family: $font-family-first;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.75rem;
    }

}

.#{$pr}#{$m}title-03 {
    font-size: 1.5rem;
    font-weight: $font-weight-root;
    font-family: $font-family-root;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.75rem;
    }

}

.#{$pr}#{$m}title-04 {
    font-size: 1.125rem;
    font-weight: $font-weight-first;
    font-family: $font-family-first;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
    }

}

.#{$pr}#{$m}title-05 {
    font-size: 1rem;
    font-weight: $font-weight-bold-root;
    font-family: $font-family-bold-root;

    @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
    }

}



.#{$pr}#{$m}title-11 {
    font-size: 1.25rem;
    font-weight: $font-weight-first;
    font-family: $font-family-first;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
    }

}

.#{$pr}#{$m}title-12 {
    font-size: 1rem;
    font-weight: $font-weight-bold-root;
    font-family: $font-family-bold-root;

    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
    }

}

.#{$pr}#{$m}title-13 {
    font-size: .875rem;
    font-weight: $font-weight-bold-root;
    font-family: $font-family-bold-root;

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }
}



.#{$pr}#{$m}title-21 {
    font-size: 1.5rem;
    font-weight: $font-weight-bold-third;
    font-family: $font-family-bold-third;

    @include media-breakpoint-up(sm) {
        font-size: 1.75rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2rem;
    }

}

.#{$pr}#{$m}title-22 {
    font-size: 2rem;
    font-weight: $font-weight-bold-third;
    font-family: $font-family-bold-third;

    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 3rem;
    }

}

.#{$pr}#{$m}title-23 {
    font-size: 3rem;
    font-weight: $font-weight-bold-third;
    font-family: $font-family-bold-third;

    @include media-breakpoint-up(md) {
        font-size: 3.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 4rem;
    }

}
