/*
--------------------
#{$pr}#{$m}toggle
--------------------
*/

.#{$pr}#{$m}toggle {
    position: relative;
    display: inline-block;
    width: map-get( $nav-min-heights, 'md' );
    height: map-get( $nav-min-heights, 'md' );
    padding: 0;
    line-height: 1;
    border-width: 0;
    color: $ui-color;
    background-color: $ui-bg;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    transition:
        background-color .3s,
        border-color .3s,
        color .3s;

    .#{$pr}#{$m}toggle#{$c1}line {

        &:before,
        &:after {
            background-color: $ui-color;
        }

    }

    &:hover,
    &:focus {
        color: $ui-hover-color;
        background-color: $ui-hover-bg;

        .#{$pr}#{$m}toggle#{$c1}line {

            &:before,
            &:after {
                background-color: $ui-hover-color;
            }

        }

    }

    &[aria-expanded="false"] {

        .#{$pr}#{$m}toggle#{$c1}line {
            background-color: $ui-color;
        }

        &:hover,
        &:focus {

            .#{$pr}#{$m}toggle#{$c1}line {
                background-color: $ui-hover-color;
            }

        }

    }

}

.#{$pr}#{$m}toggle#{$c1}line {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: .1875rem;
    transform: translate( -50%, -50% );
    transition: background-color .3s;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        height: .1875rem;
        transform: rotate( 0deg );
        transform-origin: center center;
        transition:
            background-color .3s,
            transform .3s;
    }

    &:before {
        top: -.5625rem;
    }

    &:after {
        bottom: -.5625rem;
    }

    .#{$pr}#{$m}toggle[aria-expanded="true"] & {
        width: 60%;

        &:before {
            top: 0;
            transform: rotate( 45deg );
        }

        &:after {
            top: 0;
            transform: rotate( -45deg );
        }

    }

}

