/*doc
---
title: #{$p}#{$u}bg-(color)
name: bg-01-color
category: utility-bg
---

背景に色をつける。オブジェクト・コンポーネントを可能な限り上書きする。

``` example
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-first">bg-first</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-second">bg-second</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-third">bg-third</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-fourth">bg-fourth</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-fifth">bg-fifth</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-info">bg-info</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-important">bg-important</div>
```

*/

/*doc
---
title: #{$p}#{$u}bg-mild
name: bg-02-mild
category: utility-bg
---

.#{$p}#{$u}bg-(color)と併用すると背景色を弱める。オブジェクト・コンポーネントを可能な限り上書きする。.#{$p}#{$u}bgを付与する必要はない。

``` example
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-first #{$p}#{$u}bg-mild">bg-first</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-second #{$p}#{$u}bg-mild">bg-second</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-third #{$p}#{$u}bg-mild">bg-third</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-fourth #{$p}#{$u}bg-mild">bg-fourth</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-fifth #{$p}#{$u}bg-mild">bg-fifth</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-info #{$p}#{$u}bg-mild">bg-info</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-important #{$p}#{$u}bg-mild">bg-important</div>
```

*/

/*doc
---
title: #{$p}#{$u}bg-fade
name: bg-03-fade
category: utility-bg
---

.#{$p}#{$u}bg-(color)と併用すると背景色を薄くする。オブジェクト・コンポーネントを可能な限り上書きする。.#{$p}#{$u}bgを付与する必要はない。

``` example
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-first #{$p}#{$u}bg-fade">bg-first</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-second #{$p}#{$u}bg-fade">bg-second</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-third #{$p}#{$u}bg-fade">bg-third</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-fourth #{$p}#{$u}bg-fade">bg-fourth</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-fifth #{$p}#{$u}bg-fade">bg-fifth</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-info #{$p}#{$u}bg-fade">bg-info</div>
<div class="#{$p}#{$u}m-b #{$p}#{$u}p-sm #{$p}#{$u}bg-important #{$p}#{$u}bg-fade">bg-important</div>
```

*/

/*doc
---
title: #{$p}#{$u}bg-inverse
name: bg-04-inverse
category: utility-bg
---

文字色と背景色を反転する。オブジェクト・コンポーネントを可能な限り上書きする。.#{$p}#{$u}bgを付与する必要はない。

``` example
<div class="#{$p}#{$u}p-sm #{$p}#{$u}bg-inverse">bg-inverse</div>
```

*/

.#{$p}#{$u}bg-first {
    background-color: $first;

    &:not(.#{$p}#{$u}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}#{$u}bg-mild {
        background-color: $first-mild;
    }

    &.#{$p}#{$u}bg-fade {
        background-color: $first-fade;
    }

}

.#{$p}#{$u}bg-second {
    background-color: $second;

    &:not(.#{$p}#{$u}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}#{$u}bg-mild {
        background-color: $second-mild;
    }

    &.#{$p}#{$u}bg-fade {
        background-color: $second-fade;
    }

}

.#{$p}#{$u}bg-third {
    background-color: $third;

    &:not(.#{$p}#{$u}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}#{$u}bg-mild {
        background-color: $third-mild;
    }

    &.#{$p}#{$u}bg-fade {
        background-color: $third-fade;
    }

}

.#{$p}#{$u}bg-fourth {
    background-color: $fourth;

    &:not(.#{$p}#{$u}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}#{$u}bg-mild {
        background-color: $fourth-mild;
    }

    &.#{$p}#{$u}bg-fade {
        background-color: $fourth-fade;
    }

}

.#{$p}#{$u}bg-fifth {
    background-color: $fifth;

    &:not(.#{$p}#{$u}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}#{$u}bg-mild {
        background-color: $fifth-mild;
    }

    &.#{$p}#{$u}bg-fade {
        background-color: $fifth-fade;
    }

}

.#{$p}#{$u}bg-info {
    background-color: $info;

    &:not(.#{$p}#{$u}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}#{$u}bg-mild {
        background-color: $info-mild;
    }

    &.#{$p}#{$u}bg-fade {
        background-color: $info-fade;
    }

}

.#{$p}#{$u}bg-important {
    background-color: $important;

    &:not(.#{$p}#{$u}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}#{$u}bg-mild {
        background-color: $important-mild;
    }

    &.#{$p}#{$u}bg-fade {
        background-color: $important-fade;
    }

}

.#{$p}#{$u}bg-inverse {
    color: $body-inverse-color;
    background-color: $body-inverse-bg;

    & a:not([class]) {
        color: $body-inverse-color;
    }

}

