@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}bg#{$c3}(color)
#{$pr}#{$u}bg#{$c3}fade
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}bg#{$c3}#{$__gray} {
        background-color: $gray;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

    }

    .#{$pr}#{$u}bg#{$c3}#{$__gray_light} {

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $gray-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}#{$__first} {
        background-color: $first;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $first-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}#{$__second} {
        background-color: $second;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $second-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}#{$__third} {
        background-color: $third;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $third-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}#{$__fourth} {
        background-color: $fourth;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $fourth-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}#{$__info} {
        background-color: $info;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $info-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}#{$__important} {
        background-color: $important;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $important-fade;
        }

    }

}

}
