@if ($disabled-utility-class != true) {

/*doc
---
title: #{$pr}#{$u}clear
name: clear
category: utility-clear
---

floatを解除する。

``` example
<div class="#{$pr}#{$u}float-l">
    <div class="#{$pr}#{$m}thumbnail">
        <img src="https://placehold.jp/150x150.jpg?text=float-l" alt="">
    </div>
</div>

<p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>
吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>

<p class="#{$pr}#{$u}clear">#{$pr}#{$u}clear_掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。<br>
第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</p>
```

*/

#{$u-wrap} {

	.#{$pr}#{$u}clear {
	    clear: both;
	}

}

}