@if ($disabled-utility-class != true) {

/*doc
---
title: #{$pr}#{$u}container-expand
name: container-expand
category: utility-container-expand
---

コンテナブロックの最大幅を無視して、要素の背景とボーダーのみをウィンドウ全体に広げる。  
仕様上、2カラム以上のレイアウトでは使用できない。  
<code>.#{$pr}#{$l}document</code> の幅制限を解除していると、横スクロールバーが表示されてしまう。

``` example
<div class="#{$pr}#{$l}container #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-mild #{$pr}#{$u}m-b #{$pr}#{$u}p">
    <div class="#{$pr}#{$u}p-y #{$pr}#{$u}line-c #{$pr}#{$u}m-b" style="background-color: rgba(255,255,255,.5); color: #000">(#{$pr}#{$l}container + contents)</div>

    <div class="#{$pr}#{$u}container-expand #{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}bg-mild">
        <div class="#{$pr}#{$u}p-y #{$pr}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(#{$pr}#{$l}container + #{$pr}#{$u}container-expand + contents)</div>
    </div>
</div>
```

*/

#{$u-wrap} {

	.#{$pr}#{$u}container-expand {
	    margin-left: -9999px;
	    margin-right: -9999px;
	    padding-left: 9999px;
	    padding-right: 9999px;
	}

}

}