@if ($disabled-utility-class != true) {

/*doc
---
title: #{$p}#{$u}display-(type)
name: display-01-type
category: utility-display
---

テキストを大見出しに変更する。  
余白等は <code>utility > .#{$p}#{$u}m</code> や <code>utility > .#{$p}#{$u}p</code> で指定する。  
(type)は、 <code>1, 2, 3, 4</code> に対応しており、**必ずしも文字の大きさを表すものではない。**

``` example
<h1 class="#{$p}#{$u}display-1">これはdisplay-1です</h1>
<h1 class="#{$p}#{$u}display-2">これはdisplay-2です</h1>
<h1 class="#{$p}#{$u}display-3">これはdisplay-3です</h1>
<h1 class="#{$p}#{$u}display-4">これはdisplay-4です</h1>
```

*/

#{$u-wrap} {

    .#{$p}#{$u}display-1 {
        margin: 0;
        padding: 0;
        font-family: $font-family-first;
        font-weight: $font-weight-first;
        font-size: $font-size-display-1;
        line-height: $line-height-xs;
    }

    .#{$p}#{$u}display-2 {
        margin: 0;
        padding: 0;
        font-family: $font-family-first;
        font-weight: $font-weight-first;
        font-size: $font-size-display-2;
        line-height: $line-height-xs;
    }

    .#{$p}#{$u}display-3 {
        margin: 0;
        padding: 0;
        font-family: $font-family-first;
        font-weight: $font-weight-first;
        font-size: $font-size-display-3;
        line-height: $line-height-xs;
    }

    .#{$p}#{$u}display-4 {
        margin: 0;
        padding: 0;
        font-family: $font-family-first;
        font-weight: $font-weight-first;
        font-size: $font-size-display-4;
        line-height: $line-height-xs;
    }

}

}
