@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}expand
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}expand {
	    margin-left: -100vw;
	    margin-right: -100vw;
	    padding-left: 100vw;
	    padding-right: 100vw;
	}

}


/*
--------------------
#{$pr}#{$u}expand#{$c3}sm#{$c3}down
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}expand#{$c3}sm#{$c3}down {

	    @include media-breakpoint-down(sm) {
		    margin-left: (map-get($grid-gutter-widths, md) / -2);
		    margin-right: (map-get($grid-gutter-widths, md) / -2);
	    }

	}

}


}