@if ($disabled-utility-class != true) {

/*doc
---
title: #{$p}#{$u}float-(direction)
name: float-direction
category: utility-float
---

指定した要素を(direction)で指示した方向に寄せる。

``` example
<div class="#{$p}#{$u}float-l">
    <div class="#{$p}#{$m}thumbnail">
        <img src="https://placehold.jp/150x150.jpg?text=float-l" alt="">
    </div>
</div>

<p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>
吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>

<p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。<br>
第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。<br>
のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。どうも咽せぽくて実に弱った。<br>
これが人間の飲む煙草というものである事はようやくこの頃知った。</p>

<div class="#{$p}#{$u}float-r">
    <div class="#{$p}#{$m}thumbnail">
        <img src="https://placehold.jp/150x150.jpg?text=float-r" alt="">
    </div>
</div>

<p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。<br>
吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>

<p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。<br>
第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。<br>
のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。どうも咽せぽくて実に弱った。<br>
これが人間の飲む煙草というものである事はようやくこの頃知った。</p>
```

*/

.#{$p}#{$u}float-l {
	float: left;
}

.#{$p}#{$u}float-r {
	float: right;
}


}