@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}float#{$c3}(direction)
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}float#{$c3}left {
		float: left;
		margin-right: ($spacer * 1.5);
		margin-bottom: $spacer;

        @include media-breakpoint-up(sm) {
			margin-right: ($spacer * 2);
        }

        @include media-breakpoint-up(lg) {
			margin-right: ($spacer * 3);
        }

	}

	.#{$pr}#{$u}float#{$c3}right {
		float: right;
		margin-left: ($spacer * 1.5);
		margin-bottom: $spacer;

        @include media-breakpoint-up(sm) {
			margin-left: ($spacer * 2);
        }

        @include media-breakpoint-up(lg) {
			margin-left: ($spacer * 3);
        }

	}

}

}