/*
--------------------
#{$pr}#{$u}font#{$c3}(face)
#{$pr}#{$u}font#{$c3}bold
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}font#{$c3}root {
        @include font-family-weight( 'root', 'normal' );

        &.#{$pr}#{$u}font#{$c3}bold {
            @include font-family-weight( 'root', 'bold' );
        }

    }

    .#{$pr}#{$u}font#{$c3}mono {
        @include font-family-weight( 'mono' );
    }

    .#{$pr}#{$u}font#{$c3}first {
        @include font-family-weight( 'first', 'normal' );

        &.#{$pr}#{$u}font#{$c3}bold {
            @include font-family-weight( 'first', 'bold' );
        }

    }

    .#{$pr}#{$u}font#{$c3}second {
        @include font-family-weight( 'second', 'normal' );

        &.#{$pr}#{$u}font#{$c3}bold {
            @include font-family-weight( 'second', 'bold' );
        }

    }

    .#{$pr}#{$u}font#{$c3}third {
        @include font-family-weight( 'third', 'normal' );

        &.#{$pr}#{$u}font#{$c3}bold {
            @include font-family-weight( 'third', 'bold' );
        }

    }

}
