/*
--------------------
#{$pr}#{$u}font#{$c3}(face)
#{$pr}#{$u}font#{$c3}bold
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}font#{$c3}root {
        font-family: $font-family-root;
        font-family: $font-weight-root;

        &.#{$pr}#{$u}font#{$c3}bold {
            font-family: $font-family-bold-root;
            font-weight: $font-weight-bold-root;
        }

    }

    .#{$pr}#{$u}font#{$c3}mono {
        font-family: $font-family-mono;
    }

    .#{$pr}#{$u}font#{$c3}first {
        font-family: $font-family-first;
        font-weight: $font-weight-first;

        &.#{$pr}#{$u}font#{$c3}bold {
            font-family: $font-family-bold-first;
            font-weight: $font-weight-bold-first;
        }

    }

    .#{$pr}#{$u}font#{$c3}second {
        font-family: $font-family-second;
        font-weight: $font-weight-second;

        &.#{$pr}#{$u}font#{$c3}bold {
            font-family: $font-family-bold-second;
            font-weight: $font-weight-bold-second;
        }

    }

    .#{$pr}#{$u}font#{$c3}third {
        font-family: $font-family-third;
        font-weight: $font-weight-third;

        &.#{$pr}#{$u}font#{$c3}bold {
            font-family: $font-family-bold-third;
            font-weight: $font-weight-bold-third;
        }

    }

}
