@if ($use-font-in-reliable != true) {

/*doc
---
title: #{$p}#{$u}font-(face)
name: font-01-face
category: utility-font
---

フォントを変更する。オブジェクト・コンポーネントを可能な限り上書きする。

``` example
<p class="#{$p}#{$u}text-xl #{$p}#{$u}font-first">#{$p}#{$u}font-first_デザインフォント01に変更しました</p>
<p class="#{$p}#{$u}text-xl #{$p}#{$u}font-second">#{$p}#{$u}font-second_デザインフォント02に変更しました</p>
<p class="#{$p}#{$u}text-xl #{$p}#{$u}font-third">#{$p}#{$u}font-third_デザインフォント03に変更しました</p>
<p class="#{$p}#{$u}text-xl #{$p}#{$u}font-first">ここはデザインフォント01ですが、<span class="#{$p}#{$u}font-root">#{$p}#{$u}font-root_ここからbody要素のフォントに変更しました</span></p>
<p class="#{$p}#{$u}text-xl #{$p}#{$u}font-mono">#{$p}#{$u}font-mono_等幅フォントに変更しました &lt;p class="#{$p}#{$u}font-mono"&gt;hello world!&lt;/p&gt;</p>
```

*/

.#{$p}#{$u}font-root {
    font-family: $font-family-root;
}

.#{$p}#{$u}font-mono {
    font-family: $font-family-mono;
}

.#{$p}#{$u}font-first {
    font-family: $font-family-first;
}

.#{$p}#{$u}font-second {
    font-family: $font-family-second;
}

.#{$p}#{$u}font-third {
    font-family: $font-family-third;
}

}
