@if ($disabled-utility-class != true) {
@if ($use-font-in-reliable == true) {

/*doc
---
title: #{$pr}#{$u}font-(face)
name: font-01-face
category: utility-font
---

フォントを変更する。オブジェクト・コンポーネントを可能な限り上書きする。

``` example
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-first">#{$pr}#{$u}font-first_フォント01に変更しました</p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-second">#{$pr}#{$u}font-second_フォント02に変更しました</p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-third">#{$pr}#{$u}font-third_フォント03に変更しました</p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-first">ここはフォント01ですが、<span class="#{$pr}#{$u}font-root">#{$pr}#{$u}font-root_ここからbody要素のフォントに変更しました</span></p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-mono">#{$pr}#{$u}font-mono_等幅フォントに変更しました &lt;p class="#{$pr}#{$u}font-mono"&gt;hello world!&lt;/p&gt;</p>
```

*/

/*doc
---
title: .#{$pr}#{$u}font-bold
name: font-02-bold
category: utility-font
---

ボールドフォントに変更する。

### 補足：日本語ウェブフォントの仕様

日本語ウェブフォントサービスを利用した場合、 <code>font-weight</code> だけではウェイトの変更ができないことがある。このため、別途クラスが必要となる。

### Note: Web font in Japanese specification

When using the Japanese web font service, font weight is may not be change with only <code> font-weight </code>. Therefore, a separate class is required.

``` example
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-first #{$pr}#{$u}font-bold">#{$pr}#{$u}font-first_#{$pr}#{$u}font-bold_フォント01に変更しました</p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-second #{$pr}#{$u}font-bold">#{$pr}#{$u}font-second_#{$pr}#{$u}font-bold_フォント02に変更しました</p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-third #{$pr}#{$u}font-bold">#{$pr}#{$u}font-third_#{$pr}#{$u}font-bold_フォント03に変更しました</p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-first #{$pr}#{$u}font-bold">ここはフォント01ですが、<span class="#{$pr}#{$u}font-root #{$pr}#{$u}font-bold">#{$pr}#{$u}font-root_#{$pr}#{$u}font-bold_ここからbody要素のフォントに変更しました</span></p>
<p class="#{$pr}#{$u}text-xl #{$pr}#{$u}font-mono #{$pr}#{$u}font-bold">#{$pr}#{$u}font-mono_#{$pr}#{$u}font-bold_等幅フォントに変更しました &lt;p class="#{$pr}#{$u}font-mono #{$pr}#{$u}font-bold"&gt;hello world!&lt;/p&gt;</p>
```

*/

#{$u-wrap} {

    .#{$pr}#{$u}font-root {
        font-family: $font-family-root;
        font-family: $font-weight-root;

        &.#{$pr}#{$u}font-bold {
            font-family: $font-family-bold-root;
            font-weight: $font-weight-bold-root;
        }

    }

    .#{$pr}#{$u}font-mono {
        font-family: $font-family-mono;
    }

    .#{$pr}#{$u}font-first {
        font-family: $font-family-first;
        font-weight: $font-weight-first;

        &.#{$pr}#{$u}font-bold {
            font-family: $font-family-bold-first;
            font-weight: $font-weight-bold-first;
        }

    }

    .#{$pr}#{$u}font-second {
        font-family: $font-family-second;
        font-weight: $font-weight-second;

        &.#{$pr}#{$u}font-bold {
            font-family: $font-family-bold-second;
            font-weight: $font-weight-bold-second;
        }

    }

    .#{$pr}#{$u}font-third {
        font-family: $font-family-third;
        font-weight: $font-weight-third;

        &.#{$pr}#{$u}font-bold {
            font-family: $font-family-bold-third;
            font-weight: $font-weight-bold-third;
        }

    }

}

}
}
