@if ($disabled-utility-class != true) {

/*doc
---
title: #{$p}#{$u}hidden
name: hidden
category: utility-hidden
---

常に要素を非表示にする。スクリーンリーダーに対応する場合は <code>.#{$p}sr</code> を使用すること。

*/

.#{$p}#{$u}hidden {
    display: none;
}

/*doc
---
title: #{$p}#{$u}hidden-(breakpoint)-up
name: hidden-01-breakpoint-up
category: utility-hidden
---

(breakpoint)で指定した画面幅以上で要素を非表示にする。特性上、#{$p}#{$u}hidden-xs-upはない。

``` example
<div class="#{$p}#{$u}hidden-sm-up #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-first">#{$p}#{$u}hidden-sm-up</span></div>
<div class="#{$p}#{$u}hidden-md-up #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-second">#{$p}#{$u}hidden-md-up</span></div>
<div class="#{$p}#{$u}hidden-lg-up #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-third">#{$p}#{$u}hidden-lg-up</span></div>
<div class="#{$p}#{$u}hidden-xl-up #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-important">#{$p}#{$u}hidden-xl-up</span></div>
<div class="#{$p}#{$u}hidden-xxl-up #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn">#{$p}#{$u}hidden-xxl-up</span></div>
```

*/

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        @if ($breakpoint != 'xxs') {
            .#{$p}#{$u}hidden-#{$breakpoint}-up {
                display: none;
            }
        }
    }
}


/*doc
---
title: .#{$p}#{$u}hidden-(breakpoint)-down
name: hidden-02-breakpoint-down
category: utility-hidden
---

(breakpoint)で指定した画面幅未満で要素を非表示にする。特性上、#{$p}#{$u}hidden-xxl-downはない。

``` example
<div class="#{$p}#{$u}hidden-xs-down #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-first">#{$p}#{$u}hidden-xs-down</span></div>
<div class="#{$p}#{$u}hidden-sm-down #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-second">#{$p}#{$u}hidden-sm-down</span></div>
<div class="#{$p}#{$u}hidden-md-down #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-third">#{$p}#{$u}hidden-md-down</span></div>
<div class="#{$p}#{$u}hidden-lg-down #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn #{$p}#{$m}btn-important">#{$p}#{$u}hidden-lg-down</span></div>
<div class="#{$p}#{$u}hidden-xl-down #{$p}#{$u}m-b-sm"><span class="#{$p}#{$m}btn">#{$p}#{$u}hidden-xl-down</span></div>
```

*/

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
        @if ($breakpoint != 'xxl') {
            .#{$p}#{$u}hidden-#{$breakpoint}-down {
                display: none;
            }
        }
    }
}


}
