@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}hidden
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}hidden {
        display: none;
    }

}


/*
--------------------
#{$pr}#{$u}hidden#{$c3}(breakpoint)#{$c3}up
--------------------
*/

#{$u-wrap} {

    @each $breakpoint in map-keys($grid-breakpoints) {

        @include media-breakpoint-up($breakpoint) {

            @if ($breakpoint != 'xxs') {

                .#{$pr}#{$u}hidden#{$c3}#{$breakpoint}#{$c3}up {
                    display: none;
                }

            }

        }

    }

}


/*
--------------------
#{$pr}#{$u}hidden#{$c3}(breakpoint)#{$c3}down
--------------------
*/

#{$u-wrap} {

    @each $breakpoint in map-keys($grid-breakpoints) {

        @include media-breakpoint-down($breakpoint) {

            @if ($breakpoint != 'xxl') {

                .#{$pr}#{$u}hidden#{$c3}#{$breakpoint}#{$c3}down {
                    display: none;
                }

            }

        }

    }

}


}
