@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}image#{$c3}responsive
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}image#{$c3}responsive {
	    max-width: 100%;
	    height: auto;
	}

}


/*
--------------------
#{$pr}#{$u}image#{$c3}fill
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}image#{$c3}fill {
	    width: 100%;
	    height: auto;
	}

}

}
