@if ($disabled-utility-class != true) {

/*doc
---
title: #{$p}#{$u}img-responsive
name: img-responsive
category: utility-img
---

画像が包括要素よりも大きくなった場合のみ、縦横比を保って伸縮させる。

``` example
<img src="https://placehold.jp/960x100.jpg?text=img-responsive" alt="" class="#{$p}#{$u}img-responsive">
```

*/

#{$u-wrap} {

	.#{$p}#{$u}img-responsive {
	    max-width: 100%;
	    height: auto;
	}

}

/*doc
---
title: #{$p}#{$u}img-fill
name: img-fill
category: utility-img
---

画像の大きさに関係なく、常に包括要素の幅いっぱいに伸縮させる。

``` example
<img src="https://placehold.jp/960x100.jpg?text=img-fill" alt="" class="#{$p}#{$u}img-fill">
```

*/

#{$u-wrap} {

	.#{$p}#{$u}img-fill {
	    width: 100%;
	    height: auto;
	}

}

}
