@if ($disabled-utility-class != true) {

/*
---
title: #{$pr}#{$u}line#{$c3}(size)
name: line-01-size
category: utility-line
---

文章を指定した行高さに変更する。 <code>none, sm, md, lg</code> に対応している。  
行間を最低にするクラスは、0ではなく <code>none</code> である点に注意。

``` example
<p class="#{$pr}#{$u}line#{$c3}none">#{$pr}#{$u}line#{$c3}none:吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
<p class="#{$pr}#{$u}line#{$c3}sm">#{$pr}#{$u}line#{$c3}sm:吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
<p class="#{$pr}#{$u}line#{$c3}md">#{$pr}#{$u}line#{$c3}md:吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
<p class="#{$pr}#{$u}line#{$c3}lg">#{$pr}#{$u}line#{$c3}lg:吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
```
*/

#{$u-wrap} {

	.#{$pr}#{$u}line#{$c3}none {
	    line-height: $line-height-none;
	}

	.#{$pr}#{$u}line#{$c3}sm {
	    line-height: $line-height-sm;
	}

	.#{$pr}#{$u}line#{$c3}md {
	    line-height: $line-height-md;
	}

	.#{$pr}#{$u}line#{$c3}lg {
	    line-height: $line-height-lg;
	}

}

}
