@if ($disabled-utility-class != true) {

/*doc
---
title: #{$p}#{$u}line-(size)
name: line-01-size
category: utility-line
---

文章を指定した行高さに変更する。 <code>none, sm, md, lg</code> に対応している。  
行間を最低にするクラスは、0ではなく <code>none</code> である点に注意。

``` example
<p class="#{$p}#{$u}line-none">#{$p}#{$u}line-none_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
<p class="#{$p}#{$u}line-sm">#{$p}#{$u}line-sm_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
<p class="#{$p}#{$u}line-md">#{$p}#{$u}line-md_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
<p class="#{$p}#{$u}line-lg">#{$p}#{$u}line-lg_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。<br>何でも薄暗いじめじめした所で<br>ニャーニャー泣いていた事だけは記憶している。</p>
```
*/

#{$u-wrap} {

	.#{$p}#{$u}line-none {
	    line-height: $line-height-none;
	}

	.#{$p}#{$u}line-sm {
	    line-height: $line-height-sm;
	}

	.#{$p}#{$u}line-md {
	    line-height: $line-height-md;
	}

	.#{$p}#{$u}line-lg {
	    line-height: $line-height-lg;
	}

}

}
