@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}line#{$c3}(size)
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}line#{$c3}none {
	    line-height: 1;
	}

	.#{$pr}#{$u}line#{$c3}sm {
	    line-height: $line-height-sm;
	}

	.#{$pr}#{$u}line#{$c3}md {
	    line-height: $line-height-md;
	}

	.#{$pr}#{$u}line#{$c3}lg {
	    line-height: $line-height-lg;
	}

}

}
