@if ($disabled-utility-class != true) {

/*doc
---
title: #{$pr}#{$u}m-(direction)-(size)
name: m
category: utility-m
---

ブロック要素の外部余白を変更する。

``` example
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-a" style="background-color: rgba(255,255,255,.35); width: 50%;">#{$pr}#{$u}m-a</div></div>

<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-xs" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-xs</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-t-xs" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-t-xs</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-r-xs" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-r-xs</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-b-xs" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-b-xs</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-l-xs" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-l-xs</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-x-xs" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-x-xs</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-y-xs" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-y-xs</div></div>

<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-sm" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-sm</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-t-sm" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-t-sm</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-r-sm" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-r-sm</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-b-sm" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-b-sm</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-l-sm" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-l-sm</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-x-sm" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-x-sm</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-y-sm" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-y-sm</div></div>

<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-t" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-t</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-r" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-r</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-b" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-b</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-l" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-l</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-x" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-x</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-y" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-y</div></div>

<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-lg" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-lg</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-t-lg" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-t-lg</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-r-lg" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-r-lg</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-b-lg" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-b-lg</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-l-lg" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-l-lg</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-x-lg" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-x-lg</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-y-lg" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-y-lg</div></div>

<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-xl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-xl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-t-xl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-t-xl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-r-xl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-r-xl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-b-xl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-b-xl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-l-xl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-l-xl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-x-xl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-x-xl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-y-xl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-y-xl</div></div>

<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-xxl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-xxl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-t-xxl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-t-xxl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-r-xxl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-r-xxl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-b-xxl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-b-xxl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-l-xxl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-l-xxl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-x-xxl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-x-xxl</div></div>
<div class="#{$pr}#{$u}m-b-sm #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-fade" style="padding: 1px;"><div class="#{$pr}#{$u}m-y-xxl" style="background-color: rgba(255,255,255,.35);">#{$pr}#{$u}m-y-xxl</div></div>
```
*/

#{$u-wrap} {

	.#{$pr}#{$u}m-a   { margin-right:  auto; margin-left:   auto }

	.#{$pr}#{$u}m-0   { margin:        0 }
	.#{$pr}#{$u}m-t-0 { margin-top:    0 }
	.#{$pr}#{$u}m-r-0 { margin-right:  0 }
	.#{$pr}#{$u}m-b-0 { margin-bottom: 0 }
	.#{$pr}#{$u}m-l-0 { margin-left:   0 }
	.#{$pr}#{$u}m-x-0 { margin-right:  0; margin-left:   0 }
	.#{$pr}#{$u}m-y-0 { margin-top:    0; margin-bottom: 0 }

	.#{$pr}#{$u}m-xs   { margin:        ($spacer * .5) }
	.#{$pr}#{$u}m-t-xs { margin-top:    ($spacer * .5) }
	.#{$pr}#{$u}m-r-xs { margin-right:  ($spacer * .5) }
	.#{$pr}#{$u}m-b-xs { margin-bottom: ($spacer * .5) }
	.#{$pr}#{$u}m-l-xs { margin-left:   ($spacer * .5) }
	.#{$pr}#{$u}m-x-xs { margin-right:  ($spacer * .5); margin-left:   ($spacer * .5) }
	.#{$pr}#{$u}m-y-xs { margin-top:    ($spacer * .5); margin-bottom: ($spacer * .5) }

	.#{$pr}#{$u}m-sm   { margin:        $spacer }
	.#{$pr}#{$u}m-t-sm { margin-top:    $spacer }
	.#{$pr}#{$u}m-r-sm { margin-right:  $spacer }
	.#{$pr}#{$u}m-b-sm { margin-bottom: $spacer }
	.#{$pr}#{$u}m-l-sm { margin-left:   $spacer }
	.#{$pr}#{$u}m-x-sm { margin-right:  $spacer; margin-left:   $spacer }
	.#{$pr}#{$u}m-y-sm { margin-top:    $spacer; margin-bottom: $spacer }

	.#{$pr}#{$u}m   { margin:        ($spacer * 1.5) }
	.#{$pr}#{$u}m-t { margin-top:    ($spacer * 1.5) }
	.#{$pr}#{$u}m-r { margin-right:  ($spacer * 1.5) }
	.#{$pr}#{$u}m-b { margin-bottom: ($spacer * 1.5) }
	.#{$pr}#{$u}m-l { margin-left:   ($spacer * 1.5) }
	.#{$pr}#{$u}m-x { margin-right:  ($spacer * 1.5); margin-left:   ($spacer * 1.5) }
	.#{$pr}#{$u}m-y { margin-top:    ($spacer * 1.5); margin-bottom: ($spacer * 1.5) }

	.#{$pr}#{$u}m-lg   { margin:        ($spacer * 3) }
	.#{$pr}#{$u}m-t-lg { margin-top:    ($spacer * 3) }
	.#{$pr}#{$u}m-r-lg { margin-right:  ($spacer * 3) }
	.#{$pr}#{$u}m-b-lg { margin-bottom: ($spacer * 3) }
	.#{$pr}#{$u}m-l-lg { margin-left:   ($spacer * 3) }
	.#{$pr}#{$u}m-x-lg { margin-right:  ($spacer * 3); margin-left:   ($spacer * 3) }
	.#{$pr}#{$u}m-y-lg { margin-top:    ($spacer * 3); margin-bottom: ($spacer * 3) }

	.#{$pr}#{$u}m-xl   { margin:        ($spacer * 4.5) }
	.#{$pr}#{$u}m-t-xl { margin-top:    ($spacer * 4.5) }
	.#{$pr}#{$u}m-r-xl { margin-right:  ($spacer * 4.5) }
	.#{$pr}#{$u}m-b-xl { margin-bottom: ($spacer * 4.5) }
	.#{$pr}#{$u}m-l-xl { margin-left:   ($spacer * 4.5) }
	.#{$pr}#{$u}m-x-xl { margin-right:  ($spacer * 4.5); margin-left:   ($spacer * 4.5) }
	.#{$pr}#{$u}m-y-xl { margin-top:    ($spacer * 4.5); margin-bottom: ($spacer * 4.5) }

	.#{$pr}#{$u}m-xxl   { margin:        ($spacer * 6) }
	.#{$pr}#{$u}m-t-xxl { margin-top:    ($spacer * 6) }
	.#{$pr}#{$u}m-r-xxl { margin-right:  ($spacer * 6) }
	.#{$pr}#{$u}m-b-xxl { margin-bottom: ($spacer * 6) }
	.#{$pr}#{$u}m-l-xxl { margin-left:   ($spacer * 6) }
	.#{$pr}#{$u}m-x-xxl { margin-right:  ($spacer * 6); margin-left:   ($spacer * 6) }
	.#{$pr}#{$u}m-y-xxl { margin-top:    ($spacer * 6); margin-bottom: ($spacer * 6) }

}

}
