/*
--------------------
#{$pr}#{$u}padding
--------------------
*/

#{$u-wrap} {

    @each $spacing in map-keys($spacing-fixed) {

        .#{$pr}#{$u}padding#{$c3}#{$spacing} {
            padding: #{$spacing}px;
        }

        .#{$pr}#{$u}padding#{$c2}top#{$c3}#{$spacing} {
            padding-top: #{$spacing}px;
        }

        .#{$pr}#{$u}padding#{$c2}left#{$c3}#{$spacing} {
            padding-left: #{$spacing}px;
        }

        .#{$pr}#{$u}padding#{$c2}bottom#{$c3}#{$spacing} {
            padding-bottom: #{$spacing}px;
        }

        .#{$pr}#{$u}padding#{$c2}right#{$c3}#{$spacing} {
            padding-right: #{$spacing}px;
        }

        .#{$pr}#{$u}padding#{$c2}x#{$c3}#{$spacing} {
            padding-left: #{$spacing}px;
            padding-right: #{$spacing}px;
        }

        .#{$pr}#{$u}padding#{$c2}y#{$c3}#{$spacing} {
            padding-top: #{$spacing}px;
            padding-bottom: #{$spacing}px;
        }

    }



    .#{$pr}#{$u}padding#{$c3}xs {
        @include responsive-spacing(
            'padding',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}top#{$c3}xs {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}left#{$c3}xs {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}bottom#{$c3}xs {
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}right#{$c3}xs {
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}x#{$c3}xs {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}y#{$c3}xs {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'xs' ),
            map-get( $spacing-max, 'xs' )
        );
    }



    .#{$pr}#{$u}padding#{$c3}sm {
        @include responsive-spacing(
            'padding',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}top#{$c3}sm {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}left#{$c3}sm {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}bottom#{$c3}sm {
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}right#{$c3}sm {
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}x#{$c3}sm {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}y#{$c3}sm {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'sm' ),
            map-get( $spacing-max, 'sm' )
        );
    }



    .#{$pr}#{$u}padding#{$c3}md {
        @include responsive-spacing(
            'padding',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}top#{$c3}md {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}left#{$c3}md {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}bottom#{$c3}md {
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}right#{$c3}md {
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}x#{$c3}md {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}y#{$c3}md {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'md' ),
            map-get( $spacing-max, 'md' )
        );
    }



    .#{$pr}#{$u}padding#{$c3}lg {
        @include responsive-spacing(
            'padding',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}top#{$c3}lg {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}left#{$c3}lg {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}bottom#{$c3}lg {
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}right#{$c3}lg {
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}x#{$c3}lg {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}y#{$c3}lg {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'lg' ),
            map-get( $spacing-max, 'lg' )
        );
    }



    .#{$pr}#{$u}padding#{$c3}xl {
        @include responsive-spacing(
            'padding',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}top#{$c3}xl {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}left#{$c3}xl {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}bottom#{$c3}xl {
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}right#{$c3}xl {
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}x#{$c3}xl {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}y#{$c3}xl {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'xl' ),
            map-get( $spacing-max, 'xl' )
        );
    }



    .#{$pr}#{$u}padding#{$c3}xxl {
        @include responsive-spacing(
            'padding',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}top#{$c3}xxl {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}left#{$c3}xxl {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}bottom#{$c3}xxl {
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}right#{$c3}xxl {
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}x#{$c3}xxl {
        @include responsive-spacing(
            'padding-left',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
        @include responsive-spacing(
            'padding-right',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
    }

    .#{$pr}#{$u}padding#{$c2}y#{$c3}xxl {
        @include responsive-spacing(
            'padding-top',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
        @include responsive-spacing(
            'padding-bottom',
            map-get( $spacing-min, 'xxl' ),
            map-get( $spacing-max, 'xxl' )
        );
    }

    .#{$pr}#{$u}padding#{$c3}0               { padding:        0 }
    .#{$pr}#{$u}padding#{$c2}top#{$c3}0      { padding-top:    0 }
    .#{$pr}#{$u}padding#{$c2}right#{$c3}0    { padding-right:  0 }
    .#{$pr}#{$u}padding#{$c2}bottom#{$c3}0   { padding-bottom: 0 }
    .#{$pr}#{$u}padding#{$c2}left#{$c3}0     { padding-left:   0 }
    .#{$pr}#{$u}padding#{$c2}x#{$c3}0        { padding-right:  0; padding-left:   0 }
    .#{$pr}#{$u}padding#{$c2}y#{$c3}0        { padding-top:    0; padding-bottom: 0 }

}
