@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}position#{$c3}(y)-(x)
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}position#{$c3}top#{$c3}left,
    .#{$pr}#{$u}position#{$c3}top#{$c3}center,
    .#{$pr}#{$u}position#{$c3}top#{$c3}right,
    .#{$pr}#{$u}position#{$c3}center#{$c3}left,
    .#{$pr}#{$u}position#{$c3}center#{$c3}center,
    .#{$pr}#{$u}position#{$c3}center#{$c3}right,
    .#{$pr}#{$u}position#{$c3}bottom#{$c3}left,
    .#{$pr}#{$u}position#{$c3}bottom#{$c3}center,
    .#{$pr}#{$u}position#{$c3}bottom#{$c3}right {
        position: absolute;
        z-index: 99;
    }

    .#{$pr}#{$u}position#{$c3}top#{$c3}left {
        top: 0;
        left: 0;
    }

    .#{$pr}#{$u}position#{$c3}top#{$c3}center {
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .#{$pr}#{$u}position#{$c3}top#{$c3}right {
        top: 0;
        right: 0;
    }

    .#{$pr}#{$u}position#{$c3}center#{$c3}left {
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }

    .#{$pr}#{$u}position#{$c3}center#{$c3}center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .#{$pr}#{$u}position#{$c3}center#{$c3}right {
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
    }

    .#{$pr}#{$u}position#{$c3}bottom#{$c3}left {
        bottom: 0;
        left: 0;
    }

    .#{$pr}#{$u}position#{$c3}bottom#{$c3}center {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .#{$pr}#{$u}position#{$c3}bottom#{$c3}right {
        bottom: 0;
        right: 0;
    }

}

}
