@if ($disabled-utility-class != true) {

/*doc
---
title: #{$pr}#{$u}position-(y)-(x)
name: position
category: utility-position
---

ブロック要素を親要素の指定した位置に絶対配置する。  
親要素に <code>position:relative</code> を指定している必要がある。

``` example
<div>#{$pr}#{$u}position-tl</div>
<div class="#{$pr}#{$u}bg-first #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-tl" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-tc</div>
<div class="#{$pr}#{$u}bg-first #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-tc" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-tr</div>
<div class="#{$pr}#{$u}bg-first #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-tr" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-cl</div>
<div class="#{$pr}#{$u}bg-second #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-cl" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-cc</div>
<div class="#{$pr}#{$u}bg-second #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-cc" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-cr</div>
<div class="#{$pr}#{$u}bg-second #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-cr" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-bl</div>
<div class="#{$pr}#{$u}bg-third #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-bl" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-bc</div>
<div class="#{$pr}#{$u}bg-third #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-bc" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>#{$pr}#{$u}position-br</div>
<div class="#{$pr}#{$u}bg-third #{$pr}#{$u}bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="#{$pr}#{$u}position-br" style="background-color: #333; width: 10px; height: 10px;"></span></div>
```
*/

#{$u-wrap} {

    .#{$pr}#{$u}position-tl,
    .#{$pr}#{$u}position-tc,
    .#{$pr}#{$u}position-tr,
    .#{$pr}#{$u}position-cl,
    .#{$pr}#{$u}position-cc,
    .#{$pr}#{$u}position-cr,
    .#{$pr}#{$u}position-bl,
    .#{$pr}#{$u}position-bc,
    .#{$pr}#{$u}position-br {
        position: absolute;
        z-index: 99;
    }

    .#{$pr}#{$u}position-tl {
        top: 0;
        left: 0;
    }

    .#{$pr}#{$u}position-tc {
        top: 0;
        left: 50%;
        -webkit-transform:translate(-50%, 0);
        -ms-transform:translate(-50%, 0);
        transform:translate(-50%, 0);
    }

    .#{$pr}#{$u}position-tr {
        top: 0;
        right: 0;
    }

    .#{$pr}#{$u}position-cl {
        top: 50%;
        left: 0;
        -webkit-transform:translate(0, -50%);
        -ms-transform:translate(0, -50%);
        transform:translate(0, -50%);
    }

    .#{$pr}#{$u}position-cc {
        top: 50%;
        left: 50%;
        -webkit-transform:translate(-50%, 0);
        -ms-transform:translate(-50%, 0);
        transform:translate(-50%, 0);
    }

    .#{$pr}#{$u}position-cr {
        top: 50%;
        right: 0;
        -webkit-transform:translate(0, -50%);
        -ms-transform:translate(0, -50%);
        transform:translate(0, -50%);
    }

    .#{$pr}#{$u}position-bl {
        bottom: 0;
        left: 0;
    }

    .#{$pr}#{$u}position-bc {
        bottom: 0;
        left: 50%;
        -webkit-transform:translate(-50%, 0);
        -ms-transform:translate(-50%, 0);
        transform:translate(-50%, 0);
    }

    .#{$pr}#{$u}position-br {
        bottom: 0;
        right: 0;
    }

}

}
