@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}shadow
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}shadow {
	    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
	}

}


/*
--------------------
#{$pr}#{$u}shadow#{$c3}(size)
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}shadow#{$c3}sm {
	    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	}

	.#{$pr}#{$u}shadow#{$c3}lg {
	    box-shadow:
	        0 2px 4px rgba(0, 0, 0, 0.1),
	        2px 6px 12px rgba(0, 0, 0, 0.2);
	}

}

}
