@if ($disabled-utility-class != true) {

/*doc
---
title: #{$pr}#{$u}shadow-(size)
name: shadow
category: utility-shadow
---

要素に影をつける。

``` example
<p><a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-first #{$pr}#{$m}btn-block #{$pr}#{$u}shadow">#{$pr}#{$u}shadow</a></p>
```
*/

#{$u-wrap} {

	.#{$pr}#{$u}shadow {
	    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
	}

}

/*doc
---
title: #{$pr}#{$u}shadow-(size)
name: shadow-01-size
category: utility-shadow
---

影をつけた要素と背景の、擬似的な距離を変更する。

``` example
<p><a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-first #{$pr}#{$m}btn-block #{$pr}#{$u}shadow #{$pr}#{$u}shadow-sm">#{$pr}#{$u}shadow-sm</a></p>
<p><a href="#" class="#{$pr}#{$m}btn #{$pr}#{$m}btn-first #{$pr}#{$m}btn-block #{$pr}#{$u}shadow #{$pr}#{$u}shadow-lg">#{$pr}#{$u}shadow-lg</a></p>
```
*/

#{$u-wrap} {

	.#{$pr}#{$u}shadow-sm {
	    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	}

	.#{$pr}#{$u}shadow-lg {
	    box-shadow:
	        0 2px 4px rgba(0, 0, 0, 0.1),
	        2px 6px 12px rgba(0, 0, 0, 0.2);
	}

}

}
