@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}sr
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}sr {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

}


/*
--------------------
#{$pr}#{$u}sr#{$c3}focus
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}sr#{$c3}focus {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;

        &:focus,
        &:active {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
        }

    }

}


/*
--------------------
#{$pr}#{$u}sr#{$c3}focus#{$c3}inner
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}sr#{$c3}focus#{$c3}inner {

        .#{$pr}#{$u}sr {
            position: absolute;
            width: 1px;
            height: 1px;
            padding: 0;
            margin: -1px;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
        }

        &:focus,
        &:active {

            .#{$pr}#{$u}sr {
                position: static;
                width: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                clip: auto;
            }

        }

    }

}

}
