/*doc
---
title: .#{$p}sr
name: sr
category: utilities
---

要素内の文章をスクリーンリーダーに反応するよう、外見のみ非表示にする。  
.sr-focusは要素そのもの、.sr-focus-innerは包括する要素にフォーカスしたときに表示される。

``` example
<p><a href="#" class="btn btn-third btn-round">&raquo; sr <span class="sr">この文字は表示されません</span></a></p>
<p>sr-focus <input type="button" class="sr sr-focus" value="フォーカスしましたね" /></p>
<p><a href="#" class="btn btn-fifth sr-focus-inner">&raquo; sr-focus-inner <span class="sr">フォーカスしましたね</span></a></p>
```
*/

.#{$p}sr {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.#{$p}sr-focus {

  &:focus,
    &:active {
        position: static;
        width: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        clip: auto;
    }

}

.#{$p}sr-focus-inner {

    &:focus,
    &:active {

        .#{$p}sr {
            position: static;
            width: auto;
            height: auto;
            margin: 0;
            overflow: visible;
            clip: auto;
        }

    }

}
