/*
--------------------
#{$pr}#{$u}text#{$c3}(color)
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}text#{$c3}#{$__first} {
        color: $first-text;
    }

    .#{$pr}#{$u}text#{$c3}#{$__second} {
        color: $second-text;
    }

    .#{$pr}#{$u}text#{$c3}#{$__third} {
        color: $third-text;
    }

    .#{$pr}#{$u}text#{$c3}#{$__fourth} {
        color: $fourth-text;
    }

    .#{$pr}#{$u}text#{$c3}#{$__info} {
        color: $info-text;
    }

    .#{$pr}#{$u}text#{$c3}#{$__important} {
        color: $important-text;
    }

}


/*
--------------------
#{$pr}#{$u}text#{$c3}root
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}text#{$c3}root {
        color: $body-color;
    }

}


/*
--------------------
#{$pr}#{$u}text#{$c3}#{$__inverse}
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}text#{$c3}#{$__inverse} {
        color: $body-inverse-color;
    }

}
