/*doc
---
title: #{$p}#{$u}text-(color)
name: text-01-color
category: utility-text
---

文字色を変更する。(color)は<a href="../documentation/design_tokens/color.html">標準のカラーテーブル</a>を参照。

``` example
<p class="#{$p}#{$u}text-#{$__first}">#{$p}#{$u}text-#{$__first}_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="#{$p}#{$u}text-#{$__second}">#{$p}#{$u}text-#{$__second}_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="#{$p}#{$u}text-#{$__third}">#{$p}#{$u}text-#{$__third}_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="#{$p}#{$u}text-#{$__fourth}">#{$p}#{$u}text-#{$__fourth}_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="#{$p}#{$u}text-#{$__info}">#{$p}#{$u}text-#{$__info}_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="#{$p}#{$u}text-#{$__important}">#{$p}#{$u}text-#{$__important}_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
```
*/


/*doc
---
title: #{$p}#{$u}text-mild
name: text-02-mild
category: utility-text
---

文字色を弱める。 <code>.#{$p}#{$u}text-(color)</code> と併用すると、指定した色を弱める。

``` example
<p class="text-mild">text-mild_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="text-#{$__first} text-mild">text-#{$__first}_text-mild_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="text-#{$__second} text-mild">text-#{$__second}_text-mild_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="text-#{$__third} text-mild">text-#{$__third}_text-mild_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="text-#{$__fourth} text-mild">text-#{$__fourth}_text-mild_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="text-#{$__info} text-mild">text-#{$__info}_text-mild_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
<p class="text-#{$__important} text-mild">text-#{$__important}_text-mild_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
```
*/

.#{$p}#{$u}text-mild {
    color: $body-mild-color;
}

.#{$p}#{$u}text-#{$__first} {
    color: $first-text;

    &.#{$p}#{$u}text-mild {
        color: $first-mild;
    }

}

.#{$p}#{$u}text-#{$__second} {
    color: $second-text;

    &.#{$p}#{$u}text-mild {
        color: $second-mild;
    }

}

.#{$p}#{$u}text-#{$__third} {
    color: $third-text;

    &.#{$p}#{$u}text-mild {
        color: $third-mild;
    }

}

.#{$p}#{$u}text-#{$__fourth} {
    color: $fourth-text;

    &.#{$p}#{$u}text-mild {
        color: $fourth-mild;
    }

}

.#{$p}#{$u}text-#{$__info} {
    color: $info-text;

    &.#{$p}#{$u}text-mild {
        color: $info-mild;
    }

}

.#{$p}#{$u}text-#{$__important} {
    color: $important-text;

    &.#{$p}#{$u}text-mild {
        color: $important-mild;
    }

}


/*doc
---
title: #{$p}#{$u}text-root
name: text-03-root
category: utility-text
---

文字色をbody要素の文字色に戻す。

``` example
<p class="#{$p}#{$u}text-first">ここは文字色が first ですが、<span class="#{$p}#{$u}text-root">#{$p}#{$u}text-root_ここからbody要素の文字色に変更しました</span></p>
```

*/

.#{$p}#{$u}text-root {
    color: $body-color;
}



/*doc
---
title: #{$p}#{$u}text-#{$__inverse}
name: text-04-inverse
category: utility-text
---

文字色を反転する（背景色を文字色とする）。


``` example
<div class="#{$p}#{$u}bg-#{$__inverse}">
    <p class="#{$p}#{$u}text-#{$__inverse}">#{$p}#{$u}text-#{$__inverse}_吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
</div>
```
*/

.#{$p}#{$u}text-#{$__inverse} {
    color: $body-inverse-color;

    &.#{$p}#{$u}text-mild {
        color: $body-inverse-mild-color;
    }

}

