/*
--------------------
#{$pr}#{$u}text#{$c3}(size)
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}text#{$c3}xxs {
	    font-size: .625em;
	}

	.#{$pr}#{$u}text#{$c3}xs {
	    font-size: .75em;
	}

	.#{$pr}#{$u}text#{$c3}sm {
	    font-size: .875em;
	}

	.#{$pr}#{$u}text#{$c3}md {
	    font-size: 1rem;
	}

	.#{$pr}#{$u}text#{$c3}lg {
	    font-size: 1.25em;
	}

	.#{$pr}#{$u}text#{$c3}xl {
	    font-size: 1.5em;
	}

	.#{$pr}#{$u}text#{$c3}xxl {
	    font-size: 2em;
	}

}
