@if ($disabled-utility-class != true) {

/*doc
---
title: #{$pr}#{$u}width#{$c3}(percentage)
name: width
category: utility-width
---

幅を親要素を基準とした割合に変更する。

``` example
<div class="#{$pr}#{$u}width#{$c3}20" style="margin-bottom: 1rem; padding: .5rem; background-color: #ffddaa; text-align: center;">
#{$pr}#{$u}width#{$c3}20
</div>

<div class="#{$pr}#{$u}width#{$c3}33" style="margin-bottom: 1rem; padding: .5rem; background-color: #ffddaa; text-align: center;">
#{$pr}#{$u}width#{$c3}33
</div>

<div class="#{$pr}#{$u}width#{$c3}50" style="margin-bottom: 1rem; padding: .5rem; background-color: #ffddaa; text-align: center;">
#{$pr}#{$u}width#{$c3}50
</div>

<div class="#{$pr}#{$u}width#{$c3}66" style="margin-bottom: 1rem; padding: .5rem; background-color: #ffddaa; text-align: center;">
#{$pr}#{$u}width#{$c3}66
</div>

<div class="#{$pr}#{$u}width#{$c3}75" style="margin-bottom: 1rem; padding: .5rem; background-color: #ffddaa; text-align: center;">
#{$pr}#{$u}width#{$c3}75
</div>

<div class="#{$pr}#{$u}width#{$c3}100" style="margin-bottom: 1rem; padding: .5rem; background-color: #ffddaa; text-align: center;">
#{$pr}#{$u}width#{$c3}100
</div>

```

*/

#{$u-wrap} {

	.#{$pr}#{$u}width#{$c3}20  { width: 20%; }
	.#{$pr}#{$u}width#{$c3}33  { width: 33.33333333%; }
	.#{$pr}#{$u}width#{$c3}50  { width: 50%; }
	.#{$pr}#{$u}width#{$c3}66  { width: 66.66666666%; }
	.#{$pr}#{$u}width#{$c3}75  { width: 75%; }
	.#{$pr}#{$u}width#{$c3}100 { width: 100%; }

}

}