@if ($disabled-utility-class != true) {

/*
--------------------
#{$pr}#{$u}width#{$c3}(percentage)
--------------------
*/

#{$u-wrap} {

	.#{$pr}#{$u}width#{$c3}20  { width: 20%; }
	.#{$pr}#{$u}width#{$c3}25  { width: 25%; }
	.#{$pr}#{$u}width#{$c3}33  { width: 33.33333333%; }
	.#{$pr}#{$u}width#{$c3}50  { width: 50%; }
	.#{$pr}#{$u}width#{$c3}66  { width: 66.66666666%; }
	.#{$pr}#{$u}width#{$c3}75  { width: 75%; }
	.#{$pr}#{$u}width#{$c3}100 { width: 100%; }

}

}