/*
--------------------
#{$pr}#{$m}button#{$c3}circle
--------------------
*/

.#{$pr}#{$m}button#{$c3}circle {
    overflow: hidden;
    width: map-get( $button-circle-min-widths, 'md' );
    height: map-get( $button-circle-min-widths, 'md' );
    border-radius: 50%;

    @include media-breakpoint-up(lg) {
        width: map-get( $button-circle-max-widths, 'md' );
        height: map-get( $button-circle-max-widths, 'md' );
    }

    &.#{$pr}#{$m}button {
        padding: 0;
        min-height: auto;
    }

    &.#{$pr}#{$m}button#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            width: map-get( $button-circle-min-widths, 'md' );
            height: map-get( $button-circle-min-widths, 'md' );
            font-size: map-get( $button-min-font-sizes, 'md' );
        }

    }

}

.#{$pr}#{$m}button#{$c3}circle.#{$pr}#{$m}button#{$c3}sm {
    width: map-get( $button-circle-min-widths, 'sm' );
    height: map-get( $button-circle-min-widths, 'sm' );

    @include media-breakpoint-up(lg) {
        width: map-get( $button-circle-max-widths, 'sm' );
        height: map-get( $button-circle-max-widths, 'sm' );
        font-size: map-get( $button-max-font-sizes, 'sm' );
    }

    &.#{$pr}#{$m}button#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            width: map-get( $button-circle-min-widths, 'sm' );
            height: map-get( $button-circle-min-widths, 'sm' );
            font-size: map-get( $button-min-font-sizes, 'sm' );
        }

    }

}

.#{$pr}#{$m}button#{$c3}circle.#{$pr}#{$m}button#{$c3}lg {
    width: map-get( $button-circle-min-widths, 'lg' );
    height: map-get( $button-circle-min-widths, 'lg' );

    @include media-breakpoint-up(lg) {
        width: map-get( $button-circle-max-widths, 'lg' );
        height: map-get( $button-circle-max-widths, 'lg' );
        font-size: map-get( $button-max-font-sizes, 'lg' );
    }

    &.#{$pr}#{$m}button#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            width: map-get( $button-circle-min-widths, 'lg' );
            height: map-get( $button-circle-min-widths, 'lg' );
            font-size: map-get( $button-min-font-sizes, 'lg' );
        }

    }

}

.#{$pr}#{$m}button#{$c3}circle.#{$pr}#{$m}button#{$c3}xl {
    width: map-get( $button-circle-min-widths, 'xl' );
    height: map-get( $button-circle-min-widths, 'xl' );

    @include media-breakpoint-up(lg) {
        width: map-get( $button-circle-max-widths, 'xl' );
        height: map-get( $button-circle-max-widths, 'xl' );
        font-size: map-get( $button-max-font-sizes, 'xl' );
    }

    &.#{$pr}#{$m}button#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            width: map-get( $button-circle-min-widths, 'xl' );
            height: map-get( $button-circle-min-widths, 'xl' );
            font-size: map-get( $button-min-font-sizes, 'xl' );
        }

    }

}

.#{$pr}#{$m}button#{$c3}circle.#{$pr}#{$m}button#{$c3}xxl {
    width: map-get( $button-circle-min-widths, 'xxl' );
    height: map-get( $button-circle-min-widths, 'xxl' );

    @include media-breakpoint-up(lg) {
        width: map-get( $button-circle-max-widths, 'xxl' );
        height: map-get( $button-circle-max-widths, 'xxl' );
        font-size: map-get( $button-max-font-sizes, 'xxl' );
    }

    &.#{$pr}#{$m}button#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            width: map-get( $button-circle-min-widths, 'xxl' );
            height: map-get( $button-circle-min-widths, 'xxl' );
            font-size: map-get( $button-min-font-sizes, 'xxl' );
        }

    }

}
