/*
--------------------
#{$pr}#{$m}list
--------------------
*/

.#{$pr}#{$m}list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.#{$pr}#{$m}list li,
.#{$pr}#{$m}list#{$c1}item {
    position: relative;
    margin: 0;
}

.#{$pr}#{$m}list li ul,
.#{$pr}#{$m}list li ol,
.#{$pr}#{$m}list#{$c1}children {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}


/*
--------------------
#{$pr}#{$m}list#{$c3}vertical
--------------------
*/

.#{$pr}#{$m}list#{$c3}vertical li,
.#{$pr}#{$m}list#{$c3}vertical .#{$pr}#{$m}list#{$c1}item {

    &:not(:first-child) {
        margin-top: .75em;
    }

}

.#{$pr}#{$m}list#{$c3}vertical li ul,
.#{$pr}#{$m}list#{$c3}vertical li ol,
.#{$pr}#{$m}list#{$c3}vertical .#{$pr}#{$m}list#{$c1}children {
    padding-left: 1.5em;
}


/*
--------------------
#{$pr}#{$m}list#{$c3}horizontal
--------------------
*/

.#{$pr}#{$m}list#{$c3}horizontal {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.#{$pr}#{$m}list#{$c3}horizontal li,
.#{$pr}#{$m}list#{$c3}horizontal .#{$pr}#{$m}list#{$c1}item {
    flex-grow: 0;
    margin-left: 1em;
    margin-right: 1em;

    &:not(:first-child) {
        margin-top: 0;
    }

}

