/*
--------------------
#{$pr}#{$m}thumbnail
--------------------
*/

.#{$pr}#{$m}thumbnail {
    margin: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    background: transparent;
    border: $border-thumbnail-width solid $border-color;
    vertical-align: bottom;

    figcaption {
        display: block;
        margin-top: .5em;
        font-size: $font-size-sm;
        line-height: $line-height-xs;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 100%;
        height: auto;
        transition:
            opacity .3s ease-in-out,
            transform .3s ease-in-out;
        transform-origin: center center;
    }

}

a.#{$pr}#{$m}thumbnail,
.#{$pr}#{$m}thumbnail a {

    &:hover,
    &:focus,
    &:active {

        img {
            opacity: .75;
        }

    }

}

.#{$pr}#{$m}thumbnail#{$c3}circle,
.#{$pr}#{$m}thumbnail#{$c3}square,
.#{$pr}#{$m}thumbnail#{$c3}3to2,
.#{$pr}#{$m}thumbnail#{$c3}4to3,
.#{$pr}#{$m}thumbnail#{$c3}16to9,
.#{$pr}#{$m}thumbnail#{$c3}ogimage,
.#{$pr}#{$m}thumbnail#{$c3}21to9 {

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

a.#{$pr}#{$m}thumbnail#{$c3}circle,
a.#{$pr}#{$m}thumbnail#{$c3}square,
a.#{$pr}#{$m}thumbnail#{$c3}3to2,
a.#{$pr}#{$m}thumbnail#{$c3}4to3,
a.#{$pr}#{$m}thumbnail#{$c3}16to9,
a.#{$pr}#{$m}thumbnail#{$c3}ogimage,
a.#{$pr}#{$m}thumbnail#{$c3}21to9,
.#{$pr}#{$m}thumbnail#{$c3}circle a,
.#{$pr}#{$m}thumbnail#{$c3}square a,
.#{$pr}#{$m}thumbnail#{$c3}3to2 a,
.#{$pr}#{$m}thumbnail#{$c3}4to3 a,
.#{$pr}#{$m}thumbnail#{$c3}16to9 a,
.#{$pr}#{$m}thumbnail#{$c3}ogimage a,
.#{$pr}#{$m}thumbnail#{$c3}21to9 a {

    &:hover,
    &:focus,
    &:active {

        img {
            transform: scale(1.05);
        }

    }

}


/*
--------------------
#{$pr}#{$m}thumbnail#{$c3}circle
#{$pr}#{$m}thumbnail#{$c3}square
--------------------
*/

.#{$pr}#{$m}thumbnail#{$c3}circle,
.#{$pr}#{$m}thumbnail#{$c3}square {
    width: 100%;
    height: 0;
    padding-bottom: percentage(math.div(1,1));
}

.#{$pr}#{$m}thumbnail#{$c3}circle {
    width: 100%;
    height: 0;
    padding-bottom: percentage(math.div(1,1));
    border-radius: 50%;
}


/*
--------------------
#{$pr}#{$m}thumbnail#{$c3}(ratio-x)to(ratio-y)
--------------------
*/

.#{$pr}#{$m}thumbnail#{$c3}3to2,
.#{$pr}#{$m}thumbnail#{$c3}4to3,
.#{$pr}#{$m}thumbnail#{$c3}16to9,
.#{$pr}#{$m}thumbnail#{$c3}ogimage,
.#{$pr}#{$m}thumbnail#{$c3}21to9 {
    width: 100%;
    height: 0;
}

.#{$pr}#{$m}thumbnail#{$c3}3to2 {
    padding-bottom: percentage(math.div(2,3));
}

.#{$pr}#{$m}thumbnail#{$c3}4to3 {
    padding-bottom: percentage(math.div(3,4));
}

.#{$pr}#{$m}thumbnail#{$c3}16to9 {
    padding-bottom: percentage(math.div(9,16));
}

.#{$pr}#{$m}thumbnail#{$c3}ogimage {
    padding-bottom: percentage(math.div(100,191));
}

.#{$pr}#{$m}thumbnail#{$c3}21to9 {
    padding-bottom: percentage(math.div(9,21));
}
