/*doc
---
title: .#{$p}bg-(color)
name: bg-1-color
category: utilities
---

背景に色をつける。オブジェクト・コンポーネントを可能な限り上書きする。.#{$p}bgを付与する必要はない。

``` example
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-first">bg-first</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-second">bg-second</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-third">bg-third</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-info">bg-info</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-important">bg-important</div>
```

*/

/*doc
---
title: .#{$p}bg-mild
name: bg-2-mild
category: utilities
---

.#{$p}bg-(color)と併用すると背景色を弱める。オブジェクト・コンポーネントを可能な限り上書きする。.#{$p}bgを付与する必要はない。

``` example
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-first #{$p}bg-mild">bg-first</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-second #{$p}bg-mild">bg-second</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-third #{$p}bg-mild">bg-third</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-info #{$p}bg-mild">bg-info</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-important #{$p}bg-mild">bg-important</div>
```

*/

/*doc
---
title: .#{$p}bg-fade
name: bg-3-fade
category: utilities
---

.#{$p}bg-(color)と併用すると背景色を薄くする。オブジェクト・コンポーネントを可能な限り上書きする。.#{$p}bgを付与する必要はない。

``` example
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-first #{$p}bg-fade">bg-first</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-second #{$p}bg-fade">bg-second</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-third #{$p}bg-fade">bg-third</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-info #{$p}bg-fade">bg-info</div>
<div class="#{$p}m-b #{$p}p-sm #{$p}bg-important #{$p}bg-fade">bg-important</div>
```

*/

/*doc
---
title: .#{$p}bg-inverse
name: bg-4-inverse
category: utilities
---

文字色と背景色を反転する。オブジェクト・コンポーネントを可能な限り上書きする。.#{$p}bgを付与する必要はない。

``` example
<div class="#{$p}p-sm #{$p}bg-inverse">bg-inverse</div>
```

*/


.#{$p}bg-first {
    background-color: $first;

    &:not(.#{$p}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}bg-mild {
        background-color: $first-mild;
    }

    &.#{$p}bg-fade {
        background-color: $first-fade;
    }

}

.#{$p}bg-second {
    background-color: $second;

    &:not(.#{$p}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}bg-mild {
        background-color: $second-mild;
    }

    &.#{$p}bg-fade {
        background-color: $second-fade;
    }

}

.#{$p}bg-third {
    background-color: $third;

    &:not(.#{$p}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}bg-mild {
        background-color: $third-mild;
    }

    &.#{$p}bg-fade {
        background-color: $third-fade;
    }

}

.#{$p}bg-fourth {
    background-color: $fourth;

    &:not(.#{$p}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}bg-mild {
        background-color: $fourth-mild;
    }

    &.#{$p}bg-fade {
        background-color: $fourth-fade;
    }

}

.#{$p}bg-fifth {
    background-color: $fifth;

    &:not(.#{$p}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}bg-mild {
        background-color: $fifth-mild;
    }

    &.#{$p}bg-fade {
        background-color: $fifth-fade;
    }

}

.#{$p}bg-info {
    background-color: $info;

    &:not(.#{$p}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}bg-mild {
        background-color: $info-mild;
    }

    &.#{$p}bg-fade {
        background-color: $info-fade;
    }

}

.#{$p}bg-important {
    background-color: $important;

    &:not(.#{$p}bg-fade) {
        color: $body-inverse-color;

        & a:not([class]) {
            color: $body-inverse-color;
        }

    }

    &.#{$p}bg-mild {
        background-color: $important-mild;
    }

    &.#{$p}bg-fade {
        background-color: $important-fade;
    }

}

.#{$p}bg-inverse {
    color: $body-inverse-color;
    background-color: $body-inverse-bg;

    & a:not([class]) {
        color: $body-inverse-color;
    }

}

