/*
font (Global)
--------------------
*/

.#{$p}font-root {
    font-family: $font-family-root;
}

.#{$p}font-mono {
    font-family: $font-family-mono;
}

.#{$p}font-first {
    font-family: $font-family-first;
}

.#{$p}font-second {
    font-family: $font-family-second;
}

.#{$p}font-third {
    font-family: $font-family-third;
}
