/*
line
--------------------
*/

.#{$p}line-l {
    text-align: left;
}

.#{$p}line-c {
    text-align: center;
}

.#{$p}line-r {
    text-align: right;
}

.#{$p}line-none {
    line-height: $line-height-none;
}

.#{$p}line-sm {
    line-height: $line-height-sm;
}

.#{$p}line-md {
    line-height: $line-height-md;
}

.#{$p}line-lg {
    line-height: $line-height-lg;
}

