/*
m
--------------------
*/

.#{$p}m-0   { margin:        0 }
.#{$p}m-t-0 { margin-top:    0 }
.#{$p}m-r-0 { margin-right:  0 }
.#{$p}m-b-0 { margin-bottom: 0 }
.#{$p}m-l-0 { margin-left:   0 }
.#{$p}m-x-0 { margin-right:  0; margin-left:   0 }
.#{$p}m-y-0 { margin-top:    0; margin-bottom: 0 }

.#{$p}m-xs   { margin:        ($spacer * .5) }
.#{$p}m-t-xs { margin-top:    ($spacer * .5) }
.#{$p}m-r-xs { margin-right:  ($spacer * .5) }
.#{$p}m-b-xs { margin-bottom: ($spacer * .5) }
.#{$p}m-l-xs { margin-left:   ($spacer * .5) }
.#{$p}m-x-xs { margin-right:  ($spacer * .5); margin-left:   ($spacer * .5) }
.#{$p}m-y-xs { margin-top:    ($spacer * .5); margin-bottom: ($spacer * .5) }

.#{$p}m-sm   { margin:        $spacer }
.#{$p}m-t-sm { margin-top:    $spacer }
.#{$p}m-r-sm { margin-right:  $spacer }
.#{$p}m-b-sm { margin-bottom: $spacer }
.#{$p}m-l-sm { margin-left:   $spacer }
.#{$p}m-x-sm { margin-right:  $spacer; margin-left:   $spacer }
.#{$p}m-y-sm { margin-top:    $spacer; margin-bottom: $spacer }

.#{$p}m   { margin:        ($spacer * 1.5) }
.#{$p}m-t { margin-top:    ($spacer * 1.5) }
.#{$p}m-r { margin-right:  ($spacer * 1.5) }
.#{$p}m-b { margin-bottom: ($spacer * 1.5) }
.#{$p}m-l { margin-left:   ($spacer * 1.5) }
.#{$p}m-x { margin-right:  ($spacer * 1.5); margin-left:   ($spacer * 1.5) }
.#{$p}m-y { margin-top:    ($spacer * 1.5); margin-bottom: ($spacer * 1.5) }

.#{$p}m-lg   { margin:        ($spacer * 3) }
.#{$p}m-t-lg { margin-top:    ($spacer * 3) }
.#{$p}m-r-lg { margin-right:  ($spacer * 3) }
.#{$p}m-b-lg { margin-bottom: ($spacer * 3) }
.#{$p}m-l-lg { margin-left:   ($spacer * 3) }
.#{$p}m-x-lg { margin-right:  ($spacer * 3); margin-left:   ($spacer * 3) }
.#{$p}m-y-lg { margin-top:    ($spacer * 3); margin-bottom: ($spacer * 3) }

.#{$p}m-xl   { margin:        ($spacer * 4.5) }
.#{$p}m-t-xl { margin-top:    ($spacer * 4.5) }
.#{$p}m-r-xl { margin-right:  ($spacer * 4.5) }
.#{$p}m-b-xl { margin-bottom: ($spacer * 4.5) }
.#{$p}m-l-xl { margin-left:   ($spacer * 4.5) }
.#{$p}m-x-xl { margin-right:  ($spacer * 4.5); margin-left:   ($spacer * 4.5) }
.#{$p}m-y-xl { margin-top:    ($spacer * 4.5); margin-bottom: ($spacer * 4.5) }

.#{$p}m-xxl   { margin:        ($spacer * 6) }
.#{$p}m-t-xxl { margin-top:    ($spacer * 6) }
.#{$p}m-r-xxl { margin-right:  ($spacer * 6) }
.#{$p}m-b-xxl { margin-bottom: ($spacer * 6) }
.#{$p}m-l-xxl { margin-left:   ($spacer * 6) }
.#{$p}m-x-xxl { margin-right:  ($spacer * 6); margin-left:   ($spacer * 6) }
.#{$p}m-y-xxl { margin-top:    ($spacer * 6); margin-bottom: ($spacer * 6) }
