/*doc
---
title: .#{$p}position-(directionY)-(directionX)
name: position
category: utilities
---

ブロック要素を親要素の指定した位置に絶対配置する。親要素にposition:relativeを指定している必要がある。

``` example
<div>position-tl</div>
<div class="bg-first bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-tl" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-tc</div>
<div class="bg-first bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-tc" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-tr</div>
<div class="bg-first bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-tr" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-cl</div>
<div class="bg-second bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-cl" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-cc</div>
<div class="bg-second bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-cc" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-cr</div>
<div class="bg-second bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-cr" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-bl</div>
<div class="bg-third bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-bl" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-bc</div>
<div class="bg-third bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-bc" style="background-color: #333; width: 10px; height: 10px;"></span></div>

<div>position-br</div>
<div class="bg-third bg-fade" style="position: relative; margin-bottom: 5px; width: 100px; height: 100px;"><span class="position-br" style="background-color: #333; width: 10px; height: 10px;"></span></div>
```
*/

.#{$p}position-tl,
.#{$p}position-tc,
.#{$p}position-tr,
.#{$p}position-cl,
.#{$p}position-cc,
.#{$p}position-cr,
.#{$p}position-bl,
.#{$p}position-bc,
.#{$p}position-br {
    position: absolute;
    z-index: 99;
}

.#{$p}position-tl {
    top: 0;
    left: 0;
}

.#{$p}position-tc {
    top: 0;
    left: 50%;
    -webkit-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    transform:translate(-50%, 0);
}

.#{$p}position-tr {
    top: 0;
    right: 0;
}

.#{$p}position-cl {
    top: 50%;
    left: 0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}

.#{$p}position-cc {
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    transform:translate(-50%, 0);
}

.#{$p}position-cr {
    top: 50%;
    right: 0;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}

.#{$p}position-bl {
    bottom: 0;
    left: 0;
}

.#{$p}position-bc {
    bottom: 0;
    left: 50%;
    -webkit-transform:translate(-50%, 0);
    -ms-transform:translate(-50%, 0);
    transform:translate(-50%, 0);
}

.#{$p}position-br {
    bottom: 0;
    right: 0;
}

