/*doc
---
title: .#{$p}shadow-(size)
name: shadow
category: utilities
---

要素に影をつける。サイズによって、背景との擬似的な距離が変わる。

``` example
<p><a href="#" class="btn btn-first btn-block shadow shadow-sm">shadow-sm</a></p>
<p><a href="#" class="btn btn-first btn-block shadow">shadow</a></p>
<p><a href="#" class="btn btn-first btn-block shadow shadow-lg">shadow-lg</a></p>
```
*/

.#{$p}shadow {
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.#{$p}shadow-sm {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

.#{$p}shadow-lg {
    box-shadow:
        0 2px 4px rgba(0, 0, 0, 0.1),
        2px 6px 12px rgba(0, 0, 0, 0.2);
}