/*
text_size
--------------------
*/

.#{$p}text-xxs {
    font-size: $font-size-xxs;
}

.#{$p}text-xs {
    font-size: $font-size-xs;
}

.#{$p}text-sm {
    font-size: $font-size-sm;
}

.#{$p}text-md {
    font-size: $font-size-md;
}

.#{$p}text-lg {
    font-size: $font-size-lg;
}

.#{$p}text-xl {
    font-size: $font-size-xl;
}

.#{$p}text-xxl {
    font-size: $font-size-xxl;
}
