/*
--------------------
#{$pr}#{$l}cards
--------------------
*/

.#{$pr}#{$l}cards {
    display: grid;
    width: calc( 100% - #{map-get( $grid-gutter-widths, md )} );
    gap: map-get( $grid-gutter-widths, lg );
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
        gap: map-get( $grid-gutter-widths, md );
        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.#{$pr}#{$l}cards#{$c1}item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    .#{$pr}#{$c}card {
        max-width: map-get( $object-max-widths, 'sm' );

        @include media-breakpoint-up(sm) {
            max-width: none;
        }

    }

}
