/*doc
---
title: #{$p}container
name: container
category: container
---

デバイスに応じて適切に本文幅を調整するコンテナブロック。  
<code>/\_scss/\_config_advance.scss</code> の「<code>$container-max-widths-md</code>」の定義を参照する。

``` example
<div class="#{$p}container #{$prefix}#{$u}bg-first #{$prefix}#{$u}bg-mild #{$prefix}#{$u}m-b">
    <div class="#{$prefix}#{$u}p-y #{$prefix}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$p}container {
  @include make-container();

  @each $breakpoint, $container-max-width in $container-max-widths-md {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width;
    }

  }

}

/*doc
---
title: #{$p}container-fluid
name: container-01-fluid
category: container
parent: container
---

コンテナブロックの最大幅の制限を行わない。

``` example
<div class="#{$p}container #{$p}container-fluid #{$prefix}#{$u}bg-second #{$prefix}#{$u}bg-mild #{$prefix}#{$u}m-b">
    <div class="#{$prefix}#{$u}p-y #{$prefix}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$p}container-fluid {

  @include media-breakpoint-up(0px) {
    max-width: none;
  }

}


/*doc
---
title: #{$p}container-sm
name: container-02-sm
category: container
parent: container
---

コンテナブロックの最大幅が通常よりも狭くなる。  
<code>/\_scss/\_config_advance.scss</code> の「<code>$container-max-widths-sm</code>」の定義を参照する。

``` example
<div class="#{$p}container #{$p}container-sm #{$prefix}#{$u}bg-third #{$prefix}#{$u}bg-mild #{$prefix}#{$u}m-b">
    <div class="#{$prefix}#{$u}p-y #{$prefix}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$p}container-sm {
  @each $breakpoint, $container-max-width-sm in $container-max-widths-sm {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width-sm;
    }
  }
}


/*doc
---
title: #{$p}container-lg
name: container-03-lg
category: container
parent: container
---

コンテナブロックの最大幅が通常よりも広くなる。  
<code>/\_scss/\_config_advance.scss</code> の「<code>$container-max-widths-lg</code>」の定義を参照する。


``` example
<div class="#{$p}container #{$p}container-lg #{$prefix}#{$u}bg-fourth #{$prefix}#{$u}bg-mild #{$prefix}#{$u}m-b">
    <div class="#{$prefix}#{$u}p-y #{$prefix}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$p}container-lg {
  @each $breakpoint, $container-max-width-lg in $container-max-widths-lg {
    @include media-breakpoint-up($breakpoint) {
      max-width: $container-max-width-lg;
    }
  }
}


/*doc
---
title: #{$p}container-full-md
name: container-04-full-md
category: container
parent: container
---

<code>breakpoint < md</code>でコンテナ余白を打ち消す。モバイル端末での幅100%表示等に使用する。

``` example
<div class="#{$p}container #{$p}container-full-md #{$prefix}#{$u}bg-fifth #{$prefix}#{$u}bg-mild #{$prefix}#{$u}m-b">
    <div class="#{$prefix}#{$u}p-y #{$prefix}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
<div class="#{$p}container #{$p}container-sm #{$p}container-full-md #{$prefix}#{$u}bg-fifth #{$prefix}#{$u}bg-mild #{$prefix}#{$u}m-b">
    <div class="#{$prefix}#{$u}p-y #{$prefix}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
<div class="#{$p}container #{$p}container-lg #{$p}container-full-md #{$prefix}#{$u}bg-fifth #{$prefix}#{$u}bg-mild #{$prefix}#{$u}m-b">
    <div class="#{$prefix}#{$u}p-y #{$prefix}#{$u}line-c" style="background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```
*/

.#{$p}container-full-md {

  @include media-breakpoint-down(md) {
      padding-left: 0;
      padding-right: 0;
  }

}


/*
#{$p}containerが二重になった場合の対策
*/
@include media-breakpoint-up(sm) {

.#{$p}container {

  .#{$p}container {
    padding-left: 0;
    padding-right: 0;
  }

}

}
