/*doc
---
title: #{$pr}#{$l}container
name: container
category: layout-container
---

デバイスに応じて適切に本文幅を調整するコンテナブロック。  
<code>/\_scss/\_config_advance.scss</code> の「<code>$container-max-widths-md</code>」の定義を参照する。

``` example
<div class="#{$pr}#{$l}container #{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-mild">
    <div style="padding: 5px; text-align: center; background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$pr}#{$l}container {
    @include make-container();

    @each $breakpoint, $container-max-width in $container-max-widths-md {

        @include media-breakpoint-up($breakpoint) {
            max-width: $container-max-width;
        }

    }

}


/*
.#{$pr}#{$l}containerが二重になった場合の対策
*/
@include media-breakpoint-up(sm) {

    .#{$pr}#{$l}container {

        .#{$pr}#{$l}container {
            padding-left: 0;
            padding-right: 0;
        }

    }

}

/*doc
---
title: #{$pr}#{$l}container-fluid
name: container-01-fluid
category: layout-container
parent: container
---

コンテナブロックの最大幅の制限を行わない。

``` example
<div class="#{$pr}#{$l}container #{$pr}#{$l}container-fluid #{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}bg-mild">
    <div style="padding: 5px; text-align: center; background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$pr}#{$l}container-fluid {

    @include media-breakpoint-up(0px) {
        max-width: none;
    }

}


/*doc
---
title: #{$pr}#{$l}container-sm
name: container-02-sm
category: layout-container
parent: container
---

コンテナブロックの最大幅が通常よりも狭くなる。  
<code>/\_scss/\_config_advance.scss</code> の「<code>$container-max-widths-sm</code>」の定義を参照する。

``` example
<div class="#{$pr}#{$l}container #{$pr}#{$l}container-sm #{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}bg-mild">
    <div style="padding: 5px; text-align: center; background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$pr}#{$l}container-sm {

    @each $breakpoint, $container-max-width-sm in $container-max-widths-sm {

        @include media-breakpoint-up($breakpoint) {
            max-width: $container-max-width-sm;
        }

    }

}


/*doc
---
title: #{$pr}#{$l}container-lg
name: container-03-lg
category: layout-container
parent: container
---

コンテナブロックの最大幅が通常よりも広くなる。  
<code>/\_scss/\_config_advance.scss</code> の「<code>$container-max-widths-lg</code>」の定義を参照する。

``` example
<div class="#{$pr}#{$l}container #{$pr}#{$l}container-lg #{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}bg-mild">
    <div style="padding: 5px; text-align: center; background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```

*/

.#{$pr}#{$l}container-lg {

    @each $breakpoint, $container-max-width-lg in $container-max-widths-lg {

        @include media-breakpoint-up($breakpoint) {
            max-width: $container-max-width-lg;
        }

    }

}


/*doc
---
title: #{$pr}#{$l}container-full-md
name: container-04-full-md
category: layout-container
parent: container
---

(breakpoint)が <code>md</code> 以下のときにコンテナ余白を打ち消す。モバイル端末での幅100%表示等に使用する。

``` example
<div class="#{$pr}#{$l}container #{$pr}#{$l}container-full-md #{$pr}#{$u}bg-#{$__fourth} #{$pr}#{$u}bg-mild #{$pr}#{$u}margin-b">
    <div style="padding: 5px; text-align: center; background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>

<div class="#{$pr}#{$l}container #{$pr}#{$l}container-sm #{$pr}#{$l}container-full-md #{$pr}#{$u}bg-#{$__fourth} #{$pr}#{$u}bg-mild #{$pr}#{$u}margin-b">
    <div style="padding: 5px; text-align: center; background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>

<div class="#{$pr}#{$l}container #{$pr}#{$l}container-lg #{$pr}#{$l}container-full-md #{$pr}#{$u}bg-#{$__fourth} #{$pr}#{$u}bg-mild #{$pr}#{$u}margin-b">
    <div style="padding: 5px; text-align: center; background-color: rgba(255,255,255,.5); color: #000">(contents)</div>
</div>
```
*/

.#{$pr}#{$l}container-full-md {

    @include media-breakpoint-down(md) {
            padding-left: 0;
            padding-right: 0;
    }

}

