/*doc
---
title: .#{$p}contents
name: l-2-contents
category: layout
---

カラム分割に対応したメインコンテンツを作成する。.#{$p}mainは必須。

``` example
<div class="#{$p}contents">

    <main class="#{$p}main" id="main" role="main">
        <div class="#{$p}bg-first #{$p}p-xl">main</div>
    </main>
    <div class="#{$p}sub">
        <div class="#{$p}bg-second #{$p}p-xl">sub</div>
    </div>

</div>
```

*/

.#{$p}contents {

    .#{$p}main {
        @include clearfix();
        padding-bottom: ($spacer * 3);
    }

    .#{$p}sub {
        @include clearfix();
        padding-top: ($spacer * 3);
        padding-bottom: ($spacer * 3);
    }

}


/*doc
---
title: .#{$p}contents-2col
name: l-2-contents-1-2col
category: layout
parent: l-2-contents
---

lg以上でflexboxによる2カラムとなる。#{$p}main, #{$p}subは必須。

``` example
<div class="#{$p}contents #{$p}contents-2col">

    <main class="#{$p}main" id="main" role="main">
        <div class="#{$p}bg-first #{$p}p-xl">main</div>
    </main>
    <div class="#{$p}sub">
        <div class="#{$p}bg-second #{$p}p-xl">sub</div>
    </div>

</div>
```
*/

.#{$p}contents-2col {

    @include media-breakpoint-up(lg) {
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }

    .#{$p}main {
        @include media-breakpoint-up(lg) {
            flex: 1;
            width: auto;
            padding-right: ($spacer * 3);
        }
        @include media-breakpoint-up(xl) {
            padding-right: ($spacer * 6);
        }
    }

    .#{$p}sub {
        @include media-breakpoint-up(lg) {
            width: 300px;
        }
    }

}
