/*doc
---
title: #{$p}document
name: document
category: document
---

ドキュメント全体を包括する。  
常に横スクロールバーを禁止しているため、不都合がある場合は、<code>overflow:hidden</code> を解除すること。

``` example
<div class="#{$p}document">
	<div class="#{$prefix}#{$u}bg-first #{$prefix}#{$u}bg-fade #{$prefix}#{$u}p" style="white-space: nowrap">
	    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore est animi, error, illo nam, rerum nobis doloremque facere illum corporis iure adipisci, temporibus. Nihil ipsum recusandae sed suscipit repellendus reiciendis!
	</div>
</div>
```
*/

.#{$p}document {
  overflow: hidden;
  max-width: 100%;
}
