/*
--------------------
#{$pr}#{$l}forms
--------------------
*/

.#{$pr}#{$l}forms {
    line-height: 1;

    @include media-breakpoint-up(lg) {
        display: grid;
        gap: map-get( $grid-gutter-widths, xl );
        grid-template-columns: auto 1fr;
    }

}

.#{$pr}#{$l}forms#{$c1}header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @include media-breakpoint-down(md) {
        margin-bottom: 1em;
    }

    @include media-breakpoint-up(lg) {
        justify-content: space-between;
    }

    > * + * {
        margin-left: 2em;
    }

}

.#{$pr}#{$l}forms#{$c1}label {

}

.#{$pr}#{$l}forms#{$c1}meta {

}

.#{$pr}#{$l}forms#{$c1}contents {

    @include media-breakpoint-down(md) {
        margin-bottom: map-get( $grid-gutter-widths, xl );
    }

}
