@if ($grid-type == 'float') {

/*doc
---
title: #{$p}#{$g}row
name: grid-01-row
category: layout-grid
---

floatによるグリッドのグループを作成する。

余白・段組のブレークポイントを変更したい場合は <code>/\_scss/config\_advance.css</code> の各変数を調整すること。  
命名規則をbootstrapと同様にしたい場合は、 <code>/\_scss/_\config\_advance.scss</code> の変数 <code>$g</code> を空にすること。


``` example
<div class="#{$p}#{$g}row">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}col-lg-4<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}col-lg-4<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}col-lg-4<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```

*/

.#{$p}#{$g}row {
    @include make-row-float();

    .#{$p}#{$g}col {
        padding-left: (map-get($grid-gutter-widths, md) / 2);
        padding-right: (map-get($grid-gutter-widths, md) / 2);
    }

}


/*doc
---
title: #{$p}#{$g}row-(size)
name: grid-01-row-01-size
category: layout-grid
parent: grid-01-row
---

floatによるグリッドで余白が異なるグループを作成する。  
(size)は<code>0, sm, lg</code> に対応している。  
Bootstrap4の <code>.no-gutters</code> は <code>.#{$p}#{$g}row-0</code> のエイリアスとなる。

``` example
<div class="#{$p}#{$g}row #{$p}#{$g}row-0">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}row-0<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p" style="height: 100%; opacity: 0.8;">#{$p}#{$g}row-0<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}row-0<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$p}#{$g}row #{$p}#{$g}row-sm">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__second} #{$p}#{$u}p">#{$p}#{$g}row-sm<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__second} #{$p}#{$u}p" style="height: 100%; opacity: 0.8;">#{$p}#{$g}row-sm<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__second} #{$p}#{$u}p">#{$p}#{$g}row-sm<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$p}#{$g}row #{$p}#{$g}row-lg">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__third} #{$p}#{$u}p">#{$p}#{$g}row-lg<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__third} #{$p}#{$u}p" style="height: 100%; opacity: 0.8;">#{$p}#{$g}row-lg<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$u}m-b">
        <div class="#{$p}#{$u}bg-#{$__third} #{$p}#{$u}p">#{$p}#{$g}row-lg<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```
*/

.#{$p}#{$g}row-0,
.#{$p}no-gutters {

    @include make-row-float( $gutter: 0 );

    .#{$p}#{$g}col {
        padding-left: 0;
        padding-right: 0;
    }

}

.#{$p}#{$g}row-sm {

    @include make-row-float( $gutter: map-get($grid-gutter-widths, sm) );

    .#{$p}#{$g}col {
        padding-left: (map-get($grid-gutter-widths, sm) / 2);
        padding-right: (map-get($grid-gutter-widths, sm) / 2);
    }

}

.#{$p}#{$g}row-lg {

    @include make-row-float( $gutter: map-get($grid-gutter-widths, lg) );

    .#{$p}#{$g}col {
        padding-left: (map-get($grid-gutter-widths, lg) / 2);
        padding-right: (map-get($grid-gutter-widths, lg) / 2);
    }

}


/*doc
---
title: #{$p}#{$g}col
name: grid-02-col
category: layout-grid
---

floatによるグリッドのセルを作成する。このクラス単独では余白のみ確保する。

*/

.#{$p}#{$g}col {
    @include make-col-float();
}

@include make-grid-columns-float();

/*doc
---
title: #{$p}#{$g}col-(breakpoint)-(column)
name: grid-02-col-01-breakpoint-column
category: layout-grid
parent: grid-02-col
---

floatによるグリッドのセルの幅を、<code>(column) / #{$grid-columns}</code>の割合にする。  
(breakpoint)の指定がない場合は、常にその幅となる。  
(breakpoint)の指定がある場合は、(breakpoint)**以上**のときに、指定した幅となる。

### スマートフォン(default)、低解像度タブレットまたはスマートフォン横回転(sm)、XGA以上(lg)でレイアウトを変更する代表的な例

``` example
<div class="#{$p}#{$g}row">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-12 #{$p}#{$g}col-sm-6 #{$p}#{$g}col-lg-4">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}col-12<br>#{$p}#{$g}col-sm-6<br>#{$p}#{$g}col-lg-4<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-12 #{$p}#{$g}col-sm-6 #{$p}#{$g}col-lg-4">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}col-12<br>#{$p}#{$g}col-sm-6<br>#{$p}#{$g}col-lg-4<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-12 #{$p}#{$g}col-sm-6 #{$p}#{$g}col-lg-4">
        <div class="#{$p}#{$u}bg-#{$__first} #{$p}#{$u}p">#{$p}#{$g}col-12<br>#{$p}#{$g}col-sm-6<br>#{$p}#{$g}col-lg-4<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```

### iPhone SEまたは拡大UI(default)、iPhone 8(xs)、iPhone 8 Plus(sm)間でレイアウトを変更する例

``` example
<div class="#{$p}#{$g}row">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-12 #{$p}#{$g}col-xs-6 #{$p}#{$g}col-sm-4">
        <div class="#{$p}#{$u}bg-#{$__second} #{$p}#{$u}p">#{$p}#{$g}col-12<br>#{$p}#{$g}col-xs-6<br>#{$p}#{$g}col-sm-4<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-12 #{$p}#{$g}col-xs-6 #{$p}#{$g}col-sm-4">
        <div class="#{$p}#{$u}bg-#{$__second} #{$p}#{$u}p">#{$p}#{$g}col-12<br>#{$p}#{$g}col-xs-6<br>#{$p}#{$g}col-sm-4<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-12 #{$p}#{$g}col-xs-6 #{$p}#{$g}col-sm-4">
        <div class="#{$p}#{$u}bg-#{$__second} #{$p}#{$u}p">#{$p}#{$g}col-12<br>#{$p}#{$g}col-xs-6<br>#{$p}#{$g}col-sm-4<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```

*/

@if ($disabled-grid-order-offset != true) {

/*doc
---
title: #{$p}#{$g}col-(breakpoint)-(push or pull)-(column)
name: grid-02-col-02-breakpoint-push-column
category: layout-grid
parent: grid-02-col
---

グリッドのセルの開始位置をずらす。<code>push</code>は右、<code>pull</code>は左にずれる。  
組み合わせるとfloatのグリッドでもセルの左右入れ替えができる。
このテーマでは、(column)は<code>1 - 12</code>、(breakpoint)は<code>xs, sm, md, lg, xl, xxl</code>に対応している。

``` example
<div class="#{$p}#{$g}row #{$p}#{$u}m-b">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-6 #{$p}#{$g}col-lg-push-2">
        <div class="#{$p}#{$u}bg-#{$__third} #{$p}#{$u}p">#{$p}#{$g}col-lg-6<br>#{$p}#{$g}col-lg-push-2<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
</div>

<div class="#{$p}#{$g}row #{$p}#{$u}m-b">
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-4 #{$p}#{$g}col-lg-push-8">
        <div class="#{$p}#{$u}bg-#{$__third} #{$p}#{$u}p">#{$p}#{$g}col-lg-4<br>#{$p}#{$g}col-lg-push-8<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$p}#{$g}col #{$p}#{$g}col-lg-8 #{$p}#{$g}col-lg-pull-4">
        <div class="#{$p}#{$u}bg-#{$__third} #{$p}#{$u}p">#{$p}#{$g}col-lg-8<br>#{$p}#{$g}col-lg-pull-4<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```

*/

}

}