/*doc
---
title: #{$pr}#{$row}
name: grid
category: layout-grid
---

flexboxによるグリッドのグループを作成する。 <code>ul ,ol</code> にも使用できる。  
命名規則をbootstrapと同様にしたい場合は、 <code>/\_scss/_config\_advance.scss</code> の変数 <code>$row</code> を変更すること。

### 補足：使用頻度が低いクラスの除外

以下のクラスは、使用頻度が非常に低いため、このフレームワークでは除外されている。  
<code>/\_scss/_config\_advance.scss</code> の変数 <code>$optimize</code> を <code>false</code> に変更すると、すべてのクラスに対応する。

- .#{$pr}#{$col}-1-(breakpoint)
- .#{$pr}#{$col}-(breakpoint)-#{$grid-columns-max}
- .#{$pr}#{$col}-offset-(breakpoint)-#{$grid-columns-max}

### note: Exclusion of less frequently used classes

The following classes are excluded in this framework because they are used very infrequently.  
Variable in <code>/\_scss/_config\_advance.scss</code> Changing <code>$optimize</code> to <code>false</code> corresponds to all classes.

- .#{$pr}#{$col}-1-(breakpoint)
- .#{$pr}#{$col}-(breakpoint)-#{$grid-columns-max}
- .#{$pr}#{$col}-offset-(breakpoint)-#{$grid-columns-max}

``` example
<div class="#{$pr}#{$row}">
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddf6bb; height: 100%;">#{$pr}#{$col}<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddf6bb; height: 100%;">#{$pr}#{$col}<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddf6bb; height: 100%;">#{$pr}#{$col}<br>ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。</div>
    </div>
</div>
```
*/
.#{$pr}#{$row} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    list-style-type: none;
    margin: 0 (map-get($grid-gutter-widths, md) / -2);
    padding: 0;
}


/*doc
---
title: #{$pr}#{$row}-(size)
name: grid-01-row-size
category: layout-grid
parent: grid
---

flexboxによるグリッドで余白が異なるグループを作成する。  
(size)は<code>0, sm, lg</code> に対応している。  
Bootstrap4の <code>.no-gutters</code> を <code>.#{$pr}#{$row}-0</code> のエイリアスとしている。  
命名規則をbootstrapと同様にしたい場合は、 <code>/\_scss/_\config\_advance.scss</code> の変数 <code>$row</code> を変更すること。

``` example
<div class="#{$pr}#{$row} #{$pr}#{$row}-0" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%;">#{$pr}#{$row}-0<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%; opacity: 0.8;">#{$pr}#{$row}-0<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%;">#{$pr}#{$row}-0<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$pr}#{$row} #{$pr}#{$row}-sm" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%;">#{$pr}#{$row}-sm<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%; opacity: 0.8;">#{$pr}#{$row}-sm<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%;">#{$pr}#{$row}-sm<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$pr}#{$row} #{$pr}#{$row}-lg">
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%;">#{$pr}#{$row}-lg<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%; opacity: 0.8;">#{$pr}#{$row}-lg<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ffdd99; height: 100%;">#{$pr}#{$row}-lg<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```
*/

.#{$pr}#{$row}-0,
.no-gutters {
    margin-left: 0;
    margin-right: 0;

    [class*="#{$pr}#{$col}"] {
        padding-left: 0;
        padding-right: 0;
    }

}

.#{$pr}#{$row}-sm {
    margin-left: (map-get($grid-gutter-widths, sm) / -2);
    margin-right: (map-get($grid-gutter-widths, sm) / -2);

    [class*="#{$pr}#{$col}"] {
        padding-left: (map-get($grid-gutter-widths, sm) / 2);
        padding-right: (map-get($grid-gutter-widths, sm) / 2);
    }

}

.#{$pr}#{$row}-lg {
    margin-left: (map-get($grid-gutter-widths, lg) / -2);
    margin-right: (map-get($grid-gutter-widths, lg) / -2);

    [class*="#{$pr}#{$col}"] {
        padding-left: (map-get($grid-gutter-widths, lg) / 2);
        padding-right: (map-get($grid-gutter-widths, lg) / 2);
    }

}


/*doc
---
title: #{$pr}#{$col}
name: grid-02-col
category: layout-grid
---

flexboxによるグリッドのセルを作成する。このクラス単独では常に均等幅となる。  

``` example
<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddbbf6; height: 100%;">#{$pr}#{$col}<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
</div>

<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddbbf6; height: 100%;">#{$pr}#{$col}<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddbbf6; height: 100%;">#{$pr}#{$col}<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>

<div class="#{$pr}#{$row}">
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddbbf6; height: 100%;">#{$pr}#{$col}<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddbbf6; height: 100%;">#{$pr}#{$col}<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ddbbf6; height: 100%;">#{$pr}#{$col}<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```

*/

[class*="#{$pr}#{$col}"] {
    position: relative;
    flex-shrink: 1;
    margin: 0;
    padding-left: (map-get($grid-gutter-widths, md) / 2);
    padding-right: (map-get($grid-gutter-widths, md) / 2);
}

@include make-grid-columns-flex();


/*doc
---
title: #{$pr}#{$col}-(breakpoint)-(column)
name: grid-03-col-column
category: layout-grid
---

flexboxによるグリッドのセルの幅を、<code>(column) / #{$grid-columns}</code>の割合にする。  
Bootstrap 4との互換性の関係で、**シングルクラス**となっている（#{$pr}#{$col}を常に付与する必要はない）。  
(breakpoint)の指定がない場合は、常にその幅となる。  
(breakpoint)の指定がある場合は、(breakpoint)**以上**のときに、指定した幅となる。

``` example
<h3 class="#{$pr}#{$u}text-lg">(column)のみ指定している場合</h3>
<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}-3">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-3<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}-3">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-3<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-3">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-3<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<h3 class="#{$pr}#{$u}text-lg #{$pr}#{$u}margin-t-lg">(column)と(breakpoint)の両方を指定している場合</h3>
<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}-lg-2">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-lg-2<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}-lg-6">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-lg-6<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-lg-4">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-lg-4<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<h3 class="#{$pr}#{$u}text-lg #{$pr}#{$u}margin-t-lg">(column)の指定があるセルと、ないセルが同列に混在している場合</h3>
<p>(column)の指定がないセルは、常に空間を埋めるように伸縮する（Bootstrapのautoと同様）。</p>
<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}-sm-6">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-sm-6<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-xl-2">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-xl-2<br>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</div>
    </div>
</div>

<h3 class="#{$pr}#{$u}text-lg #{$pr}#{$u}margin-t-lg">複雑な指定の例</h3>
<p>ウィンドウ幅が狭くなるに従って、段組が変化する。セルが複数行になる場合は、#{$pr}#{$col}にはmarginではなくpaddingを付与する。</p>
<div class="#{$pr}#{$row}">
    <div class="#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2" style="padding-bottom: 1rem;">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2" style="padding-bottom: 1rem;">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2" style="padding-bottom: 1rem;">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
    <div class="#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2" style="padding-bottom: 1rem;">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2<br>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</div>
    </div>
    <div class="#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2" style="padding-bottom: 1rem;">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
    <div class="#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2" style="padding-bottom: 1rem;">
        <div style="padding: 1rem; background-color: #ccddff; height: 100%;">#{$pr}#{$col}-6 #{$pr}#{$col}-sm-4 #{$pr}#{$col}-lg-3 #{$pr}#{$col}-xxl-2<br>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</div>
    </div>
</div>
```
*/


/*doc
---
title: #{$pr}#{$col}-order-(breakpoint)-(first or last or number)
name: grid-04-order
category: layout-grid
parent: grid-02-col
---

flexboxによるグリッドのセルを、指定した順番にする。  
(breakpoint)の指定がない場合は、常にその順番となる。  
(breakpoint)の指定がある場合は、(breakpoint)**以上**のときに、指定した順番となる。

``` example
<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}-order-last #{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #f8ccdd; height: 100%;">1:<br>#{$pr}#{$col}-order-last<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #f8ccdd; height: 100%;">2:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-order-first #{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #f8ccdd; height: 100%;">3:<br>#{$pr}#{$col}-order-first<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #f8ccdd; height: 100%;">4:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>

<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}-order-3 #{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #bbd3ff; height: 100%;">1:<br>#{$pr}#{$col}-order-3<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}-order-1 #{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #bbd3ff; height: 100%;">2:<br>#{$pr}#{$col}-order-1<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-order-4 #{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #bbd3ff; height: 100%;">3:<br>#{$pr}#{$col}-order-4<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-order-2 #{$pr}#{$col}">
        <div style="padding: 1rem; background-color: #bbd3ff; height: 100%;">4:<br>#{$pr}#{$col}-order-2<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>

<div class="#{$pr}#{$row}">
    <div class="#{$pr}#{$col}-order-sm-last #{$pr}#{$col}-sm-6 #{$pr}#{$col}-lg-3">
        <div style="padding: 1rem; background-color: #e6d6aa; height: 100%;">1:<br>#{$pr}#{$col}-order-sm-last<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}-sm-6 #{$pr}#{$col}-lg-3">
        <div style="padding: 1rem; background-color: #e6d6aa; height: 100%;">2:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-order-xl-first #{$pr}#{$col}-sm-6 #{$pr}#{$col}-lg-3">
        <div style="padding: 1rem; background-color: #e6d6aa; height: 100%;">3:<br>#{$pr}#{$col}-order-xl-first<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$col}-sm-6 #{$pr}#{$col}-lg-3">
        <div style="padding: 1rem; background-color: #e6d6aa; height: 100%;">4:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>
```
*/

/*doc
---
title: #{$pr}#{$col}-offset-(breakpoint)-(column)
name: grid-05-offset
category: layout-grid
parent: grid-02-col
---

flexboxによるグリッドのセルの開始位置を、<code>(column) / #{$grid-columns}</code>の割合だけ右にずらす。  
<code>#{$pr}#{$col}-(column)</code> と、<code>#{$pr}#{$col}-offset-(column)</code> の合計値が<code>#{$grid-columns}</code>を超えた場合は、offsetの値が優先される。  
(breakpoint)の指定がない場合は、常にその位置となる。  
(breakpoint)の指定がある場合は、(breakpoint)**以上**のときに、指定した位置となる。

``` example
<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}-offset-1 #{$pr}#{$col}-10">
        <div style="padding: 1rem; background-color: #aaeccc; height: 100%;">#{$pr}#{$col}-offset-3<br>#{$pr}#{$col}-10<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
</div>

<div class="#{$pr}#{$row}" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$col}-offset-lg-8 #{$pr}#{$col}-6">
        <div style="padding: 1rem; background-color: #aaeccc; height: 100%;">#{$pr}#{$col}-offset-lg-8<br>#{$pr}#{$col}-6<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$col}-offset-lg-4 #{$pr}#{$col}-offset-md-8 #{$pr}#{$col}-3">
        <div style="padding: 1rem; background-color: #aaeccc; height: 100%;">#{$pr}#{$col}-offset-lg-4<br>#{$pr}#{$col}-offset-md-8<br>#{$pr}#{$col}-3<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
</div>

```
*/
