@if ($grid-type != 'float') {

/*doc
---
title: #{$pr}#{$g}row
name: grid-01-row
category: layout-grid
---

flexboxによるグリッドのグループを作成する。 <code>ul</code> 要素にも使用できる。

余白・段組のブレークポイントを変更したい場合は <code>/\_scss/config\_advance.css</code> の各変数を調整すること。  
命名規則をbootstrapと同様にしたい場合は、 <code>/\_scss/_\config\_advance.scss</code> の変数 <code>$g</code> を空にすること。

``` example
<div class="#{$pr}#{$g}row">
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-lg-4<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-lg-4<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-lg-4<br>ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。</div>
    </div>
</div>
```
*/
.#{$pr}#{$g}row {
    @include make-row-flex();
    margin-left: (map-get($grid-gutter-widths, md) / -2);
    margin-right: (map-get($grid-gutter-widths, md) / -2);
}


/*doc
---
title: #{$pr}#{$g}row-(size)
name: grid-01-row-01-size
category: layout-grid
parent: grid-01-row
---

flexboxによるグリッドで余白が異なるグループを作成する。  
(size)は<code>0, sm, lg</code> に対応している。  
Bootstrap4の <code>.no-gutters</code> は <code>.#{$pr}#{$g}row-0</code> のエイリアスとなる。

``` example
<div class="#{$pr}#{$g}row #{$pr}#{$g}row-0">
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}row-0<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%; opacity: 0.8;">#{$pr}#{$g}row-0<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}row-0<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row #{$pr}#{$g}row-sm">
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}row-sm<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%; opacity: 0.8;">#{$pr}#{$g}row-sm<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}row-sm<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row #{$pr}#{$g}row-lg">
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}row-lg<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%; opacity: 0.8;">#{$pr}#{$g}row-lg<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}row-lg<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```
*/

.#{$pr}#{$g}row-0,
.#{$pr}no-gutters {
    margin-left: 0;
    margin-right: 0;

    [class*="#{$pr}#{$g}col"] {
        padding-left: 0;
        padding-right: 0;
    }

}

.#{$pr}#{$g}row-sm {
    margin-left: (map-get($grid-gutter-widths, sm) / -2);
    margin-right: (map-get($grid-gutter-widths, sm) / -2);

    [class*="#{$pr}#{$g}col"] {
        padding-left: (map-get($grid-gutter-widths, sm) / 2);
        padding-right: (map-get($grid-gutter-widths, sm) / 2);
    }

}

.#{$pr}#{$g}row-lg {
    margin-left: (map-get($grid-gutter-widths, lg) / -2);
    margin-right: (map-get($grid-gutter-widths, lg) / -2);

    [class*="#{$pr}#{$g}col"] {
        padding-left: (map-get($grid-gutter-widths, lg) / 2);
        padding-right: (map-get($grid-gutter-widths, lg) / 2);
    }

}


/*doc
---
title: #{$pr}#{$g}col
name: grid-02-col
category: layout-grid
---

flexboxによるグリッドのセルを作成する。このクラス単独では常に均等幅となる。

Bootstrap 4との互換の関係で、**このカテゴリーのみシングルクラスとなっている（#{$pr}#{$g}colを常に付与する必要はない）**ことに注意。

``` example
<div class="#{$pr}#{$g}row">
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row">
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row">
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>
```

*/

[class*="#{$pr}#{$g}col"] {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: (map-get($grid-gutter-widths, md) / 2);
    padding-right: (map-get($grid-gutter-widths, md) / 2);
}


@include make-grid-columns-flex();

/*doc
---
title: #{$pr}#{$g}col-(column)-(breakpoint)
name: grid-03-col-column-breakpoint
category: layout-grid
---

flexboxによるグリッドのセルの幅を、<code>(column) / #{$grid-columns}</code>の割合にする。  
(breakpoint)の指定がない場合は、常にその幅となる。  
(breakpoint)の指定がある場合は、(breakpoint)**以上**のときに、指定した幅となる。

``` example
<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}col-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-3<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col-sm-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-sm-3<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col-sm-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-sm-3<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}col-md-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-md-3<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col-md-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-md-3<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col-md-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-md-3<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
    <div class="#{$pr}#{$g}col-md-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-md-3<br>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}col-lg-4 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-lg-4<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col-lg-4 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-lg-4<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col-lg-4 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-lg-4<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row">
    <div class="#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-fourth #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-fourth #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-fourth #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
    <div class="#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-fourth #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2<br>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</div>
    </div>
    <div class="#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-fourth #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2<br>しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</div>
    </div>
    <div class="#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-fourth #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}col-6 #{$pr}#{$g}col-sm-4 #{$pr}#{$g}col-lg-3 #{$pr}#{$g}col-xxl-2<br>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</div>
    </div>
</div>
```
*/

@if ($disabled-grid-order-offset != true) {

/*doc
---
title: #{$pr}#{$g}order-(breakpoint)-(first or last or number)
name: grid-04-order-breakpoint
category: layout-grid
parent: grid-02-col
---

flexboxによるグリッドのセルを、指定した順番にする。  
(breakpoint)の指定がない場合は、常にその順番となる。  
(breakpoint)の指定がある場合は、(breakpoint)**以上**のときに、指定した順番となる。

``` example
<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}order-last #{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">1:<br>#{$pr}#{$g}order-last<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-mild #{$pr}#{$u}p" style="height: 100%;">2:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}order-first #{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">3:<br>#{$pr}#{$g}order-first<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}bg-mild #{$pr}#{$u}p" style="height: 100%;">4:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}order-3 #{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">1:<br>#{$pr}#{$g}order-3<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}order-1 #{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">2:<br>#{$pr}#{$g}order-1<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}order-4 #{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">3:<br>#{$pr}#{$g}order-4<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}order-2 #{$pr}#{$g}col #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">4:<br>#{$pr}#{$g}order-2<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}order-sm-last #{$pr}#{$g}col-sm-6 #{$pr}#{$g}col-lg-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">1:<br>#{$pr}#{$g}order-sm-last<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}col-sm-6 #{$pr}#{$g}col-lg-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}bg-mild #{$pr}#{$u}p" style="height: 100%;">2:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}order-xl-first #{$pr}#{$g}col-sm-6 #{$pr}#{$g}col-lg-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}p" style="height: 100%;">3:<br>#{$pr}#{$g}order-xl-first<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
    <div class="#{$pr}#{$g}col-sm-6 #{$pr}#{$g}col-lg-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__third} #{$pr}#{$u}bg-mild #{$pr}#{$u}p" style="height: 100%;">4:<br>吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</div>
    </div>
</div>
```
*/

}

/*doc
---
title: #{$pr}#{$g}offset-(breakpoint)-(column)
name: grid-05-offset-breakpoint
category: layout-grid
parent: grid-02-col
---

flexboxによるグリッドのセルの開始位置を、<code>(column) / #{$grid-columns}</code>の割合だけ右にずらす。  
<code>#{$pr}#{$g}col-(column)</code> と、<code>#{$pr}#{$g}offset-(column)</code> の合計値が<code>#{$grid-columns}</code>を超えてしまうと、セルが右にはみ出す。  
(breakpoint)の指定がない場合は、常にその位置となる。  
(breakpoint)の指定がある場合は、(breakpoint)**以上**のときに、指定した位置となる。

``` example
<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}offset-1 #{$pr}#{$g}col-10 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__first} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}offset-3<br>#{$pr}#{$g}col-10<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
</div>

<div class="#{$pr}#{$g}row #{$pr}#{$u}m-b-lg">
    <div class="#{$pr}#{$g}offset-lg-8 #{$pr}#{$g}col-6 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}offset-lg-8<br>#{$pr}#{$g}col-6<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
    <div class="#{$pr}#{$g}offset-lg-4 #{$pr}#{$g}offset-md-8 #{$pr}#{$g}col-3 #{$pr}#{$u}m-b">
        <div class="#{$pr}#{$u}bg-#{$__second} #{$pr}#{$u}p" style="height: 100%;">#{$pr}#{$g}offset-lg-4<br>#{$pr}#{$g}offset-md-8<br>#{$pr}#{$g}col-3<br>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。</div>
    </div>
</div>

```
*/

}
