/*
--------------------
#{$pr}#{$l}medias
--------------------
*/

.#{$pr}#{$l}medias {
    display: grid;
    gap: map-get( $grid-gutter-widths, md );
    width: calc( 100% - #{map-get( $grid-gutter-widths, md )} );
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr;
    }

}

.#{$pr}#{$l}medias#{$c1}item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    .#{$pr}#{$c}media {
    }

}
