<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><% if title %><%= title %> | <% end %>スタイルガイド | <%= @config['styleguide_name'] %></title>

    <link rel="stylesheet" href="../css/echo.min.css<?php echo '?var=' . date('%Y%m%d%H%m%s'); ?>">
    <link rel="stylesheet" href="../css/styles.css<?php echo '?var=' . date('%Y%m%d%H%m%s'); ?>">

    <script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    <script src="./js/scrollto.min.js<?php echo '?var=' . date('%Y%m%d%H%m%s'); ?>"></script>
    <script src="./js/fixnav.min.js<?php echo '?var=' . date('%Y%m%d%H%m%s'); ?>"></script>

    <link rel="stylesheet" href="./css/styleguide.css<?php echo '?var=' . date('%Y%m%d%H%m%s'); ?>">

</head>
<body>
<div class="l-document" id="document">

    <?php include('./include/header.inc'); ?>

    <div class="s-container s-container-fluid">
        <div class="s-contents s-contents-2col">
            <main class="s-contents-main" role="main">

                <% if title %>
                <div class="s-page-header page-header">
                    <h1 class="page-title title s-title-01"><%= title %></h1>
                </div><!-- /.page-header -->

                <nav class="s-anchor">
                    <ul class="list list-horizontal">
                        <% @blocks.each do |block| %>
                        <li class="list-item"><a href="#<%= block[:name] %>" class="js-scrollto"><%= block[:title] %></a></li>
                        <% end %>
                    </ul>
                </nav>
                <% end %>

                <article class="s-post post">
                    <div class="post-contents styleguide-contents">