<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><% if title %><%= title %> | <% end %>Style guide | <%= @config['styleguide_name'] %></title>

    <?php include('../doc_include/html_head.inc'); ?>

</head>
<body>
<div class="l-document" id="document">

    <header class="s-header">
        <div class="s-container s-container-fluid">

            <div class="s-header-brand">
                <p class="s-header-title title title-03"><%= @config['styleguide_name'] %> <span class="label label-info">v<%= @config['styleguide_version'] %></span></p>
            </div><!-- /.s-header-brand -->

            <?php include('../doc_include/header_nav.inc'); ?>

        </div><!-- /.s-container -->
    </header>

    <div class="s-container s-container-fluid">
        <div class="s-contents s-contents-2col">
            <main class="s-contents-main" role="main">

                <% if title %>
                <div class="s-page-header page-header">
                    <h1 class="page-title title s-title-01"><%= title %></h1>
                </div><!-- /.page-header -->
                <% end %>

                <% if @blocks.length > 1 then %>
                <nav class="s-anchor">
                    <ul class="list list-horizontal">
                        <% @blocks.each do |block| %>
                        <li class="list-item"><a href="#<%= block[:name] %>" class="js-scrollto"><%= block[:title] %></a></li>
                        <% end %>
                    </ul>
                </nav>
                <% end %>

                <article class="s-post post">
                    <div class="post-contents styleguide-contents">