<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><% if title %><%= title %> | <% end %>Style guide | <%= @config['styleguide_name'] %></title>

    <?php include('../doc_include/html_head.inc'); ?>

</head>
<body>
<div class="l-document" id="document">

    <header class="s-header">
        <div class="s-header-brand">
            <p class="s-title s-header-title"><img src="../images/common/logo_white.svg" height="24" alt="<%= @config['styleguide_name'] %>"> <span class="s-label">v<%= @config['styleguide_version'] %></span></p>
        </div><!-- /.s-header-brand -->

        <?php include('../doc_include/header_nav.inc'); ?>
    </header>

    <div class="s-container s-container-fluid">
        <div class="s-contents s-contents-2col">
            <main class="s-contents-main" role="main">

                <% if title %>
                <div class="s-pageheader">
                    <h1 class="s-title s-pageheader-title"><%= title %></h1>
                </div><!-- /.s-pageheader -->
                <% end %>

                <% if @blocks.length > 1 then %>
                <nav class="s-anchor">
                    <ul class="s-anchor-list">
                        <% @blocks.each do |block| %>
                        <li class="s-anchor-item"><a href="#<%= block[:name] %>" class="js-scrollto"><%= block[:title] %></a></li>
                        <% end %>
                    </ul>
                </nav>
                <% end %>

                <article class="s-post">
                    <div class="s-post-contents styleguide-contents">