@mixin make-row-float($gutter: map-get($grid-gutter-widths, md)) {
  @include clearfix();
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
}

@mixin make-col-float() {
  position: relative;
  float: left;
  min-height: 1px;
}

@mixin make-col-span-float($size, $columns: $grid-columns) {
  width: percentage($size / $columns);
}

@mixin make-col-offset-float($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin make-col-push-float($size, $columns: $grid-columns) {
  left: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-pull-float($size, $columns: $grid-columns) {
  right: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-modifier-float($type, $size, $columns) {
  @if $type == push {
    @include make-col-push-float($size, $columns);
  } @else if $type == pull {
    @include make-col-pull-float($size, $columns);
  } @else if $type == offset {
    @include make-col-offset-float($size, $columns);
  }
}

@mixin make-grid-columns-float($columns: $grid-columns, $breakpoints: $grid-breakpoints) {

  @each $breakpoint in map-keys($breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      @if ($breakpoint == default) {
        %grid-column-float {
          float: left;
        }
      } @else {
        %grid-column-float-#{$breakpoint} {
          float: left;
        }
      }

      @for $i from 1 through $columns {
        @if ($breakpoint == default) {

          @if ($optimize != true) or ( ($optimize == true) and ( $i > 2 ) ) {

            .#{$p}#{$g}col-#{$i} {
              @extend %grid-column-float;
              @include make-col-span-float($i, $columns);
            }

          }

        } @else {

          @if ($optimize != true) or ( ($optimize == true) and ( $i > 2 ) ) {

            .#{$p}#{$g}col-#{$breakpoint}-#{$i} {
              @extend %grid-column-float-#{$breakpoint};
              @include make-col-span-float($i, $columns);
            }

          }

        }

      }

      @if ($disabled-grid-order-offset != true) {
        @each $modifier in (pull, push, offset) {
          @for $i from 0 through $columns {
            @if ($i != 0) {
              @if ($breakpoint == default) {

                @if ($optimize != true) or ( ($optimize == true) and ( $i < 11 ) ) {

                  .#{$p}#{$g}col-#{$modifier}-#{$i} {
                    @include make-col-modifier-float($modifier, $i, $columns)
                  }

                }

              } @else {

                @if ($optimize != true) or ( ($optimize == true) and ( $breakpoint != 'xxs' ) and ( $breakpoint != 'xs' ) and ( $breakpoint != 'xl' ) and ( $breakpoint != 'xxl' ) and ( $i < 11 ) ) {
                  .#{$p}#{$g}col-#{$breakpoint}-#{$modifier}-#{$i} {
                    @include make-col-modifier-float($modifier, $i, $columns)
                  }
                }
              }
            }
          }
        }
      }

    }
  }
}
