@mixin chevron( $rotate: 'right', $color: $body-color ) {
    position: relative;

    &:before,
    &:after {
        content: "";
        position: absolute;
        width: .5em;
        height: 2px;
        background-color: $color;
    }

    @if ($rotate == 'right') {

        &:before {
            top: 55%;
            margin-left: -1px;
            -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        &:after {
            top: 55%;
            -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }

    }

    @if ($rotate == 'down') {

        &:before {
            top: 55%;
            -webkit-transform: rotate(50deg);
            transform: rotate(50deg);
            -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
        }
        &:after {
            top: 55%;
            margin-right: -1px;
            -webkit-transform: rotate(-50deg);
            transform: rotate(-50deg);
            -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
        }

    }

    @content;

}


@mixin clearfix() {
    &:before,
    &:after {
      content: "";
      display: table;
    }
    &:after {
      clear: both;
    }
}

@mixin headings-reset() {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: transparent none;
    border: 0 none;
    color: $body-color;
    font-size: $font-size-root;
    font-weight: $font-weight-bold-root;
    text-align: left;
    line-height: $line-height-root;
    border-radius: 0;

    &:before,
    &:after {
        display: none;
    }

}

@mixin imgfit($type:null) {
  display: block;
  height: auto;
  margin: 0 auto;
  @if ($type == cover) {
    width: 100%;
  } @else {
    max-width: 100%;
  }
}

@mixin absolute($position:tl, $offsetX:0, $offsetY:0, $z:null) {
  position: absolute;
  @if ($position == tl) {
    left: $offsetX;
    top: $offsetY;
  }
  @if ($position == tr) {
    right: $offsetX;
    top: $offsetY;
  }
  @if ($position == bl) {
    left: $offsetX;
    bottom: $offsetY;
  }
  @if ($position == br) {
    right: $offsetX;
    bottom: $offsetY;
  }
  @if ($z) {
    z-index: $z;
  }
}


@mixin sprites($type, $file, $width, $height, $imgwidth:100%, $imgheight:100%, $position:center center) {

  @if ($type == icon) {
      content: "";
      display: inline-block;
      width: $width;
      height: $height;
      vertical-align: middle;
  }
  background: url(../images/#{$file}) $position no-repeat;
  background-size: $imgwidth $imgheight;

}

@mixin translate($x, $y) {
  -moz-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  transform: translate($x, $y);
}

@mixin rotate($deg, $origin:center center) {
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  transform: rotate($deg);
  transform-origin: $origin;
}

@mixin scale($x, $y, $origin:center center) {
  -moz-transform: scale($x, $y);
  -o-transform: scale($x, $y);
  -ms-transform: scale($x, $y);
  transform: scale($x, $y);
  transform-origin: $origin;
}

@mixin animation($delay, $duration, $function, $animation-name) {
  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-timing-function: $function;
  -moz-animation-name: $animation-name;
  -moz-animation-fill-mode: forwards;

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-timing-function: $function;
  -o-animation-name: $animation-name;
  -o-animation-fill-mode: forwards;

  animation-delay: $delay;
  animation-duration: $duration;
  animation-timing-function: $function;
  animation-name: $animation-name;
  animation-fill-mode: forwards;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }

  @-moz-keyframes #{$animation-name} {
    @content;
  }

  @-o-keyframes #{$animation-name} {
    @content;
  }

  @keyframes #{$animation-name} {
    @content;
  }
}


@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 0.1, null);
}

@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-up($name, $breakpoints) {
    @include media-breakpoint-down($name, $breakpoints) {
      @content;
    }
  }
}

@mixin make-container($gutter: $grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  @include clearfix();
}

@mixin make-row($gutter: $grid-gutter-width) {
  @include clearfix();
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
}

@mixin make-col($gutter: $grid-gutter-width) {
  position: relative;
  float: left;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
}

@mixin make-col-span($size, $columns: $grid-columns) {
  width: percentage($size / $columns);
}

@mixin make-col-offset($size, $columns: $grid-columns) {
  margin-left: percentage($size / $columns);
}

@mixin make-col-push($size, $columns: $grid-columns) {
  left: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-pull($size, $columns: $grid-columns) {
  right: if($size > 0, percentage($size / $columns), auto);
}

@mixin make-col-modifier($type, $size, $columns) {
  @if $type == push {
    @include make-col-push($size, $columns);
  } @else if $type == pull {
    @include make-col-pull($size, $columns);
  } @else if $type == offset {
    @include make-col-offset($size, $columns);
  }
}

@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  %grid-column {
    position: relative;
    min-height: 1px;
    padding-left: ($gutter / 2);
    padding-right: ($gutter / 2);
  }
  @each $breakpoint in map-keys($breakpoints) {
    @for $i from 1 through $columns {
      @if ($breakpoint == default) {
        .l-col-#{$i} {
          @extend %grid-column;
        }
      } @else {
        .l-col-#{$i}-#{$breakpoint} {
          @extend %grid-column;
        }
      }
    }
    @include media-breakpoint-up($breakpoint) {
      @if ($breakpoint == default) {
        %grid-column-float {
          float: left;
        }
      } @else {
        %grid-column-float-#{$breakpoint} {
          float: left;
        }
      }

      @for $i from 1 through $columns {
        @if ($breakpoint == default) {
          .l-col-#{$i} {
            @extend %grid-column-float;
            @include make-col-span($i, $columns);
          }
        } @else {
          .l-col-#{$i}-#{$breakpoint} {
            @extend %grid-column-float-#{$breakpoint};
            @include make-col-span($i, $columns);
          }
        }
      }
      @each $modifier in (pull, push, offset) {
        @for $i from 0 through $columns {
          @if ($breakpoint == default) {
            .l-col-#{$i}-#{$modifier} {
              @include make-col-modifier($modifier, $i, $columns)
            }
          } @else {
            .l-col-#{$i}-#{$breakpoint}-#{$modifier} {
              @include make-col-modifier($modifier, $i, $columns)
            }
          }
        }
      }
    }
  }
}

@mixin button-variant($color, $background, $border, $hover-color, $hover-background, $hover-border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: $hover-color;
    background-color: $hover-background;
    border-color: $hover-border;
  }

  &.disabled,
  &:disabled,
  fieldset[disabled] & {
    opacity: .8;

    &:hover,
    &.hover,
    &:focus,
    &.focus {
      color: $color;
      background-color: $background;
      border-color: $border;
    }

  }

}

