@import "./_grid.scss";
@import "./_text.scss";

@mixin chevron( $rotate: 'right', $color: $body-color, $size: .375em, $border-width: 1px ) {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        width: $size;
        height: $size;
        border-top: $border-width solid $color;
        border-right: $border-width solid $color;
        transform-origin: center center;

        @if ($rotate == 'up') {
            transform: rotate(315deg);
        }

        @if ($rotate == 'right') {
            transform: rotate(45deg);
        }

        @if ($rotate == 'down') {
            transform: rotate(135deg);
        }

        @if ($rotate == 'left') {
            transform: rotate(225deg);
        }

    }

    @content;

}


@mixin clearfix() {

    &:before,
    &:after {
      content: "";
      display: table;
    }

    &:after {
      clear: both;
    }

}


@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
    $n: index($breakpoint-names, $name);
    @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
    $min: map-get($breakpoints, $name);
    @return if($min != 0, $min, null);
}

@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
    $next: breakpoint-next($name, $breakpoints);
    @return if($next, breakpoint-min($next, $breakpoints) - 0.1, null);
}

@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
    @return if(breakpoint-min($name, $breakpoints) == null, "", "#{$c2}#{$name}");
}


@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
    $min: breakpoint-min($name, $breakpoints);

    @if $min {
        @media (min-width: $min) {
          @content;
        }

    } @else {
        @content;

    }

}


@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
    $max: breakpoint-max($name, $breakpoints);

    @if $max {
        @media (max-width: $max) {
        @content;
    }

    } @else {
        @content;

    }

}


@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {

    @include media-breakpoint-up($name, $breakpoints) {

        @include media-breakpoint-down($name, $breakpoints) {
            @content;
        }

    }

}


@mixin button-variant(
    $color,
    $background,
    $border,
    $hover-color,
    $hover-background,
    $hover-border
) {

    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover,
    &:focus,
    &:active,
    &.active {
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;
    }

    &.disabled,
    &:disabled,
    fieldset[disabled] & {
        opacity: .8;

        &:hover,
        &.hover,
        &:focus,
        &.focus {
            color: $color;
            background-color: $background;
            border-color: $border;
        }

    }

    @at-root {

        a:hover &,
        a:focus &,
        a:active & {
            color: $hover-color;
            background-color: $hover-background;
            border-color: $hover-border;
        }

    }

}

