@mixin responsive-spacing( $property, $min, $max ) {

    $diff_space: $max - $min;
    $diff_breakpoint: map-get( $spacing-breakpoints, 'max' ) - map-get( $spacing-breakpoints, 'min' );

    $vw: ( 100 * $diff_space ) / $diff_breakpoint;
    $increase: round( $min - ( map-get( $spacing-breakpoints, 'min' )  / 100 ) * $vw );

    #{$property}: #{$max}px;
    #{$property}: clamp( #{$min}px, calc( #{$vw}vw + #{$increase}px ), #{$max}px );

}