@mixin make-text-direction($b: $grid-breakpoints) {
  .#{$pr}#{$u}text-left {
    text-align: left;
  }

  .#{$pr}#{$u}text-center {
    text-align: center;
  }

  .#{$pr}#{$u}text-right {
    text-align: right;
  }

  @each $breakpoint in map-keys($b) {
    @include media-breakpoint-up($breakpoint, $b) {
      .#{$pr}#{$u}text-left-#{$breakpoint}-up {
        text-align: left;
      }

      .#{$pr}#{$u}text-center-#{$breakpoint}-up {
        text-align: center;
      }

      .#{$pr}#{$u}text-right-#{$breakpoint}-up {
        text-align: right;
      }

    }
    @include media-breakpoint-down($breakpoint, $b) {
      .#{$pr}#{$u}text-left-#{$breakpoint}-down {
        text-align: left;
      }

      .#{$pr}#{$u}text-center-#{$breakpoint}-down {
        text-align: center;
      }

      .#{$pr}#{$u}text-right-#{$breakpoint}-down {
        text-align: right;
      }

    }

  }

}
