@mixin make-text-direction($b: $grid-breakpoints) {
    .#{$pr}#{$u}text#{$c3}left {
        text-align: left;
    }

    .#{$pr}#{$u}text#{$c3}center {
        text-align: center;
    }

    .#{$pr}#{$u}text#{$c3}right {
        text-align: right;
    }

    @each $breakpoint in map-keys($b) {

        @if ( $breakpoint != 'default' ) {

            @include media-breakpoint-up($breakpoint, $b) {

                .#{$pr}#{$u}text#{$c3}left#{$c2}#{$breakpoint}#{$c3}up {
                    text-align: left;
                }

                .#{$pr}#{$u}text#{$c3}center#{$c2}#{$breakpoint}#{$c3}up {
                    text-align: center;
                }

                .#{$pr}#{$u}text#{$c3}right#{$c2}#{$breakpoint}#{$c3}up {
                    text-align: right;
                }

            }

            @include media-breakpoint-down($breakpoint, $b) {

                .#{$pr}#{$u}text#{$c3}left#{$c2}#{$breakpoint}-down {
                    text-align: left;
                }

                .#{$pr}#{$u}text#{$c3}center#{$c2}#{$breakpoint}-down {
                    text-align: center;
                }

                .#{$pr}#{$u}text#{$c3}right#{$c2}#{$breakpoint}-down {
                    text-align: right;
                }

            }

        }

    }

}

@mixin make-text-size($b: $grid-breakpoints) {
    .#{$pr}#{$u}text#{$c3}xxs {
        font-size: ( 10 / 16 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xs {
        font-size: ( 12 / 16 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}sm {
        font-size: ( 14 / 16 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}md {
        font-size: 1em;
    }

    .#{$pr}#{$u}text#{$c3}lg {
        font-size: ( 18 / 16 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xl {
        font-size: ( 20 / 16 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxl {
        font-size: ( 24 / 16 ) + em;
    }

    @each $breakpoint in map-keys($b) {

        @if ( $breakpoint != 'default' ) {

            @include media-breakpoint-up($breakpoint, $b) {
                .#{$pr}#{$u}text#{$c3}xxs#{$c2}#{$breakpoint}#{$c3}up {
                    font-size: ( 10 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}xs#{$c2}#{$breakpoint}#{$c3}up {
                    font-size: ( 12 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}sm#{$c2}#{$breakpoint}#{$c3}up {
                    font-size: ( 14 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}md#{$c2}#{$breakpoint}#{$c3}up {
                    font-size: 1em;
                }

                .#{$pr}#{$u}text#{$c3}lg#{$c2}#{$breakpoint}#{$c3}up {
                    font-size: ( 18 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}xl#{$c2}#{$breakpoint}#{$c3}up {
                    font-size: ( 20 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}xxl#{$c2}#{$breakpoint}#{$c3}up {
                    font-size: ( 24 / 16 ) + em;
                }

            }

            @include media-breakpoint-down($breakpoint, $b) {
                .#{$pr}#{$u}text#{$c3}xxs#{$c2}#{$breakpoint}#{$c3}down {
                    font-size: ( 10 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}xs#{$c2}#{$breakpoint}#{$c3}down {
                    font-size: ( 12 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}sm#{$c2}#{$breakpoint}#{$c3}down {
                    font-size: ( 14 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}md#{$c2}#{$breakpoint}#{$c3}down {
                    font-size: 1em;
                }

                .#{$pr}#{$u}text#{$c3}lg#{$c2}#{$breakpoint}#{$c3}down {
                    font-size: ( 18 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}xl#{$c2}#{$breakpoint}#{$c3}down {
                    font-size: ( 20 / 16 ) + em;
                }

                .#{$pr}#{$u}text#{$c3}xxl#{$c2}#{$breakpoint}#{$c3}down {
                    font-size: ( 24 / 16 ) + em;
                }

            }

        }

    }

}
