/*
--------------------
#{$pr}#{$c}box#{$c3}style#{$c3}(style)
--------------------
*/

.#{$pr}#{$c}box#{$c3}style#{$c3}a {
    background-color: $default-fade;
}

.#{$pr}#{$c}box#{$c3}style#{$c3}b {
    background-color: transparent;
    border-color: $default;
}
