/*
--------------------
#{$pr}#{$c}paginate
--------------------
*/

.#{$pr}#{$c}paginate {
    overflow: hidden;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .#{$pr}#{$m}nav {
        flex-grow: 0;
    }

    .#{$pr}#{$m}nav#{$c1}list {
        margin-left: ( $paginate-gutter * -1 );
    }

    .#{$pr}#{$m}nav#{$c1}item {
        position: relative;
        display: flex;
        justify-content: center;
        margin-left: $paginate-gutter;
        flex-grow: 1;

        &:not(.#{$paginate-prev}):not(.#{$paginate-next}):not(.#{$paginate-ellipsis}) {
            flex-grow: 0;
        }

        &.#{$paginate-prev},
        &.#{$paginate-next} {

            .#{$pr}#{$m}nav#{$c1}label {
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: .5em;
                    height: .5em;
                    transform-origin: center center;
                    border-top: .2em solid currentcolor;
                    border-left: .2em solid currentcolor;
                    border-radius: .1em;
                }

            }

        }

        &.#{$paginate-prev} {

            .#{$pr}#{$m}nav#{$c1}label {

                &:after {
                    transform:
                        translateX( -.25em )
                        translateY( -50% )
                        rotate( -45deg );
                }

            }

        }

        &.#{$paginate-next} {

            .#{$pr}#{$m}nav#{$c1}label {

                &:after {
                    transform:
                        translateX( -.5em )
                        translateY( -50% )
                        rotate( 135deg );
                }

            }

        }

        &.#{$paginate-ellipsis} {
            align-items: center;

            .#{$pr}#{$m}nav#{$c1}label {
                width: auto;
                padding-left: .5em;
                padding-right: .5em;
                border: 0 none transparent;
            }

        }

    }

    .#{$pr}#{$m}nav#{$c1}label {
        flex-wrap: nowrap;
        padding: 0;
        border-style: solid;
        border-width: $paginate-border-width;
    }

    .#{$pr}#{$m}nav:not(.#{$pr}#{$m}nav#{$c3}inverse) {

        .#{$pr}#{$m}nav#{$c1}item {

            &.#{$paginate-current} {

                .#{$pr}#{$m}nav#{$c1}label {
                    background-color: $paginate-current-bg;
                    border-color: $paginate-current-border-color;
                    color: $paginate-current-color;
                }

            }

        }

        a.#{$pr}#{$m}nav#{$c1}label {
            background-color: $paginate-bg;
            border-color: $paginate-border-color;
            color: $paginate-color;

            &:hover,
            &:focus {
                background-color: $paginate-hover-bg;
                border-color: $paginate-hover-border-color;
                color: $paginate-hover-color;
            }

        }

    }


    // inverse ================================

    .#{$pr}#{$m}nav#{$c3}inverse {

        .#{$pr}#{$m}nav#{$c1}item {

            &.#{$paginate-current} {

                .#{$pr}#{$m}nav#{$c1}label {
                    background-color: $paginate-inverse-current-bg;
                    border-color: $paginate-inverse-current-border-color;
                    color: $paginate-inverse-current-color;
                }

            }

        }

        a.#{$pr}#{$m}nav#{$c1}label {
            background-color: $paginate-inverse-bg;
            border-color: $paginate-inverse-border-color;
            color: $paginate-inverse-color;

            &:hover,
            &:focus {
                background-color: $paginate-inverse-hover-bg;
                border-color: $paginate-inverse-hover-border-color;
                color: $paginate-inverse-hover-color;
            }

        }

    }

}
