/*doc
---
title: .#{$prefix}footer
name: p-3-footer
category: project
---

フッタを表示する。

*/

.#{$prefix}footer {
    padding: ($spacer * 2) 0 ($spacer * 6);
    font-size: $font-size-xs;
    text-align: center;
}


/*doc
---
title: .#{$prefix}footer-copyright
name: p-3-footer-1-copyright
category: project
parent: p-3-footer
---

コピーライト文を表示する。

*/

.#{$prefix}footer-copyright {
    margin: 0;
    font-size: $font-size-xs;
}
