/*doc
---
title: .#{$p}header
name: p-1-header
category: project
---

ヘッダを表示する。

*/

.#{$p}header {
    padding: ($spacer * 2) 0;
}


/*doc
---
title: .#{$p}header-brand
name: p-1-header-1-brand
category: project
parent: p-1-header
---

ブランドロゴを表示する。

*/

.#{$p}header-brand {
    margin: 0;
    text-align: center;
    line-height: $line-height-none;

    @include media-breakpoint-up(lg) {
        text-align: left;
    }
}


/*doc
---
title: .#{$p}header-title
name: p-1-header-2-title
category: project
parent: p-1-header
---

サイトタイトルを表示する。

*/

.#{$p}header-title {
    font-size: 1.5rem;
}

