/*
--------------------
#{$pr}#{$l}medias
--------------------
*/

.#{$pr}#{$l}medias {
    display: grid;
    gap: map-get( $grid-gutter-widths, lg );
    width: calc( 100% - #{map-get( $grid-gutter-widths, md )} );
    margin: 0 auto;

    @include media-breakpoint-up(lg) {
        gap: map-get( $grid-gutter-widths, md );
        grid-template-columns: 1fr 1fr;
    }

}

.#{$pr}#{$l}medias#{$c1}item {

    .#{$pr}#{$c}media {
        width: 100%;
        height: 100%;
    }

    .#{$pr}#{$c}media#{$c3}inner {
        height: 100%;
    }

}
