/*
--------------------
#{$pr}#{$c}alert
--------------------
*/

.#{$pr}#{$c}alert {
    display: flex;
    align-items: stretch;
    margin: 0 0 2rem;
    padding: .5em ( map-get( $grid-gutter-widths, md ) / 2 );
    background-color: $default-fade;
    border: $border-alert-width solid $border-color;
    font-size: $font-size-sm;
    line-height: $line-height-sm;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-md;
    }

    + #{&} {
        margin-top: -1rem;
    }

    p {
        margin-bottom: 0;
    }

}

.#{$pr}#{$c}alert#{$c1}header {
    flex: 0 0 auto;
    align-self: center;
    margin-right: ( map-get( $grid-gutter-widths, md ) / 2 );
    text-align: left;
}

.#{$pr}#{$c}alert#{$c1}footer {
    flex: 1 0 auto;
    align-self: center;
    margin-left: ( map-get( $grid-gutter-widths, md ) / 2 );
    text-align: right;
}
