/*doc
---
title: #{$pr}#{$c}alert
name: alert
category: component-alert
---

システム側の注意文を表示する。 <code>p</code> のみ、もしくは <code>div</code> と <code>p, ul</code> でマークアップすることもできる。  
連続して表示すると <code>.#{$pr}#{$c}alert</code> 間の余白が**通常よりも狭くなる。**  
下以外の余白は <code>utility > .#{$pr}#{$u}m</code> 等で指定する。

``` example
<div>
<p class="#{$pr}#{$c}alert">#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
</div>

<div>
<p class="#{$pr}#{$c}alert"><span class="#{$pr}#{$c}alert-header"><i class="fas fa-info-circle"></i><span class="#{$pr}#{$u}sr">お知らせ</span></span>#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
</div>

<div>
<div class="#{$pr}#{$c}alert"><p>#{$pr}#{$c}alert_これはシステムからの注意文です。</p><span class="#{$pr}#{$c}alert-control"><i class="fas fa-times-circle"></i><span class="#{$pr}#{$u}sr">閉じる</span></span></div>
</div>
```

*/

.#{$pr}#{$c}alert {
    display: flex;
    align-items: stretch;
    margin: 0 0 ($spacer * 3);
    padding: $spacer;
    background-color: $gray-fade;
    border: $border-alert-width solid $border-color;
    line-height: $line-height-sm;

    @include media-breakpoint-up(md) {
        padding: $spacer ($spacer * 2);
    }

    + #{&} {
        margin-top: $spacer * -1.5;
    }

    p,
    ul {
        margin-bottom: 0;
    }

}

.#{$pr}#{$c}alert-header {
    flex: 0 0 auto;
    align-self: center;
    margin-right: $spacer;
    text-align: left;

    #{$icon} {
        font-size: 1.25em;
    }

}

.#{$pr}#{$c}alert-control {
    flex: 1 0 auto;
    align-self: center;
    margin-left: $spacer;
    text-align: right;

    #{$icon} {
        font-size: 1.25em;
    }

}



/*doc
---
title: #{$pr}#{$c}alert-(color)
name: alert-01-color
category: component-alert
parent: alert
---

注意文の色を変更する。  
(color)は<a href="../documentation/design_tokens/color.html">標準のカラーテーブル</a>を参照。

``` example
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__first}">#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__second}">#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__third}">#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__fourth}">#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__info}">#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__important}">#{$pr}#{$c}alert_これはシステムからの注意文です。</p>

<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__first}"><span class="#{$pr}#{$c}alert-header"><i class="fas fa-info-circle"></i><span class="#{$pr}#{$u}sr">お知らせ</span></span>#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__second}"><span class="#{$pr}#{$c}alert-header"><i class="fas fa-info-circle"></i><span class="#{$pr}#{$u}sr">お知らせ</span></span>#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__third}"><span class="#{$pr}#{$c}alert-header"><i class="fas fa-info-circle"></i><span class="#{$pr}#{$u}sr">お知らせ</span></span>#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__fourth}"><span class="#{$pr}#{$c}alert-header"><i class="fas fa-info-circle"></i><span class="#{$pr}#{$u}sr">お知らせ</span></span>#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__info}"><span class="#{$pr}#{$c}alert-header"><i class="fas fa-info-circle"></i><span class="#{$pr}#{$u}sr">お知らせ</span></span>#{$pr}#{$c}alert_これはシステムからの注意文です。</p>
<p class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__important}"><span class="#{$pr}#{$c}alert-header"><i class="fas fa-info-circle"></i><span class="#{$pr}#{$u}sr">お知らせ</span></span>#{$pr}#{$c}alert_これはシステムからの注意文です。</p>

<div class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__first}"><p>#{$pr}#{$c}alert_これはシステムからの注意文です。</p><span class="#{$pr}#{$c}alert-control"><i class="fas fa-times-circle"></i><span class="#{$pr}#{$u}sr">閉じる</span></span></div>
<div class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__second}"><p>#{$pr}#{$c}alert_これはシステムからの注意文です。</p><span class="#{$pr}#{$c}alert-control"><i class="fas fa-times-circle"></i><span class="#{$pr}#{$u}sr">閉じる</span></span></div>
<div class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__third}"><p>#{$pr}#{$c}alert_これはシステムからの注意文です。</p><span class="#{$pr}#{$c}alert-control"><i class="fas fa-times-circle"></i><span class="#{$pr}#{$u}sr">閉じる</span></span></div>
<div class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__fourth}"><p>#{$pr}#{$c}alert_これはシステムからの注意文です。</p><span class="#{$pr}#{$c}alert-control"><i class="fas fa-times-circle"></i><span class="#{$pr}#{$u}sr">閉じる</span></span></div>
<div class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__info}"><p>#{$pr}#{$c}alert_これはシステムからの注意文です。</p><span class="#{$pr}#{$c}alert-control"><i class="fas fa-times-circle"></i><span class="#{$pr}#{$u}sr">閉じる</span></span></div>
<div class="#{$pr}#{$c}alert #{$pr}#{$c}alert-#{$__important}"><p>#{$pr}#{$c}alert_これはシステムからの注意文です。</p><span class="#{$pr}#{$c}alert-control"><i class="fas fa-times-circle"></i><span class="#{$pr}#{$u}sr">閉じる</span></span></div>
```

*/

.#{$pr}#{$c}alert-#{$__first} {
    color: $first-text;
    border-color: $first-mild;
    background-color: $first-fade;
}

.#{$pr}#{$c}alert-#{$__second} {
    color: $second-text;
    border-color: $second-mild;
    background-color: $second-fade;
}

.#{$pr}#{$c}alert-#{$__third} {
    color: $third-text;
    border-color: $third-mild;
    background-color: $third-fade;
}

.#{$pr}#{$c}alert-#{$__fourth} {
    color: $fourth-text;
    border-color: $fourth-mild;
    background-color: $fourth-fade;
}

.#{$pr}#{$c}alert-#{$__info} {
    color: $info-text;
    border-color: $info-mild;
    background-color: $info-fade;
}

.#{$pr}#{$c}alert-#{$__important} {
    color: $important-text;
    border-color: $important-mild;
    background-color: $important-fade;
}

