/*
--------------------
#{$pr}#{$c}alert#{$c3}(color)
--------------------
*/

.#{$pr}#{$c}alert#{$c3}info {
    color: $info-strong;
    border-color: $info;
    background-color: $info-fade;
}

.#{$pr}#{$c}alert#{$c3}important {
    color: $important-strong;
    border-color: $important;
    background-color: $important-fade;
}

.#{$pr}#{$c}alert#{$c3}inverse {
    color: $inverse-strong;
    border-color: $inverse;
    background-color: $inverse-fade;
}

