/*
--------------------
#{$pr}#{$c}alert
--------------------
*/

.#{$pr}#{$c}alert {
    display: flex;
    align-items: stretch;
    margin: 0 0 ($spacer * 3);
    padding: $spacer;
    background-color: $gray-fade;
    border: $border-alert-width solid $border-color;
    line-height: $line-height-sm;

    @include media-breakpoint-up(md) {
        padding: $spacer ($spacer * 2);
    }

    + #{&} {
        margin-top: $spacer * -1.5;
    }

    p,
    ul {
        margin-bottom: 0;
    }

}

.#{$pr}#{$c}alert#{$c1}header {
    flex: 0 0 auto;
    align-self: center;
    margin-right: $spacer;
    text-align: left;

    #{$icon} {
        font-size: 1.25em;
    }

}

.#{$pr}#{$c}alert#{$c1}footer {
    flex: 1 0 auto;
    align-self: center;
    margin-left: $spacer;
    text-align: right;

    #{$icon} {
        font-size: 1.25em;
    }

}


/*
--------------------
#{$pr}#{$c}alert#{$c3}(color)
--------------------
*/

.#{$pr}#{$c}alert#{$c3}first {
    color: $first-strong;
    border-color: $first;
    background-color: $first-fade;
}

.#{$pr}#{$c}alert#{$c3}second {
    color: $second-strong;
    border-color: $second;
    background-color: $second-fade;
}

.#{$pr}#{$c}alert#{$c3}third {
    color: $third-strong;
    border-color: $third;
    background-color: $third-fade;
}

.#{$pr}#{$c}alert#{$c3}info {
    color: $info-strong;
    border-color: $info;
    background-color: $info-fade;
}

.#{$pr}#{$c}alert#{$c3}important {
    color: $important-strong;
    border-color: $important;
    background-color: $important-fade;
}

