/*
--------------------
#{$pr}#{$c}body
--------------------
*/

.#{$pr}#{$c}body {
    margin: 0;
    line-height: $line-height-lg;

    * {
        &:last-child {
            margin-bottom: 0;
        }
    }

}
