/*
--------------------
#{$pr}#{$c}box
--------------------
*/

.#{$pr}#{$c}box {
    margin: 0;

    @include responsive-spacing(
        'padding',
        10,
        30
    );

    border: $border-box-width solid transparent;
    color: $body-color;
    background-color: $default-fade;
    border-radius: $border-radius-lg;

    p,
    ul,
    ol,
    dl {
        &:last-child {
            margin-bottom: 0;
        }
    }

}
