/*
--------------------
#{$pr}#{$c}box
--------------------
*/

.#{$pr}#{$c}box {
    position: relative;
    @include clearfix();
    margin-bottom: ($spacer * 2);
    padding: ($spacer * 2);
    border: $border-box-width solid transparent;
    background-color: $gray-fade;
    border-radius: $border-radius-md;

    @include media-breakpoint-up(md) {
        padding: ($spacer * 3);
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: ($spacer * 3);
    }

    p,
    ul,
    ol,
    dl {
        &:last-child {
            margin-bottom: 0;
        }
    }

}


/*
--------------------
#{$pr}#{$c}box#{$c3}(color)
--------------------
*/

.#{$pr}#{$c}box#{$c3}#{$__first} {
    background-color: $first-fade;
}

.#{$pr}#{$c}box#{$c3}#{$__second} {
    background-color: $second-fade;
}

.#{$pr}#{$c}box#{$c3}#{$__third} {
    background-color: $third-fade;
}

.#{$pr}#{$c}box#{$c3}#{$__info} {
    background-color: $info-fade;
}

.#{$pr}#{$c}box#{$c3}#{$__important} {
    background-color: $important-fade;
}


/*
--------------------
#{$pr}#{$c}box#{$c3}bordered
--------------------
*/

.#{$pr}#{$c}box#{$c3}bordered {
    background-color: $body-bg;
    border-color: $gray-milder;

    &.#{$pr}#{$c}box-#{$__first} {
        border-color: $first;
    }

    &.#{$pr}#{$c}box-#{$__second} {
        border-color: $second;
    }

    &.#{$pr}#{$c}box-#{$__third} {
        border-color: $third;
    }

    &.#{$pr}#{$c}box-#{$__info} {
        border-color: $info;
    }

    &.#{$pr}#{$c}box-#{$__important} {
        border-color: $important;
    }

}
