/*
--------------------
#{$pr}#{$c}box
--------------------
*/

.#{$pr}#{$c}box {
    position: relative;
    @include clearfix();
    margin-bottom: ($spacer * 2);
    padding: ($spacer * 2);
    border: $border-box-width solid transparent;
    background-color: $gray-fade;
    border-radius: $border-radius-lg;

    @include media-breakpoint-up(md) {
        padding: ($spacer * 3);
    }

    @include media-breakpoint-up(xl) {
        margin-bottom: ($spacer * 3);
    }

    p,
    ul,
    ol,
    dl {
        &:last-child {
            margin-bottom: 0;
        }
    }

}


/*
--------------------
#{$pr}#{$c}box#{$c3}(color)
--------------------
*/

.#{$pr}#{$c}box#{$c3}first {
    background-color: $first-fade;
}

.#{$pr}#{$c}box#{$c3}second {
    background-color: $second-fade;
}

.#{$pr}#{$c}box#{$c3}third {
    background-color: $third-fade;
}

.#{$pr}#{$c}box#{$c3}info {
    background-color: $info-fade;
}

.#{$pr}#{$c}box#{$c3}important {
    background-color: $important-fade;
}


/*
--------------------
#{$pr}#{$c}box#{$c3}bordered
--------------------
*/

.#{$pr}#{$c}box#{$c3}bordered {
    background-color: $body-bg;
    border-color: $gray-milder;

    &.#{$pr}#{$c}box-first {
        border-color: $first;
    }

    &.#{$pr}#{$c}box-second {
        border-color: $second;
    }

    &.#{$pr}#{$c}box-third {
        border-color: $third;
    }

    &.#{$pr}#{$c}box-info {
        border-color: $info;
    }

    &.#{$pr}#{$c}box-important {
        border-color: $important;
    }

}
