/*
--------------------
#{$pr}#{$c}box(size)
--------------------
*/

.#{$pr}#{$c}box {
    font-size: $font-size-sm;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-md;
    }

    &.#{$pr}#{$c}box#{$c3}fixed {

        @include media-breakpoint-up(md) {
            padding: map-get( $grid-gutter-widths, 'sm' );
        }

        @include media-breakpoint-up(lg) {
            font-size: $font-size-sm;
        }

    }

}

