/*
--------------------
#{$pr}#{$c}box(size)
--------------------
*/

.#{$pr}#{$c}box {
    font-size: map-get( $body-min-font-sizes, 'md' );

    @include media-breakpoint-up(lg) {
        font-size: map-get( $body-max-font-sizes, 'md' );
    }

    &.#{$pr}#{$c}box#{$c3}fixed {

        @include media-breakpoint-up(md) {
            padding: map-get( $grid-gutter-widths, 'sm' );
        }

        @include media-breakpoint-up(lg) {
            font-size: map-get( $body-min-font-sizes, 'md' );
        }

    }

}
