/*
--------------------
#{$pr}#{$c}card(size)
--------------------
*/

.#{$pr}#{$c}card {
    font-size: $font-size-xs;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-sm;
    }

    &.#{$pr}#{$c}card#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: $font-size-xs;
        }

    }

}
