/*doc
---
title: .#{$p}#{$c}card
name: card
category: component-card
---

新着情報のエントリー繰り返し部分などに使用する、カード状のコンポーネントを表示する。  
<code>.#{$p}#{$m}tite</code>, <code>.#{$p}#{$m}thumbnail</code>, <code>.#{$p}#{$m}btn</code>を含む可能性がある。  
<code>.#{$p}#{$c}card-inner</code> はリンクを追加しない場合でも必須となる。


``` example
<div style="max-width: 320px; margin-bottom: 30px;">

<div class="#{$p}#{$c}card">
    <div class="#{$p}#{$c}card-inner">
        <div class="#{$p}#{$m}thumbnail #{$p}#{$m}thumbnail-ogimage">
            <picture>
            <source
                media="(max-width:640px)"
                srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w"
                sizes="100vw">
            <source
                srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w"
                sizes="(max-width:1280px) 100vw, 1280px">
            <img alt="" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image">
            </picture>
        </div>
        <div class="#{$p}#{$c}card-contents">
            <p class="#{$p}#{$c}card-body">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
        </div>
    </div>
</div>

</div>
<div style="max-width: 320px;">

<div class="#{$p}#{$c}card">
    <a href="#" class="#{$p}#{$c}card-inner">
        <div class="#{$p}#{$c}card-header">
            <h3 class="#{$p}#{$m}title #{$p}#{$m}title-05">カードのタイトルですカードのタイトルですカードのタイトルです</h3>
        </div>
        <div class="#{$p}#{$m}thumbnail #{$p}#{$m}thumbnail-ogimage">
            <picture>
            <source
                media="(max-width:640px)"
                srcset="http://placehold.jp/12/9ed8db/ffffff/200x150.png?text=small_image 640w"
                sizes="100vw">
            <source
                srcset="http://placehold.jp/36/ffcc66/ffffff/640x480.png?text=large_image 1280w"
                sizes="(max-width:1280px) 100vw, 1280px">
            <img alt="" src="http://placehold.jp/24/9ed8db/ffffff/640x360.png?text=renponsive_image">
            </picture>
        </div>
        <div class="#{$p}#{$c}card-contents">
            <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
            <span href="#" class="#{$p}#{$m}btn #{$p}#{$m}btn-gray #{$p}#{$m}btn-outline #{$p}#{$m}btn-block">ボタン</span>
            <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
        </div>
    </a>
</div>

</div>
```

*/

.#{$p}#{$c}card {
    position: relative;
    background-color: $body-bg;
    border: $border-card-width solid $border-color;
    color: $body-color;

    [class*="#{$p}#{$g}col"] > & {
        height: 100%;
    }

    > a {
        color: $body-color;
        text-decoration: none;
        transition: .3s all;

        &:hover,
        &:focus {
            color: $body-color;
            text-decoration: underline;
            opacity: .8;
        }

    }

    .#{$p}#{$c}card-inner {
        display: block;
        position: relative;
        height: 100%;
    }

    .#{$p}#{$c}card-object {
        position: relative;
        z-index: 2;
    }

    .#{$p}#{$c}card-header,
    .#{$p}#{$c}card-contents {
        @include clearfix();
        padding: (map-get($grid-gutter-widths, md) / 2);
        line-height: $line-height-sm;
        word-break: break-word;

        .#{$p}#{$m}title,
        p {
            margin: 0 0 .5em;
        }

        .#{$p}#{$m}btn {
            margin: 1em auto .5em;
            max-width: 12em;
        }

        > *:last-child {
            margin-bottom: 0;
        }

    }

    .#{$p}#{$c}card-header {
    }

    .#{$p}#{$c}card-contents {
        font-size: $font-size-sm;
    }

}
