/*
--------------------
#{$pr}#{$c}card(size)
--------------------
*/

.#{$pr}#{$c}card {
    font-size: $font-size-sm;
    max-width: map-get( $object-max-widths, 'xl' );

    @include media-breakpoint-up(lg) {
        font-size: $font-size-md;
    }

    &.#{$pr}#{$c}card#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: $font-size-sm;
        }

    }

}

.#{$pr}#{$c}card#{$c3}sm {
    font-size: $font-size-xs;
    max-width: map-get( $object-max-widths, 'md' );

    @include media-breakpoint-up(lg) {
        font-size: $font-size-sm;
    }

    &.#{$pr}#{$c}card#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: $font-size-xs;
        }

    }

}

.#{$pr}#{$c}card#{$c3}lg {
    font-size: $font-size-md;
    max-width: map-get( $object-max-widths, 'xxl' );

    @include media-breakpoint-up(lg) {
        font-size: $font-size-lg;
    }

    .#{$pr}#{$c}card#{$c1}contents {

        @include media-breakpoint-up(xl) {
            padding: map-get( $grid-gutter-widths, 'lg' );
        }

    }

    &.#{$pr}#{$c}card#{$c3}fixed {

        @include media-breakpoint-up(lg) {
            font-size: $font-size-md;
        }

    }

}
