/*
--------------------
#{$pr}#{$c}card
--------------------
*/

.#{$pr}#{$c}card {
    position: relative;
    width: 100%;
    max-width: map-get( $object-max-widths, 'md' );
    margin: 0 auto;
    background-color: $body-bg;
    color: $body-color;
    font-size: $font-size-sm;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);

    @include media-breakpoint-up(lg) {
        font-size: $font-size-md;
    }

    [class*="#{$pr}#{$col}"] > & {
        max-width: none;
        height: 100%;
    }

}

time[class*="#{$pr}#{$c}card"] {
    display: block;
}

.#{$pr}#{$c}card#{$c1}inner {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    > * {
        flex-grow: 0;
    }

}

a.#{$pr}#{$c}card#{$c1}inner {

    &:not(:hover),
    &:not(:focus),
    &:not(:active) {
        color: $body-color;
        text-decoration: none;

        .#{$pr}#{$c}card#{$c1}title {
            text-decoration: underline;
        }

    }

    &:hover,
    &:focus,
    &:active {
        color: $body-color;
        text-decoration: none;

        .#{$pr}#{$m}thumbnail {

            img {
                transform: scale(1.05);
                opacity: .75;
            }

        }

        .#{$pr}#{$c}card#{$c1}title {
            text-decoration: none;
        }

    }

}

.#{$pr}#{$c}card#{$c1}object {
    position: relative;
    flex-grow: 0;
    z-index: 11;

    .#{$pr}#{$m}thumbnail {
        background-color: $body-inverse-bg;
        border: 0 none;
    }

}

.#{$pr}#{$c}card#{$c1}header,
.#{$pr}#{$c}card#{$c1}footer {
    @include responsive-spacing(
        'padding-left',
        map-get( $component-spacing-min, 'md' ),
        map-get( $component-spacing-max, 'md' )
    );

    @include responsive-spacing(
        'padding-right',
        map-get( $component-spacing-min, 'md' ),
        map-get( $component-spacing-max, 'md' )
    );

    padding-top: map-get( $grid-gutter-widths, sm );
    padding-bottom: map-get( $grid-gutter-widths, sm );
    word-break: break-word;
}

.#{$pr}#{$c}card#{$c1}contents {
    @include responsive-spacing(
        'padding-top',
        map-get( $component-spacing-min, 'md' ),
        map-get( $component-spacing-max, 'md' )
    );

    @include responsive-spacing(
        'padding-left',
        map-get( $component-spacing-min, 'md' ),
        map-get( $component-spacing-max, 'md' )
    );

    @include responsive-spacing(
        'padding-bottom',
        map-get( $component-spacing-min, 'md' ),
        map-get( $component-spacing-max, 'md' )
    );

    @include responsive-spacing(
        'padding-right',
        map-get( $component-spacing-min, 'md' ),
        map-get( $component-spacing-max, 'md' )
    );
    word-break: break-word;
}

.#{$pr}#{$c}card#{$c1}header {
}

.#{$pr}#{$c}card#{$c1}contents {
    flex-grow: 1;
    line-height: $line-height-sm;
}

.#{$pr}#{$c}card#{$c1}contents > * {
    margin: 0;
}

.#{$pr}#{$c}card#{$c1}contents > *:not(:last-child) {
    margin-bottom: .5em;
}

.#{$pr}#{$c}card#{$c1}footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;


    > .#{$pr}#{$m}button {
        display: flex;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    > [class*="#{$pr}#{$m}button#{$c2}icon"] {
        padding-left: 1em;
        padding-right: 1em;
    }

}
