/*
--------------------
#{$pr}#{$c}card
--------------------
*/

.#{$pr}#{$c}card {
    position: relative;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: $body-bg;
    color: $body-color;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);

    [class*="#{$pr}#{$col}"] > & {
        max-width: none;
        height: 100%;
    }

    a {
        color: $body-color;
        text-decoration: none;

        .#{$pr}#{$c}card#{$c1}title {
            text-decoration: underline;
        }

        &:hover,
        &:focus {
            color: $body-color;
            text-decoration: none;

            .#{$pr}#{$m}thumbnail {

                img {
                    opacity: .75;
                }

            }

            .#{$pr}#{$c}card#{$c1}title {
                text-decoration: none;
            }

        }

    }

}

.#{$pr}#{$c}card#{$c1}inner {
    display: block;
    position: relative;
    height: 100%;
}

.#{$pr}#{$c}card#{$c1}object {
    display: block;
    position: relative;
    z-index: 11;

    .#{$pr}#{$m}thumbnail {
        background-color: $body-inverse-bg;
        border: 0 none;

        img {
            transition: .6s opacity;
        }

    }

}

.#{$pr}#{$c}card#{$c1}header,
.#{$pr}#{$c}card#{$c1}contents {
    @include clearfix();
    word-break: break-word;
}

.#{$pr}#{$c}card#{$c1}header {
    padding: $spacer (map-get($grid-gutter-widths, md) / 2);
}

.#{$pr}#{$c}card#{$c1}contents {
    padding: $spacer (map-get($grid-gutter-widths, md) / 2);
    font-size: $font-size-xs;

    // 相対値ではなくremで統一する
    line-height: $font-size-xs * $line-height-sm;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-sm;
        line-height: $font-size-sm * $line-height-sm;
    }

}

.#{$pr}#{$c}card#{$c1}title {
    margin: 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-bold-root;
    font-family: $font-family-bold-root;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-md;
    }

}

.#{$pr}#{$c}card#{$c1}meta {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    font-style: normal;
}

.#{$pr}#{$c}card#{$c1}body {
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
}

[class*="#{$pr}#{$c}card"] + .#{$pr}#{$c}card#{$c1}title,
[class*="#{$pr}#{$c}card"] + .#{$pr}#{$c}card#{$c1}meta,
[class*="#{$pr}#{$c}card"] + .#{$pr}#{$c}card#{$c1}body {
    margin-top: .25rem;
}
