/*doc
---
title: #{$pr}#{$c}dfn
name: dfn
category: component-dfn
---

単語と、それを補足するテキストを表示する。補足テキストは改行に対応する。  
(breakpoint)が <code>sm</code> 以上でインライン表示となる。

``` example
<div class="#{$pr}#{$c}dfn" style="margin-bottom: 2rem;">
    <h1 class="#{$pr}#{$c}dfn-header">猫</h1>
    <p class="#{$pr}#{$c}dfn-contents">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
</div>

<dl class="#{$pr}#{$c}dfn">
    <dt class="#{$pr}#{$c}dfn-header #{$pr}#{$u}font-first">I'm a Cat</dt>
    <dd class="#{$pr}#{$c}dfn-contents">There is no name yet.<br>
    I have no idea where I was born.</dd>
</dl>
```
*/

.#{$pr}#{$c}dfn {
    @include media-breakpoint-up(sm) {
        display: inline-block;
    }

    .#{$pr}#{$c}dfn-header {
        display: block;
        margin: 0;
        padding-bottom: .5rem;
        font-size: $font-size-display-2;
        font-weight: $font-weight-root;
        line-height: $line-height-none;
        vertical-align: bottom;
        white-space: nowrap;

        @include media-breakpoint-up(sm) {
            display: table-cell;
            padding-bottom: 0;
            padding-right: 1.5rem;
        }

    }

    .#{$pr}#{$c}dfn-contents {
        display: block;
        margin: 0;
        font-size: $font-size-md;
        line-height: $line-height-sm;
        vertical-align: bottom;

        // Visual adjustment
        // 文字がわずかに下がって見えるので視覚調整をする
        // Adjust the visuals because the letters appear slightly lowered
        -webkit-transform:translate(0, -.1em);
        -ms-transform:translate(0, -.1em);
        transform:translate(0, -.1em);

        @include media-breakpoint-up(sm) {
            display: table-cell;
        }

    }

}
