/*doc
---
title: #{$pr}#{$c}flip
name: flip
category: component-flip
---

全面背景とボックスを持つ、フリップボードのようなコンポーネントを表示する。  
<code>.#{$pr}#{$c}flip-contents-inner</code> が必須であることに注意する。  
<code>.#{$pr}#{$c}flip-cover</code> の背景画像はインラインスタイル、もしくは追加CSSで定義する。  
高さは(breakpoint) が <code>md</code> 以下で <code>50vh</code>、 <code>lg</code> 以上で <code>75vh</code> としているため、適当調整すること。

``` example
<div class="#{$pr}#{$c}flip">
    <div class="#{$pr}#{$c}flip#{$c1}cover" style="background-image: url(/images/_dummy/image_03.jpg)"></div>
    <div class="#{$pr}#{$c}flip#{$c1}container">
        <div class="#{$pr}#{$c}flip#{$c1}contents">
            <div class="#{$pr}#{$c}flip#{$c1}contents#{$c1}inner">
                <h2 class="#{$pr}#{$p}title #{$pr}#{$p}title#{$c2}echo#{$c3}22">吾輩は猫である</h2>
                <p class="#{$pr}#{$p}title #{$pr}#{$p}title#{$c2}echo#{$c3}23 #{$pr}#{$u}margin#{$c2}bottom#{$c3}sm">名前はまだ無い</p>
                <p>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ</p>
            </div><!-- /.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner -->
        </div><!-- /.#{$pr}#{$c}flip#{$c1}contents -->
    </div><!-- /.#{$pr}#{$c}flip#{$c1}container -->
</div><!-- /.#{$pr}#{$c}flip -->
```
*/

.#{$pr}#{$c}flip {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(lg) {
        height: 75vh;
    }

    .#{$pr}#{$c}flip#{$c1}cover {
        width: 100%;
        height: 50vh;
        background: $body-inverse-bg none no-repeat center center;
        background-size: cover;
        z-index: 11;

        @include media-breakpoint-up(lg) {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

    }

    .#{$pr}#{$c}flip#{$c1}container {
        position: relative;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include media-breakpoint-up(lg) {
            max-width: map-get($container-max-widths-md, lg);
            height: 100%;
        }

        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths-md, xl);
        }
    }

    .#{$pr}#{$c}flip#{$c1}contents {
        display: table;
        width: 100%;
        position: relative;
        background-color: rgba($body-bg, .85);
        z-index: 12;

        @include media-breakpoint-up(lg) {
            position: absolute;
            left: 0;
            top: 50%;
            width: 50%;
            height: 100%;
            transform:translate(0, -50%);
        }

        .#{$pr}#{$c}flip#{$c1}contents#{$c1}inner {
            display: table-cell;
            padding: $spacer;
            vertical-align: middle;

            @include media-breakpoint-up(lg) {
                padding-left: ($spacer * 2);
                padding-right: ($spacer * 2);
                height: 100%;
            }

        }

    }

}


/*doc
---
title: #{$pr}#{$c}flip#{$c3}reverse
name: flip-01-reverse
category: component-flip
parent: flip
---

(breakpoint)が <code>lg</code> 以上でのコンテンツの位置が逆となる。

``` example
<div class="#{$pr}#{$c}flip #{$pr}#{$c}flip#{$c3}reverse">
    <div class="#{$pr}#{$c}flip#{$c1}cover" style="background-image: url(/images/_dummy/image_03.jpg)"></div>
    <div class="#{$pr}#{$c}flip#{$c1}container">
        <div class="#{$pr}#{$c}flip#{$c1}contents">
            <div class="#{$pr}#{$c}flip#{$c1}contents#{$c1}inner">
                <h2 class="#{$pr}#{$p}title #{$pr}#{$p}title#{$c2}echo#{$c3}22">吾輩は猫である</h2>
                <p class="#{$pr}#{$p}title #{$pr}#{$p}title#{$c2}echo#{$c3}23 #{$pr}#{$u}margin#{$c2}bottom#{$c3}sm">名前はまだ無い</p>
                <p>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ</p>
            </div><!-- /.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner -->
        </div><!-- /.#{$pr}#{$c}flip#{$c1}contents -->
    </div><!-- /.#{$pr}#{$c}flip#{$c1}container -->
</div><!-- /.#{$pr}#{$c}flip -->
```
*/

.#{$pr}#{$c}flip#{$c3}reverse {

    .#{$pr}#{$c}flip#{$c1}contents {

        @include media-breakpoint-up(lg) {
            left: auto;
            right: 0;
        }

    }

}



/*doc
---
title: #{$pr}#{$c}flip#{$c3}inverse
name: flip-02-inverse
category: component-flip
parent: flip
---

コンテンツの色が反転する。  
テキストリンク、ボタン等の色は反転前とは変わらないことに注意。

``` example
<div class="#{$pr}#{$c}flip #{$pr}#{$c}flip#{$c3}reverse #{$pr}#{$c}flip#{$c3}inverse">
    <div class="#{$pr}#{$c}flip#{$c1}cover" style="background-image: url(/images/_dummy/image_07.jpg)"></div>
    <div class="#{$pr}#{$c}flip#{$c1}container">
        <div class="#{$pr}#{$c}flip#{$c1}contents">
            <div class="#{$pr}#{$c}flip#{$c1}contents#{$c1}inner">
                <h2 class="#{$pr}#{$p}title #{$pr}#{$p}title#{$c2}echo#{$c3}22">吾輩は猫である</h2>
                <p class="#{$pr}#{$p}title #{$pr}#{$p}title#{$c2}echo#{$c3}23 #{$pr}#{$u}margin#{$c2}bottom#{$c3}sm">名前はまだ無い</p>
                <p>どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ</p>
            </div><!-- /.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner -->
        </div><!-- /.#{$pr}#{$c}flip#{$c1}contents -->
    </div><!-- /.#{$pr}#{$c}flip#{$c1}container -->
</div><!-- /.#{$pr}#{$c}flip -->
```
*/

.#{$pr}#{$c}flip#{$c3}inverse {
    background-color: $body-inverse-bg;

    .#{$pr}#{$c}flip#{$c1}cover {
        background-color: $body-bg;
    }

    .#{$pr}#{$c}flip#{$c1}contents {
        color: $body-inverse-color;
        background-color: rgba($body-inverse-bg, .85);
    }

}
