/*
--------------------
#{$pr}#{$c}flip
--------------------
*/

.#{$pr}#{$c}flip {
    position: relative;
    width: 100%;

    @include media-breakpoint-up(lg) {
        height: 75vh;
    }

}

.#{$pr}#{$c}flip#{$c1}cover {
    width: 100%;
    height: 33.33333333vh;
    background: $body-bg none no-repeat center center;
    background-size: cover;
    z-index: 11;

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
    }

}

.#{$pr}#{$c}flip#{$c1}container {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
        max-width: map-get( $container-max-widths-lg, lg ) - map-get( $grid-gutter-widths, 'md' );
        height: 100%;
    }

    @include media-breakpoint-up(xl) {
        max-width: map-get( $container-max-widths-lg, xl ) - map-get( $grid-gutter-widths, 'md' );
    }

    @include media-breakpoint-up(xxl) {
        max-width: map-get( $container-max-widths-lg, xxl ) - map-get( $grid-gutter-widths, 'md' );
    }

}

.#{$pr}#{$c}flip#{$c1}contents {
    width: 100%;
    position: relative;
    background-color: rgba($body-bg, .75);
    z-index: 12;

    @include media-breakpoint-up(lg) {
        position: absolute;
        left: 0;
        top: 0;
        width: 45%;
        height: 100%;
    }

}

.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner {
    max-width: map-get( $object-max-widths, 'lg' );
    margin: 0 auto;
    padding: map-get( $grid-gutter-widths, 'lg' ) map-get( $grid-gutter-widths, 'md' );

    @include media-breakpoint-only(md) {
        padding-left: 0;
        padding-right: 0;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY( -50% );
        width: 100%;
        max-width: none;
        margin: 0;
    }

    @include media-breakpoint-up(xl) {
        padding: map-get( $grid-gutter-widths, 'xl' );
    }

}

.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner > * {
    margin: 0;
}

.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner > *:not(:last-child) {
    margin-bottom: map-get( $grid-gutter-widths, 'md' );
}

.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner > .#{$pr}#{$c}flip#{$c1}header + * {

    @include media-breakpoint-up(lg) {
        margin-top: map-get( $grid-gutter-widths, 'lg' );
    }

}

.#{$pr}#{$c}flip#{$c1}contents#{$c1}inner > .#{$pr}#{$c}flip#{$c1}link {
    margin-top: map-get( $grid-gutter-widths, 'lg' );
}

.#{$pr}#{$c}flip#{$c1}header {
    line-height: 1;
}

.#{$pr}#{$c}flip#{$c1}lead {
    line-height: $line-height-md;

    > p {

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.#{$pr}#{$c}flip#{$c1}body {
    line-height: $line-height-lg;

    > p {

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.#{$pr}#{$c}flip#{$c1}link {
    line-height: 1;
}


/*
--------------------
#{$pr}#{$c}flip#{$c3}reverse
--------------------
*/

.#{$pr}#{$c}flip#{$c3}reverse {

    .#{$pr}#{$c}flip#{$c1}cover {

        @include media-breakpoint-up(lg) {
            right: auto;
            left: 0;
        }

    }

    .#{$pr}#{$c}flip#{$c1}contents {

        @include media-breakpoint-up(lg) {
            left: auto;
            right: 0;
        }

    }

}


/*
--------------------
#{$pr}#{$c}flip#{$c3}half
--------------------
*/

.#{$pr}#{$c}flip#{$c3}half {

    .#{$pr}#{$c}flip#{$c1}cover {

        @include media-breakpoint-up(lg) {
            width: 50%;
        }

    }

    .#{$pr}#{$c}flip#{$c1}contents {

        @include media-breakpoint-up(lg) {
            width: 50%;
        }

    }

}


/*
--------------------
#{$pr}#{$c}flip#{$c3}inverse
--------------------
*/

.#{$pr}#{$c}flip#{$c3}inverse {
    background-color: $body-inverse-bg;

    .#{$pr}#{$c}flip#{$c1}cover {
        background-color: $body-inverse-bg;
    }

    .#{$pr}#{$c}flip#{$c1}contents {
        color: $body-inverse-color;
        background-color: rgba($body-inverse-bg, .75);
    }

}
