/*
--------------------
#{$pr}#{$c}form
--------------------
*/

.#{$pr}#{$c}form {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 -1em;
    line-height: 1;

    > .#{$pr}#{$m}checkbox,
    > .#{$pr}#{$m}radio {
        margin-right: 2em;
    }

    > * {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        margin: 0 $spacer 1em 0;
        white-space: nowrap;

        &:last-child {
            margin-right: 0;
        }

    }

}


/*
--------------------
#{$pr}#{$c}form#{$c3}grow
--------------------
*/

.#{$pr}#{$c}form#{$c3}grow {

    .#{$pr}#{$m}input,
    .#{$pr}#{$m}select {
        flex-grow: 1;
        flex-basis: 0%;
    }

}


/*
--------------------
#{$pr}#{$c}form#{$c3}append
--------------------
*/

.#{$pr}#{$c}form#{$c3}append {

    .#{$pr}#{$m}input {
        margin-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        + .#{$pr}#{$m}button {
            margin-left: ( $ui-btn-border-width * -1 );
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

    }

}


/*
--------------------
#{$pr}#{$c}form#{$c1}error
--------------------
*/

.#{$pr}#{$c}form#{$c1}error {
    width: 100%;
    margin: 0;
    color: $important;
    font-size: $font-size-sm;
    line-height: $line-height-sm;
}
