/*
--------------------
#{$pr}#{$c}headline
--------------------
*/

.#{$pr}#{$c}headline {
    margin-bottom: ($spacer * 2);

    // 相対値ではなくremで統一する
    line-height: $font-size-md * $line-height-sm;

    @include media-breakpoint-down(md) {
        font-size: $font-size-sm;
        line-height: $font-size-sm * $line-height-sm;
    }

}

.#{$pr}#{$c}headline#{$c1}inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;

    & > [class*="#{$pr}#{$c}headline#{$c1}"] {
        flex-shrink: 1;
    }

    & > :not(.#{$pr}#{$c}headline#{$c1}title) {
        flex-grow: 0;
        flex-basis: auto;
    }

    & > .#{$pr}#{$c}headline#{$c1}title {
        flex-grow: 1;
        flex-basis: 100%;
        font-size: 1em;
        @include font-family-weight( 'root', 'normal' );

        @include media-breakpoint-up(md) {
            flex-basis: 0;
        }

    }

    @at-root {

        a#{&} {
            color: $body-color;
            text-decoration: none;

            &:not(:hover):not(:focus){

                .#{$pr}#{$c}headline#{$c1}title {
                    text-decoration: underline;
                }

            }

        }

    }

}

.#{$pr}#{$c}headline#{$c1}header {
    margin: 0;
    white-space: nowrap;
    @include font-family-weight( 'root', 'normal' );

    @include media-breakpoint-up(md) {
        min-width: 8.5em;
    }

}

.#{$pr}#{$c}headline#{$c1}category {
    margin: 0 0 0 $spacer;

    .#{$pr}#{$m}label {
        min-width: 8em;
        padding: .25em 0;
        margin-right: 0;
        vertical-align: baseline;
    }

}

.#{$pr}#{$c}headline#{$c1}title {
    margin: .25em 0 0;
    @include font-family-weight( 'root', 'normal' );

    @include media-breakpoint-up(md) {
        margin-top: 0;
        margin-left: $spacer;
    }

    a {
        color: $body-color;

        &:not(:hover):not(:focus) {
            text-decoration: underline;
        }

    }

}
