/*
--------------------
#{$pr}#{$c}headline
--------------------
*/

.#{$pr}#{$c}headline {
    @include clearfix();
    position: relative;
    margin-bottom: ($spacer * 3);

    @include media-breakpoint-up(md) {
        margin-bottom: ($spacer * 1.5);
    }

    & > [class*="#{$pr}#{$c}headline#{$c1}"] {
        display: block;
        overflow: hidden;
        margin: 0;
        line-height: $line-height-xs;
    }

}

.#{$pr}#{$c}headline#{$c1}date {
    float: left;
    padding-bottom: ($spacer / 2);
    padding-right: $spacer;
    font-weight: $font-weight-root;

    @include media-breakpoint-up(md) {
        padding-bottom: 0;
    }

}

.#{$pr}#{$c}headline#{$c1}category {
    padding-bottom: ($spacer / 2);

    @include media-breakpoint-up(md) {
        float: left;
        padding-bottom: 0;
        padding-right: $spacer;
    }

    .#{$pr}#{$m}label {
        min-width: 5rem;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
    }

}

.#{$pr}#{$c}headline#{$c1}title {
    font-weight: $font-weight-root;

    @include media-breakpoint-down(sm) {
        clear: both;
    }

    a {
        color: $body-color;
        text-decoration: none;

        &:hover,
        &:focus {
            color: $link-hover-color;
            text-decoration: underline;
        }

    }

}
