/*
--------------------
#{$pr}#{$c}hero
--------------------
*/

.#{$pr}#{$c}hero {
    position: relative;
    width: 100%;
    background-color: $body-bg;
    line-height: 1;
}

.#{$pr}#{$c}hero#{$c1}image {
    position: relative;
    z-index: 11;

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

}

.#{$pr}#{$c}hero#{$c1}contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:
        translateX( -50% )
        translateY( -50% );
    width: 100%;
    z-index: 12;
}

.#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
    padding-left: ( $spacer * 1.5 );
    padding-right: ( $spacer * 1.5 );
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(lg) {
        max-width: map-get($container-max-widths-md, md);
    }

}

.#{$pr}#{$c}hero#{$c1}contents#{$c1}inner > * {
    margin: 0;
}

.#{$pr}#{$c}hero#{$c1}contents#{$c1}inner > *:not(:last-child) {
    margin-bottom: 1em;
}

.#{$pr}#{$c}hero#{$c1}contents#{$c1}inner > .#{$pr}#{$c}hero#{$c1}link {
    margin-top: 2em;

    @include media-breakpoint-up(md) {
        margin-top: 3em;
    }

}

.#{$pr}#{$c}hero#{$c1}header {
    font-size: 1.25rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 2rem;
    }

}

.#{$pr}#{$c}hero#{$c1}body {
    font-size: .75rem;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: .875rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1rem;
    }

    > p {

        &:last-child {
            margin-bottom: 0;
        }

    }

}

.#{$pr}#{$c}hero#{$c1}link {
    font-size: .625rem;
    text-align: center;
    line-height: 1;

    @include media-breakpoint-up(sm) {
        font-size: .75rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: .875rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1rem;
    }

}


/*
--------------------
#{$pr}#{$c}hero#{$c3}fit
--------------------
*/

.#{$pr}#{$c}hero#{$c3}fit {

    .#{$pr}#{$c}hero#{$c1}image {
        width: 100%;
        height: 0;
        padding-bottom: percentage( 1 / 1 );

        @include media-breakpoint-up(sm) {
            padding-bottom: percentage( 9 / 16 );
        }

        @include media-breakpoint-up(xl) {
            padding-bottom: percentage( 10 / 25 );
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

}



/*
--------------------
#{$pr}#{$c}hero#{$c3}(direction)
--------------------
*/

.#{$pr}#{$c}hero#{$c3}left,
.#{$pr}#{$c}hero#{$c3}right {

    .#{$pr}#{$c}hero#{$c1}contents {
        max-width: map-get($container-max-widths-md, md);

        @include media-breakpoint-up(lg) {
            max-width: map-get($container-max-widths-md, lg);
        }

        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths-md, xl);
        }

    }

    .#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
        max-width: 75%;

        @include media-breakpoint-up(md) {
            max-width: 66.66666666%;
        }

        @include media-breakpoint-up(xxl) {
            max-width: 50%;
        }

        > * {
            text-align: left;
        }

    }

}

.#{$pr}#{$c}hero#{$c3}left {

    .#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
        margin-left: 0;
    }

}

.#{$pr}#{$c}hero#{$c3}right {

    .#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
        margin-right: 0;
    }

}


/*
--------------------
#{$pr}#{$c}hero#{$c3}inverse
--------------------
*/

.#{$pr}#{$c}hero#{$c3}inverse {
    background-color: $body-inverse-bg;
    color: $body-inverse-color;
}
