/*
--------------------
#{$pr}#{$c}hero
--------------------
*/

.#{$pr}#{$c}hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: $body-inverse-bg;
    color: $body-inverse-color;
    line-height: $line-height-none;

    @include media-breakpoint-up(xl) {
        height: 75vh;
    }

}

.#{$pr}#{$c}hero#{$c1}cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent none no-repeat center center;
    background-size: cover;
    opacity: .5;
    z-index: 11;
}

.#{$pr}#{$c}hero#{$c1}contents {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: map-get($container-max-widths-md, lg);
    height: 100%;
    margin: 0 auto;
    z-index: 12;

    @include media-breakpoint-up(xl) {
        max-width: map-get($container-max-widths-md, xl);
    }

}

.#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
    max-width: map-get($container-max-widths-md, sm);
    margin: 0 auto;
    padding: 0 (map-get($grid-gutter-widths, md) / 2);
    font-size: .875rem;
    line-height: $line-height-md;
    text-align: center;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.125rem;
        max-width: map-get($container-max-widths-md, md);
    }

    p {
        margin: 0;
    }

}


/*
--------------------
#{$pr}#{$c}hero#{$c1}(direction)
--------------------
*/

.#{$pr}#{$c}hero#{$c3}left {

    .#{$pr}#{$c}hero#{$c1}contents {
        justify-content: left;
    }

    .#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
        margin-left: 0;
        margin-right: auto;
        text-align: left;
    }

}

.#{$pr}#{$c}hero#{$c3}right {

    .#{$pr}#{$c}hero#{$c1}contents {
        justify-content: right;
    }

    .#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
    }

}
