/*
--------------------
#{$pr}#{$c}hero(size)
--------------------
*/

.#{$pr}#{$c}hero#{$c1}header {
    font-size: $font-size-lg;

    @include media-breakpoint-up(md) {
        font-size: $font-size-xl;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-xxl;
    }

}

.#{$pr}#{$c}hero#{$c1}lead {
    font-size: $font-size-md;

    @include media-breakpoint-up(md) {
        font-size: $font-size-lg;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-xl;
    }

}

.#{$pr}#{$c}hero#{$c1}body {
    font-size: $font-size-xs;

    @include media-breakpoint-up(md) {
        font-size: $font-size-sm;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-md;
    }

}

.#{$pr}#{$c}hero#{$c1}link {
    font-size: $font-size-xs;

    @include media-breakpoint-up(md) {
        font-size: $font-size-sm;
    }

    @include media-breakpoint-up(xl) {
        font-size: $font-size-md;
    }

}
