/*
--------------------
#{$pr}#{$c}hero
--------------------
*/

.#{$pr}#{$c}hero {
    position: relative;
    width: 100%;
    background-color: $body-bg;
    line-height: 1;
}

.#{$pr}#{$c}hero#{$c1}image {
    position: relative;
    z-index: 11;

    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }

}

.#{$pr}#{$c}hero#{$c1}contents {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translate( -50%, 0 );
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: map-get($container-max-widths-md, sm);
    z-index: 12;

    @include media-breakpoint-up(lg) {
        max-width: map-get($container-max-widths-md, md);
    }

    @include media-breakpoint-up(xl) {
        max-width: map-get($container-max-widths-md, lg);
    }

}

.#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
    padding-left: map-get($grid-gutter-widths, md);
    padding-right: map-get($grid-gutter-widths, md);

    @include media-breakpoint-up(lg) {
        max-width: map-get($container-max-widths-md, md);
    }

}

.#{$pr}#{$c}hero#{$c1}title {
    margin: 0;
    font-size: 2rem;
    font-weight: $font-weight-third;
    font-family: $font-family-third;
    line-height: 1;
    text-align: center;

    @include media-breakpoint-up(sm) {
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 2.75rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 3.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 4rem;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 4.5rem;
    }

}

.#{$pr}#{$c}hero#{$c1}caption {
    margin: 0;
    font-size: .875rem;
    line-height: 1;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: 1rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
    }

    .#{$pr}#{$c}hero#{$c1}title + & {
        padding-top: 1em;
    }

}

.#{$pr}#{$c}hero#{$c1}body {
    margin: 0;
    font-size: .625rem;
    line-height: $line-height-lg;
    text-align: center;

    @include media-breakpoint-up(md) {
        font-size: .75rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: .875rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1rem;
    }

    .#{$pr}#{$c}hero#{$c1}title + &,
    .#{$pr}#{$c}hero#{$c1}caption + & {
        padding-top: 2em;
    }

}


/*
--------------------
#{$pr}#{$c}hero#{$c3}fit
--------------------
*/

.#{$pr}#{$c}hero#{$c3}fit {

    .#{$pr}#{$c}hero#{$c1}image {
        width: 100%;
        height: 0;
        padding-bottom: percentage( 2 / 3 );

        @include media-breakpoint-up(md) {
            padding-bottom: percentage( 10 / 25 );
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

}



/*
--------------------
#{$pr}#{$c}hero#{$c3}(direction)
--------------------
*/

.#{$pr}#{$c}hero#{$c3}left,
.#{$pr}#{$c}hero#{$c3}right {

    .#{$pr}#{$c}hero#{$c1}contents {
        max-width: map-get($container-max-widths-md, md);

        @include media-breakpoint-up(lg) {
            max-width: map-get($container-max-widths-md, lg);
        }

        @include media-breakpoint-up(xl) {
            max-width: map-get($container-max-widths-md, xl);
        }

    }

    .#{$pr}#{$c}hero#{$c1}contents#{$c1}inner {
        max-width: 85%;

        @include media-breakpoint-up(md) {
            max-width: 65%;
        }

        @include media-breakpoint-up(lg) {
            max-width: 50%;
        }

    }

    .#{$pr}#{$c}hero#{$c1}body {
        text-align: left;
    }

}

.#{$pr}#{$c}hero#{$c3}left {

    .#{$pr}#{$c}hero#{$c1}contents {
        justify-content: flex-start;
    }

    .#{$pr}#{$c}hero#{$c1}title,
    .#{$pr}#{$c}hero#{$c1}caption {
        text-align: left;
    }

}

.#{$pr}#{$c}hero#{$c3}right {

    .#{$pr}#{$c}hero#{$c1}contents {
        justify-content: flex-end;
    }

    .#{$pr}#{$c}hero#{$c1}title,
    .#{$pr}#{$c}hero#{$c1}caption {
        text-align: right;
    }

}


/*
--------------------
#{$pr}#{$c}hero#{$c3}inverse
--------------------
*/

.#{$pr}#{$c}hero#{$c3}inverse {
    background-color: $body-inverse-bg;
    color: $body-inverse-color;
}
