/*doc
---
title: #{$pr}#{$c}hero
name: hero
category: component-hero
---

メインビジュアルなどに使用される全面背景を持つコンポーネントを表示する。  
高さは(breakpoint) が <code>sm</code> 以下で <code>50vh</code>、 <code>md</code> 以上で <code>75vh</code> としているため、適当調整すること。  
背景画像は透明度が50%となる。 <code>.#{$pr}#{$c}hero-cover</code> の <code>opacity</code> を調整すること。

``` example
<div class="#{$pr}#{$c}hero">
    <div class="#{$pr}#{$c}hero-cover" style="background-image: url(/images/_dummy/image_05.jpg);"></div>
    <div class="#{$pr}#{$c}hero-contents">
        <div class="#{$pr}#{$c}hero-contents-inner">
            <h2 class="#{$pr}#{$c}hero-title">吾輩は猫である</h2>
            <p class="#{$pr}#{$c}hero-subtitle">名前はまだ無い</p>
            <p class="#{$pr}#{$c}hero-text">どこで生れたかとんと見当がつかぬ。</p>
        </div><!-- /.#{$pr}#{$c}hero-contents-inner -->
    </div><!-- /.#{$pr}#{$c}hero-contents -->
</div><!-- /.#{$pr}#{$c}hero -->

```

*/

.#{$pr}#{$c}hero {
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: $body-inverse-bg;
    color: $body-inverse-color;
    line-height: $line-height-none;

    @include media-breakpoint-up(xl) {
        height: 75vh;
    }

}

.#{$pr}#{$c}hero-cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparent none no-repeat center center;
    background-size: cover;
    opacity: .5;
    z-index: 11;
}

.#{$pr}#{$c}hero-contents {
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: map-get($container-max-widths-md, lg);
    height: 100%;
    margin: 0 auto;
    z-index: 12;

    @include media-breakpoint-up(xl) {
        max-width: map-get($container-max-widths-md, xl);
    }

}

.#{$pr}#{$c}hero-contents-inner {
    max-width: map-get($container-max-widths-md, md);
    margin: 0 auto;
    padding: 0 (map-get($grid-gutter-widths, md) / 2);
    text-align: center;

    @include media-breakpoint-up(xl) {
        max-width: map-get($container-max-widths-md, lg);
    }

}

.#{$pr}#{$c}hero-title {
    margin: 0;
    font-size: 2rem;
    font-family: $font-family-third;
    font-weight: $font-weight-third;
    letter-spacing: .05em;

    @include media-breakpoint-up(md) {
        font-size: 3rem;
        letter-spacing: .1em;
    }

    @include media-breakpoint-up(xl) {
        font-size: 3.5rem;
    }

}

.#{$pr}#{$c}hero-subtitle {
    margin: 0;
    padding-top: 1em;
    font-size: 1.125rem;
    font-family: $font-family-first;
    font-weight: $font-weight-first;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
    }

}

.#{$pr}#{$c}hero-text {
    margin: 0;
    padding-top: 2em;
    font-size: .875rem;
    line-height: $line-height-md;

    @include media-breakpoint-up(sm) {
        font-size: 1rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.25rem;
    }

}


/*doc
---
title: #{$pr}#{$c}hero-(direction)
name: hero-01-direction
category: component-hero
parent: hero
---

コンテンツブロックを指定した方向に寄せる。

``` example
<h3>.#{$pr}#{$c}hero + .#{$pr}#{$c}hero-l</h3>
<div class="#{$pr}#{$c}hero #{$pr}#{$c}hero-l" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$c}hero-cover" style="background-image: url(/images/_dummy/image_05.jpg);"></div>
    <div class="#{$pr}#{$c}hero-contents">
        <div class="#{$pr}#{$c}hero-contents-inner">
            <h2 class="#{$pr}#{$c}hero-title">吾輩は猫である</h2>
            <p class="#{$pr}#{$c}hero-subtitle">名前はまだ無い</p>
            <p class="#{$pr}#{$c}hero-text">どこで生れたかとんと見当がつかぬ。</p>
        </div><!-- /.#{$pr}#{$c}hero-contents-inner -->
    </div><!-- /.#{$pr}#{$c}hero-contents -->
</div><!-- /.#{$pr}#{$c}hero -->

<h3>.#{$pr}#{$c}hero + .#{$pr}#{$c}hero-r</h3>
<div class="#{$pr}#{$c}hero #{$pr}#{$c}hero-r" style="margin-bottom: 2rem;">
    <div class="#{$pr}#{$c}hero-cover" style="background-image: url(/images/_dummy/image_05.jpg);"></div>
    <div class="#{$pr}#{$c}hero-contents">
        <div class="#{$pr}#{$c}hero-contents-inner">
            <h2 class="#{$pr}#{$c}hero-title">吾輩は猫である</h2>
            <p class="#{$pr}#{$c}hero-subtitle">名前はまだ無い</p>
            <p class="#{$pr}#{$c}hero-text">どこで生れたかとんと見当がつかぬ。</p>
        </div><!-- /.#{$pr}#{$c}hero-contents-inner -->
    </div><!-- /.#{$pr}#{$c}hero-contents -->
</div><!-- /.#{$pr}#{$c}hero -->

```

*/

.#{$pr}#{$c}hero-l {

    .#{$pr}#{$c}hero-contents {
        justify-content: left;
    }

    .#{$pr}#{$c}hero-contents-inner {
        margin-left: 0;
        margin-right: auto;
        text-align: left;
    }

}

.#{$pr}#{$c}hero-r {

    .#{$pr}#{$c}hero-contents {
        justify-content: right;
    }

    .#{$pr}#{$c}hero-contents-inner {
        margin-left: auto;
        margin-right: 0;
        text-align: right;
    }

}
