/*doc
---
title: #{$pr}#{$c}media
name: media
category: component-media
---

サムネイル等のメディアオブジェクトと、テキストオブジェクトが並列しているコンポーネントを表示する。  
<code>.#{$pr}#{$m}tite</code>, <code>.#{$pr}#{$m}thumbnail</code>, <code>.#{$pr}#{$m}btn</code>を含む可能性がある。  
<code>.#{$pr}#{$c}media-object</code> の最大幅は <code>33.33333333%</code> となっているため、比率を大きくしたい場合は任意調整すること。    

``` example
<div style="margin-bottom: 2rem;">
<div class="#{$pr}#{$c}media">
    <div class="#{$pr}#{$c}media-object">
        <div class="#{$pr}#{$m}thumbnail">
            <picture>
            <source
                media="(max-width:640px)"
                srcset="/images/_dummy/image_04_s.jpg 640w"
                sizes="100vw">
            <source
                srcset="/images/_dummy/image_04.jpg 1280w"
                sizes="(max-width:1280px) 100vw, 1280px">
            <img alt="" src="/images/_dummy/image_04.jpg">
            </picture>
        </div>
    </div>
    <div class="#{$pr}#{$c}media-contents">
        <h3 class="#{$pr}#{$m}title-13"><a href="#">これはメディアです</a></h3>
        <p>これはメディアの本文です。見出しに #{$pr}#{$m}title-13 クラスを付与しています。</p>
    </div>
</div>
</div>


<div style="margin-bottom: 2rem;">
<div class="#{$pr}#{$g}row">
    <div class="#{$pr}#{$g}col-12 #{$pr}#{$g}col-sm-6 #{$pr}#{$g}col-lg-4" style="padding-bottom: 1rem;">
        <a href="#" class="#{$pr}#{$c}media">
            <div class="#{$pr}#{$c}media-object">
                <div class="#{$pr}#{$m}thumbnail">
                    <picture>
                    <source
                        media="(max-width:640px)"
                        srcset="/images/_dummy/image_04_s.jpg 640w"
                        sizes="100vw">
                    <source
                        srcset="/images/_dummy/image_04.jpg 1280w"
                        sizes="(max-width:1280px) 100vw, 1280px">
                    <img alt="" src="/images/_dummy/image_04.jpg">
                    </picture>
                </div>
            </div>
            <div class="#{$pr}#{$c}media-contents">
                <p>よくあるカラムレイアウトの例です</p>
                <span class="#{$pr}#{$m}btn #{$pr}#{$m}btn #{$pr}#{$m}btn-first #{$pr}#{$m}btn-outline">ボタン</span>
            </div>
        </a>
    </div>
    <div class="#{$pr}#{$g}col-12 #{$pr}#{$g}col-sm-6 #{$pr}#{$g}col-lg-4" style="padding-bottom: 1rem;">
        <a href="#" class="#{$pr}#{$c}media">
            <div class="#{$pr}#{$c}media-object">
                <div class="#{$pr}#{$m}thumbnail">
                    <picture>
                    <source
                        media="(max-width:640px)"
                        srcset="/images/_dummy/image_04_s.jpg 640w"
                        sizes="100vw">
                    <source
                        srcset="/images/_dummy/image_04.jpg 1280w"
                        sizes="(max-width:1280px) 100vw, 1280px">
                    <img alt="" src="/images/_dummy/image_04.jpg">
                    </picture>
                </div>
            </div>
            <div class="#{$pr}#{$c}media-contents">
                <p>#{$pr}#{$g}row, #{$pr}#{$g}col を使用して3カラムに並べました</p>
                <span class="#{$pr}#{$m}btn #{$pr}#{$m}btn #{$pr}#{$m}btn-first #{$pr}#{$m}btn-outline">ボタン</span>
            </div>
        </a>
    </div>
    <div class="#{$pr}#{$g}col-12 #{$pr}#{$g}col-sm-6 #{$pr}#{$g}col-lg-4" style="padding-bottom: 1rem;">
        <a href="#" class="#{$pr}#{$c}media">
            <div class="#{$pr}#{$c}media-object">
                <div class="#{$pr}#{$m}thumbnail">
                    <picture>
                    <source
                        media="(max-width:640px)"
                        srcset="/images/_dummy/image_04_s.jpg 640w"
                        sizes="100vw">
                    <source
                        srcset="/images/_dummy/image_04.jpg 1280w"
                        sizes="(max-width:1280px) 100vw, 1280px">
                    <img alt="" src="/images/_dummy/image_04.jpg">
                    </picture>
                </div>
            </div>
            <div class="#{$pr}#{$c}media-contents">
                <p>メディア全体がリンク範囲となっています</p>
                <span class="#{$pr}#{$m}btn #{$pr}#{$m}btn #{$pr}#{$m}btn-first #{$pr}#{$m}btn-outline">ボタン</span>
            </div>
        </a>
    </div>
</div>
</div>

```

*/

.#{$pr}#{$c}media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @at-root {

        a#{&} {
            color: $body-color;
            text-decoration: none;
            transition: .3s all;

            &:hover,
            &:focus {
                color: $body-color;
                text-decoration: none;
                opacity: .8;
            }

        }

    }

    .#{$pr}#{$c}media-object {
        flex: 0 0 auto;
        width: 100%;
        max-width: 33.33333333%;

        > a {
            display: block;
            text-decoration: none;
            transition: .3s all;

            &:hover,
            &:focus {
                text-decoration: none;
                opacity: .8;
            }

        }

    }

    .#{$pr}#{$c}media-contents {
        flex: 1 1 0;
        width: auto;
        padding-left: $spacer;
        line-height: $line-height-sm;

        @include media-breakpoint-down(md) {
            font-size: $font-size-sm;
        }

        @include media-breakpoint-up(lg) {
            padding-left: $spacer * 2;
        }

        time {
            display: block;
        }

    }

    .#{$pr}#{$c}media-title {

        > a {
            color: $body-color;
            text-decoration: underline;

            &:hover,
            &:focus {
                color: $body-color;
                text-decoration: none;
            }

        }

    }

}



/*doc
---
title: #{$pr}#{$c}media-middle
name: media-01-middle
category: component-media
parent: media
---

画像と本文を、上ではなく縦中央に整列させる。


``` example
<div style="margin-bottom: 2rem;">
<div class="#{$pr}#{$c}media #{$pr}#{$c}media-middle">
    <div class="#{$pr}#{$c}media-object">
        <div class="#{$pr}#{$m}thumbnail">
            <picture>
            <source
                media="(max-width:640px)"
                srcset="/images/_dummy/image_06_s.jpg 640w"
                sizes="100vw">
            <source
                srcset="/images/_dummy/image_06.jpg 1280w"
                sizes="(max-width:1280px) 100vw, 1280px">
            <img alt="" src="/images/_dummy/image_06.jpg">
            </picture>
        </div>
    </div>

    <div class="#{$pr}#{$c}media-contents">
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
        <p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。どうも咽せぽくて実に弱った。これが人間の飲む煙草というものである事はようやくこの頃知った。</p>
        <p>この書生の掌の裏でしばらくはよい心持に坐っておったが、しばらくすると非常な速力で運転し始めた。書生が動くのか自分だけが動くのか分らないが無暗に眼が廻る。胸が悪くなる。到底助からないと思っていると、どさりと音がして眼から火が出た。それまでは記憶しているがあとは何の事やらいくら考え出そうとしても分らない。ふと気が付いて見ると書生はいない。たくさんおった兄弟が一疋も見えぬ。肝心の母親さえ姿を隠してしまった。その上今までの所とは違って無暗に明るい。眼を明いていられぬくらいだ。はてな何でも容子がおかしいと、のそのそ這い出して見ると非常に痛い。吾輩は藁の上から急に笹原の中へ棄てられたのである。</p>
    </div>
</div>
</div>

<div class="#{$pr}#{$c}media #{$pr}#{$c}media-middle">
    <div class="#{$pr}#{$c}media-object">
        <div class="#{$pr}#{$m}thumbnail">
            <picture>
            <source
                media="(max-width:640px)"
                srcset="/images/_dummy/image_06_s.jpg 640w"
                sizes="100vw">
            <source
                srcset="/images/_dummy/image_06.jpg 1280w"
                sizes="(max-width:1280px) 100vw, 1280px">
            <img alt="" src="/images/_dummy/image_06.jpg">
            </picture>
        </div>
    </div>

    <div class="#{$pr}#{$c}media-contents">
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
    </div>
</div>
```

*/

.#{$pr}#{$c}media-middle {
    align-items: center;
}



/*doc
---
title: #{$pr}#{$c}media-reverse
name: media-02-reverse
category: component-media
parent: media
---

オブジェクトと本文の配置を逆にする。

``` example
<div class="#{$pr}#{$c}media #{$pr}#{$c}media-reverse">
    <div class="#{$pr}#{$c}media-object">
        <div class="#{$pr}#{$m}thumbnail">
            <picture>
            <source
                media="(max-width:640px)"
                srcset="/images/_dummy/image_07_s.jpg 640w"
                sizes="100vw">
            <source
                srcset="/images/_dummy/image_07.jpg 1280w"
                sizes="(max-width:1280px) 100vw, 1280px">
            <img alt="" src="/images/_dummy/image_07.jpg">
            </picture>
        </div>
    </div>
    <div class="#{$pr}#{$c}media-contents">
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。しかしその当時は何という考もなかったから別段恐しいとも思わなかった。ただ彼の掌に載せられてスーと持ち上げられた時何だかフワフワした感じがあったばかりである。</p>
    </div>
</div>
```

*/

.#{$pr}#{$c}media-reverse {
    flex-direction: row-reverse;

    .#{$pr}#{$c}media-object {
        padding-right: 0;
        padding-left: $spacer;

        @include media-breakpoint-up(md) {
            padding-left: ($spacer * 2);
        }

    }

}

