/*
--------------------
#{$pr}#{$c}media
--------------------
*/

.#{$pr}#{$c}media {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    @at-root {

        a#{&} {

            &:not(:hover),
            &:not(:focus),
            &:not(:active) {
                color: $body-color;
                text-decoration: none;

                .#{$pr}#{$c}media#{$c1}title {
                    text-decoration: underline;
                }

            }

            &:hover,
            &:focus,
            &:active {
                color: $body-color;
                text-decoration: none;

                .#{$pr}#{$m}thumbnail {

                    img {
                        transform: scale(1.05);
                        opacity: .75;
                    }

                }

                .#{$pr}#{$c}media#{$c1}title {
                    text-decoration: none;
                }

            }

        }

    }

}

.#{$pr}#{$c}media#{$c1}object {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    max-width: 50%;
    padding-right: ( $spacer / 2 );

    @include media-breakpoint-up(md) {
        max-width: 33.33333333%;
        padding-right: $spacer;
    }

    .#{$pr}#{$m}thumbnail {
        background-color: $body-inverse-bg;
        border: 0 none;
    }

}

.#{$pr}#{$c}media#{$c1}contents {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    padding-left: ( $spacer / 2 );
    font-size: $font-size-sm;
    line-height: $line-height-sm;

    @include media-breakpoint-up(lg) {
        padding-left: $spacer;
    }

}

.#{$pr}#{$c}media#{$c1}title {

    &.#{$pr}#{$m}title {

        &[class*="#{$pr}#{$m}title#{$c1}style"] {
            margin: 0;
        }

    }

}

.#{$pr}#{$c}media#{$c1}meta {
    margin: 0;
}

.#{$pr}#{$c}media#{$c1}body {
    margin: 0;
}

[class*="#{$pr}#{$c}media"] + .#{$pr}#{$c}media#{$c1}title,
[class*="#{$pr}#{$c}media"] + .#{$pr}#{$c}media#{$c1}meta,
[class*="#{$pr}#{$c}media"] + .#{$pr}#{$c}media#{$c1}body {
    margin-top: .5em;
}


/*
--------------------
#{$pr}#{$c}media#{$c1}middle
--------------------
*/

.#{$pr}#{$c}media#{$c1}middle {
    align-items: center;
}


/*
--------------------
#{$pr}#{$c}media#{$c3}reverse
--------------------
*/

.#{$pr}#{$c}media#{$c3}reverse {
    flex-direction: row-reverse;

    .#{$pr}#{$c}media#{$c1}object {
        padding-right: 0;
        padding-left: $spacer;

        @include media-breakpoint-up(md) {
            padding-left: ($spacer * 2);
        }

    }

}

