/*
--------------------
nav-links(WordPress)
--------------------
*/

.nav-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);
    font-size: $font-size-xs;

    a,
    span {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 2rem;
        height: 2rem;
        margin-left: .25rem;
        margin-right: .25rem;
        padding-left: .5rem;
        padding-right: .5rem;
        background-color: $pager-bg;
        border: $pager-border-width solid $pager-border-color;
        color: $pager-color;
        font-size: inherit;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:not(.prev):not(.next) {
            padding-left: 0;
            padding-right: 0;
        }

        &.current {
            background-color: $pager-current-bg;
            border-color: $pager-current-border-color;
            color: $pager-current-color;
        }

    }

    a {
        text-decoration: none;
        transition: .3s all;

        &:hover,
        &:focus {
            background-color: $pager-hover-bg;
            border-color: $pager-hover-border-color;
            color: $pager-hover-color;
        }

    }

}
