/*
--------------------
#{$pr}#{$c}paginate(color)
--------------------
*/

.#{$pr}#{$c}paginate {

    .#{$pr}#{$m}nav#{$c1}item {

        &.#{$paginate-prev},
        &.#{$paginate-next} {

            .#{$pr}#{$m}nav#{$c1}label {

                &:after {
                    border-top-color: currentcolor;
                    border-left-color: currentcolor;
                }

            }

        }

    }

    // not inverse ================================

    .#{$pr}#{$m}nav:not(.#{$pr}#{$m}nav#{$c3}inverse) {

        .#{$pr}#{$m}nav#{$c1}item {

            &.#{$paginate-current} {

                .#{$pr}#{$m}nav#{$c1}label {
                    background-color: $paginate-current-bg;
                    border-color: $paginate-current-border-color;
                    color: $paginate-current-color;
                }

            }

        }

        a.#{$pr}#{$m}nav#{$c1}label {
            background-color: $paginate-bg;
            border-color: $paginate-border-color;
            color: $paginate-color;

            &:hover,
            &:focus {
                background-color: $paginate-hover-bg;
                border-color: $paginate-hover-border-color;
                color: $paginate-hover-color;
            }

        }

    }

    // inverse ================================

    .#{$pr}#{$m}nav#{$c3}inverse {

        .#{$pr}#{$m}nav#{$c1}item {

            &.#{$paginate-current} {

                .#{$pr}#{$m}nav#{$c1}label {
                    background-color: $paginate-inverse-current-bg;
                    border-color: $paginate-inverse-current-border-color;
                    color: $paginate-inverse-current-color;
                }

            }

        }

        a.#{$pr}#{$m}nav#{$c1}label {
            background-color: $paginate-inverse-bg;
            border-color: $paginate-inverse-border-color;
            color: $paginate-inverse-color;

            &:hover,
            &:focus {
                background-color: $paginate-inverse-hover-bg;
                border-color: $paginate-inverse-hover-border-color;
                color: $paginate-inverse-hover-color;
            }

        }

    }

}
