/*
--------------------
#{$pr}#{$c}pager
--------------------
*/

.#{$pr}#{$c}pager {
    padding-top: ( $spacer * 3 );
    padding-bottom: ( $spacer * 3 );
    font-size: $font-size-xs;
    text-align: center;

    .#{$pr}#{$m}nav#{$c1}item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 2rem;

        &:not(.#{$pager-ellipsis}) {
            width: 2rem;
            flex-basis: 2rem;
            margin-left: .25rem;
            margin-right: .25rem;
            border-style: solid;
            border-width: $pager-border-width;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }

        }

        &.#{$pager-ellipsis} {
            padding-left: .25rem;
            padding-right: .25rem;
        }

    }

    .#{$pr}#{$m}nav#{$c1}label {
        position: absolute;
        top: ( $pager-border-width * -1 );
        left: ( $pager-border-width * -1 );
        bottom: ( $pager-border-width * -1 );
        right: ( $pager-border-width * -1 );
        width: auto;
        height: auto;
        min-height: auto;
        font-size: inherit;
        padding: 0;
        border-style: solid;
        border-width: $pager-border-width;
    }

    .#{$pr}#{$m}nav:not(.#{$pr}#{$m}nav#{$c3}inverse) {

        .#{$pr}#{$m}nav#{$c1}item {

            &.#{$pager-current} {
                background-color: $pager-current-bg;
                border-color: $pager-current-border-color;
                color: $pager-current-color;

                .#{$pr}#{$m}nav#{$c1}label {
                    background-color: $pager-current-bg;
                    border-color: $pager-current-border-color;
                    color: $pager-current-color;
                }

            }

        }

        a.#{$pr}#{$m}nav#{$c1}label {
            background-color: $pager-bg;
            border-color: $pager-border-color;
            color: $pager-color;

            &:hover,
            &:focus {
                background-color: $pager-hover-bg;
                border-color: $pager-hover-border-color;
                color: $pager-hover-color;
            }

        }

    }


    // inverse ================================

    .#{$pr}#{$m}nav#{$c3}inverse {
        background-color: transparent;

        .#{$pr}#{$m}nav#{$c1}item {

            &:not(.#{$pager-ellipsis}) {
                background-color: $pager-inverse-bg;
                border-color: $pager-inverse-border-color;
                color: $pager-inverse-color;
            }

            &.#{$pager-current} {
                background-color: $pager-inverse-current-bg;
                border-color: $pager-inverse-current-border-color;
                color: $pager-inverse-current-color;

                .#{$pr}#{$m}nav#{$c1}label {
                    background-color: $pager-inverse-current-bg;
                    border-color: $pager-inverse-current-border-color;
                    color: $pager-inverse-current-color;
                }

            }

        }

        a.#{$pr}#{$m}nav#{$c1}label {
            background-color: $pager-inverse-bg;
            border-color: $pager-inverse-border-color;
            color: $pager-inverse-color;

            &:hover,
            &:focus {
                background-color: $pager-inverse-hover-bg;
                border-color: $pager-inverse-hover-border-color;
                color: $pager-inverse-hover-color;
            }

        }

    }

}
