/*doc
---
title: .pagehead
name: pagehead
category: module_component
---

ページタイトルとしての役割を持つコンポーネントを表示する。  
必ず.pagehead-(type)クラスを付与する必要がある。

*/

.pagehead {

    .pagehead-title {
        max-width: map-get($container-max-widths, lg);
        margin: 0 auto;
        font-size: 1.75rem;
        font-weight: $font-weight-01;
        font-family: $font-family-01;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        line-height: $line-height-sm;
        letter-spacing: .1em;

        @include media-breakpoint-up(sm) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 2.25rem;
        }

    }

    .pagehead-subtitle {
        max-width: map-get($container-max-widths, lg);
        margin: 0 auto;
        font-size: 1.125rem;
        font-weight: $font-weight-01;
        font-family: $font-family-01;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        line-height: $line-height-sm;
        letter-spacing: .1em;

        &:before {
            content: "-";
            margin-right: .25rem;
        }

        &:after {
            content: "-";
            margin-left: .25rem;
        }

        @include media-breakpoint-up(sm) {
            font-size: 1.25rem;
        }

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
        }

    }

    .pagehead-caption {
        max-width: map-get($container-max-widths, lg);
        margin: 0 auto;
        padding-top: $spacer;
        line-height: $line-height-lg;
        text-align: center;
    }

}

/*doc
---
title: .pagehead-01
name: pagehead-01
category: module_component
parent: pagehead
---

シンプルな中央寄せのページタイトル。

``` example
<div class="pagehead pagehead-01">
    <h1 class="pagehead-title">ページタイトル</h1>
    <p class="pagehead-subtitle">吾輩は猫である</p>
    <p class="pagehead-caption">名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
</div><!-- /.pagehead -->
```
*/
.pagehead-01 {
    padding: ($spacer * 8) ($grid-gutter-width / 2) ($spacer * 4);

    @include media-breakpoint-up(lg) {
        padding: ($spacer * 6) ($grid-gutter-width / 2);
    }
}

/*doc
---
title: .pagehead-02
name: pagehead-02
category: module_component
parent: pagehead
---

pagehead-01と同じだが下余白がない。

``` example
<div class="pagehead pagehead-02">
    <h1 class="pagehead-title">ページタイトル</h1>
    <p class="pagehead-subtitle">吾輩は猫である</p>
    <p class="pagehead-caption">名前はまだ無い。どこで生れたかとんと見当がつかぬ。</p>
</div><!-- /.pagehead -->
```
*/
.pagehead-02 {
    padding: ($spacer * 8) ($grid-gutter-width / 2) 0;

    @include media-breakpoint-up(lg) {
        padding: ($spacer * 6) ($grid-gutter-width / 2) 0;
    }
}
