/*doc
---
title: .share
name: share
category: module_component
---

SNSの共有ボタン群を表示する。

``` example
<div class="share">
  <ul class="share-list">
    <li class="share-item">SNSボタン</li>
    <li class="share-item">SNSボタン</li>
    <li class="share-item">SNSボタン</li>
  </ul>
</div><!-- /.share -->
```

*/

.share {

  .share-list {
    margin: 0;
    padding: 0;
    text-align: right;
    letter-spacing: -.4rem;
    line-height: $line-height-xs;

    .share-item {
      display: inline-block;
      margin: 0;
      padding: 0 .5rem;
      letter-spacing: normal;
      vertical-align: middle;

      iframe,
      img {
        vertical-align: middle;
      }

    }

  }

}
