/*
--------------------
#{$pr}#{$c}step
--------------------
*/

.#{$pr}#{$c}step {
    width: calc( 100% - #{map-get( $grid-gutter-widths, 'md' )} );
    margin: 0 auto;

    @include media-breakpoint-up(sm) {
        width: 100%;
        max-width: map-get( $object-max-widths, 'lg' );
    }

    .#{$pr}#{$m}nav.#{$pr}#{$m}nav#{$c3}vertical {

        .#{$pr}#{$m}nav#{$c1}list {
            margin-bottom: -.5em;
        }

        .#{$pr}#{$m}nav#{$c1}item {
            margin-bottom: .5em;
        }

        .#{$pr}#{$m}nav#{$c1}label {
            justify-content: center;
            text-align: center;
            height: ( 44 / 16 ) + em;
            padding-top: 0;
            padding-bottom: 0;
            border: $ui-border-width solid transparent;

            &:not(.#{$nav-current}) {

                &:hover,
                &:focus,
                &:active {
                    background-color: $nav-hover-bg;
                }

            }

            &.#{$nav-current} {
                color: $nav-color;
                background-color: $nav-bg;
                border-color: $nav-color;
            }

        }

        ol.#{$pr}#{$m}nav#{$c1}list {
            counter-reset: item;

            .#{$pr}#{$m}nav#{$c1}label {
                position: relative;
                padding-left: ( 44 / 16 ) + ( 8 / 16 ) + em;

                &:before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    counter-increment: item;
                    content: counter( item );
                    min-width: ( 44 / 16 ) + em;
                    height: 100%;
                    background-color: $nav-hover-bg;
                    transition:
                        background-color .3s,
                        color .3s;
                }

                &.#{$nav-current} {

                    &:before {
                        color: $ui-current-color;
                        background-color: $ui-current-bg;
                    }

                }

            }

        }

    }

}
