/*doc
---
title: .summary
name: summary
category: module_component
---

新着情報のエントリー繰り返し部分などに使用する、左右いずれかにサムネイルがあるコンポーネントを表示する。  
必ずsummary-(type)クラスを付与する。

*/

.summary {
    @include clearfix();
    position: relative;
    margin-bottom: $spacer;

    a.summary-inner {
        display: block;
        color: $body-color;
        text-decoration: none;
        transition: .3s all;

        &:hover,
        &:focus {
            color: $body-color;
            text-decoration: none;
            opacity: .8;
        }

    }

    .summary-header {
        float: left;
        padding-right: $spacer;

        @include media-breakpoint-up(md) {
            padding-right: $spacer * 2;
        }

    }

    .summary-contents {
        overflow: hidden;
    }

    .summary-thumb {
        overflow: hidden;
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        background: $body-bg;
        border: 1px solid $border-color;
    }

    .summary-object {
        position: absolute;
        top: 50%;
        left: 50%;
        width: auto;
        // 隙間ができてしまうことがあるので1%増やす
        height: 101%;
        -webkit-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
        transform:translate(-50%, -50%);
    }

    .summary-new {
        position: absolute;
        margin: 0;
        top: 0;
        left: $spacer;
        font-family: $font-family-03;
        font-weight: $font-weight-bold-03;
        line-height: $line-height-none;
        z-index: 101;

    }

    .summary-date {
        display: inline-block;
        font-size: .8125rem;
    }


}


/*doc
---
title: .summary-01
name: summary-01
category: module_component
parent: summary
---

サムネイルの高さを横長優先、4:3で固定しているので、.summary-thumbの下余白を任意調整すること。

``` example
<div style="width: 768px;">

<div class="summary summary-01">
    <a href="#" class="summary-inner">
        <div class="summary-new"><span class="badge badge-important">New</span></div>
        <div class="summary-header">
            <div class="summary-thumb">
                <img class="summary-object" src="http://placehold.jp/24/66bb88/ffffff/480x320.png?text=dummy_image" alt="">
            </div>
        </div>

        <div class="summary-contents">
            <h3 class="title title-06 m-bsm">サマリーのタイトルですサマリーのタイトルですサマリーのタイトルです</h3>
            <p><span class="label m-rsm">カテゴリー</span><time>2017-12-28</time></p>
            <p class="text-mild">吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。この書生というのは時々我々を捕えて煮て食うという話である。</p>
        </div><!-- /.summary-contents -->
    </a>
</div>

</div>
```

*/

.summary-01 {

    .summary-header {
        width: 33.33333333%;
        min-width: 75px;

        @include media-breakpoint-up(sm) {
            min-width: 100px;
        }

        @include media-breakpoint-up(md) {
            min-width: 120px;
        }

        @include media-breakpoint-up(lg) {
            min-width: 160px;
        }

        @include media-breakpoint-up(xl) {
            min-width: 200px;
        }

    }

    .summary-thumb {
        padding-bottom: 75%;
    }

}