/*
--------------------
#{$pr}#{$c}topicpath(size)
--------------------
*/

.#{$pr}#{$c}topicpath {
    font-size: $font-size-xs;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-sm;
    }

}

.#{$pr}#{$c}topicpath#{$c3}fixed {

    @include media-breakpoint-up(lg) {
        font-size: $font-size-xs;
    }

}
