/*
--------------------
#{$pr}#{$c}topicpath
--------------------
*/

.#{$pr}#{$c}topicpath {
    position: relative;
    font-size: $font-size-xxs;
    line-height: 1;

    @include media-breakpoint-up(lg) {
        font-size: $font-size-xs;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 3em;
        height: 100%;
        background: linear-gradient( 90deg, rgba( $body-bg, 0 ) 0%, rgba( $body-bg, 1 ) 100% );
        z-index: 12;
    }

    .#{$pr}#{$m}list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .#{$pr}#{$m}list#{$c1}item {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin-right: 1em;

            &:not(:first-child) {

                &:before {
                    flex-grow: 0;
                    content: ">";
                    margin-right: 1em;
                    color: $nav-color;
                }

            }

            &:last-child {
                padding-right: 3em;
            }

        }

    }

}

.#{$pr}#{$c}topicpath#{$c1}inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    overflow: auto;
    white-space: nowrap;
    z-index: 11;
}

.#{$pr}#{$c}topicpath#{$c1}label {
    flex-grow: 0;
    padding: .5em 0;

    @at-root {

        a#{&} {
            color: $nav-color;

            &:hover,
            &:focus {
                color: $nav-hover-color;
            }

        }

    }

}
