/*
base
------------
*/

@include font-face-mapping();

html {
  font-size: $font-size-root;
  font-family: $font-family-root;
  font-weight: $font-weight-root;

  @include media-breakpoint-down(sm) {
    font-size: $font-size-sm;
  }

  @include media-breakpoint-up(xl) {
    font-size: $font-size-lg;
  }

}

body {
  background-color: $body-bg;
  color: $body-color;
  line-height: $line-height-root;
}

// note: Underline of Link
// wysiwyg(リッチテキスト)の適用範囲内のみ、リンクにcolorやtext-decorationを指定することは、適切ではありません。スタイルの優先度が、その装飾を必要としないモジュールよりも、高くなってしまうことを回避するためです。
// It is not appropriate to specify color or text-decoration for the link only within the scope of wysiwyg (rich text). This is to avoid that the priority of the style will be higher than the module that does not require that decoration.
// --------------------

a {
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: none;
  }

}

h1,
h2,
h3,
h4,
h5,
h6,
pre,
code {
    margin: 0;
}

p,
pre,
blockquote {
    margin: 0 0 1.5em;
}

ul,
ol {
    margin: 0 0 1.5em;
    padding-left: 1.25em;
}

li {
    margin: 0 0 1em;
}

dl {
    margin: 0 0 1.5em;
}

dt {
    margin: 0 0 .5em;
}

dd {
    margin: 0 0 1em 2em;

    &:last-child {
        margin-bottom: 0;
    }
}


// note: Font Families in Form
// 日本では、フォームの入力フィールドにサンセリフフォントを指定する傾向があります。 これは、入力フォームに適用される標準フォントが、OSによって大きく異なるためです。
// In Japan, there is a tendency to specify sans-serif fonts in the form input fields. This is because standard fonts applied to input fields vary greatly depending on the OS.
// --------------------

textarea,
input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="number"] {
    font-size: 1em;
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    font-weight: 300;
}

select {
    font-family: '-apple-system', 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
    font-weight: 300;
}
