// Config: advance
// ========================================

// Code Optimize
// -----------------------------------------

// 使用頻度が少ないスタイル（小さすぎるグリッド等）を除外し、コードを最適化する
// Optimize the code by excluding styles that are not used frequently (too small grids, etc.)
$optimize: true !default;

// ユーティリティグループに属するクラスを使用しない場合は、値を「true」にする（m・p・text-***等）
// Set the value to "true" if you do not want to use a class "utility" group (m,p,text-***, etc.)
$disabled-utility-class: false !default;


// Prefix
// -----------------------------------------

// common-prefix
// 他のCSSフレームワークとの衝突を回避したい場合は、接頭辞を指定する
// Specify the prefix, if you want to avoid conflicts with other CSS frameworks
$pr: "" !default;

// layout-group-prefix
$l: "l-" !default;

// module-group-prefix
$m: "m-" !default;

// component-group-prefix
$c: "c-" !default;

// utility-group-prefix
// ユーティリティクラスは、意図的に接頭辞を指定していない。システムの編集者も使用する可能性があるため、覚えやすいよう簡略化している
// Utility class does not intentionally specify a prefix. there is a possibility that editors of system, use it, it simplified for easier to remember
$u: "" !default;

// project-group-prefix
$p: "p-" !default;


// Name
// -----------------------------------------

// wysiwyg-class
// ex. wysiwyg, freetext, richtext...
$wysiwyg:   $p + "wysiwyg" !default;

// widget-area-name
// ex. widgetarea, layout, page, region...
$widgetarea: $p + "widgetarea" !default;

// widget-name
// ex. widget, module, box, view...
$widget: $p + "widget" !default;

// nav-current-name
// ex. is-active, active, current, stay...
$nav-current: "is-current" !default;

// error-name
// ex. is-error, error...
$error: "is-error" !default;


// Selector
// -----------------------------------------

// utillity-wrap-selector
// ユーティリティクラスの優先順位を上昇させるために、点数が30（0.0.3.0）以上になるようなセレクタを指定する
// In order to raise the priority of the utility class, specify a selector whose score is 30 (0.0.3.0) or more
$u-wrap:    "#document" !default;

// icon-selector
$icon:      '[class*="fa-"]' !default;


// Container
// -----------------------------------------

$container-max-widths-sm: (
  md: 700px,
  lg: 960px
) !default;

$container-max-widths-md: (
  md: 700px,
  lg: 960px,
  xl: 1200px
) !default;

$container-max-widths-lg: (
  md: 700px,
  lg: 960px,
  xl: 1200px,
  xxl: 1600px,
) !default;


// Grid
// -----------------------------------------

// grid type: float, flexbox(or others)
$grid-type: "flexbox" !default;

// layout-group-grid-prefix
// グリッドシステムのみBootstrapに対応したい場合は、接頭辞を "" （空）にする
// If you only want to support Bootstrap on the grid system, set the prefix to "" (empty)
$g: $l !default;

$grid-breakpoints: (
  default: 0,
  xxs: 320px,
  xs:  360px,
  sm:  425px,
  md:  768px,
  lg:  1000px,
  xl:  1240px,
  xxl: 1640px
) !default;

$grid-columns:    12 !default;

$grid-gutter-widths: (
  none: 0,
  sm:   $spacer,
  md:   ($spacer * 2),
  lg:   ($spacer * 4)
) !default;


