// Config: advance
// ========================================

// Color
// -----------------------------------------

// Navigation
$nav-color:                       $ui-color !default;
$nav-bg:                          $ui-bg !default;
$nav-hover-color:                 $ui-hover-color !default;
$nav-hover-bg:                    $ui-hover-bg !default;
$nav-current-color:               $ui-current-color !default;
$nav-current-bg:                  $ui-current-bg !default;
$nav-current-hover-color:         $ui-current-hover-color !default;
$nav-current-hover-bg:            $ui-current-hover-bg !default;

// Navigation (inverse)
$nav-inverse-color:               $ui-inverse-color !default;
$nav-inverse-bg:                  $ui-inverse-bg !default;
$nav-inverse-hover-color:         $ui-inverse-hover-color !default;
$nav-inverse-hover-bg:            $ui-inverse-hover-bg !default;
$nav-inverse-current-color:       $ui-inverse-current-color !default;
$nav-inverse-current-bg:          $ui-inverse-current-bg !default;
$nav-inverse-current-hover-color: $ui-inverse-current-hover-color !default;
$nav-inverse-current-hover-bg:    $ui-inverse-current-hover-bg !default;

// Pager
$pager-border-width:                 $ui-border-width !default;
$pager-color:                        $ui-color !default;
$pager-bg:                           $ui-bg !default;
$pager-border-color:                 $ui-border-color !default;
$pager-hover-color:                  $ui-hover-color !default;
$pager-hover-bg:                     $ui-hover-bg !default;
$pager-hover-border-color:           $ui-hover-border-color !default;
$pager-current-color:                $ui-current-color !default;
$pager-current-bg:                   $ui-current-bg !default;
$pager-current-border-color:         $ui-current-border-color !default;

// Pager (inverse)
$pager-inverse-color:                $ui-inverse-color !default;
$pager-inverse-bg:                   $ui-inverse-bg !default;
$pager-inverse-border-color:         $ui-inverse-border-color !default;
$pager-inverse-hover-color:          $ui-inverse-hover-color !default;
$pager-inverse-hover-bg:             $ui-inverse-hover-bg !default;
$pager-inverse-hover-border-color:   $ui-inverse-hover-border-color !default;
$pager-inverse-current-color:        $ui-inverse-current-color !default;
$pager-inverse-current-bg:           $ui-inverse-current-bg !default;
$pager-inverse-current-border-color: $ui-inverse-current-border-color !default;

// Input
$input-border-width:       $ui-border-width !default;
$input-color:              $ui-color !default;
$input-bg:                 $ui-bg !default;
$input-border-color:       $ui-border-color !default;
$input-focus-color:        $ui-color !default;
$input-focus-bg:           $ui-hover-bg !default;
$input-focus-border-color: $ui-border-color !default;

// Checkbox
$checkbox-border-width:         $ui-border-width !default;
$checkbox-color:                $ui-color !default;
$checkbox-bg:                   $body-bg !default;
$checkbox-border-color:         $ui-border-color !default;
$checkbox-checked-color:        $ui-current-color !default;
$checkbox-checked-bg:           $ui-icon-color !default;
$checkbox-checked-border-color: $ui-icon-color !default;

// Radio
$radio-border-width:         $ui-border-width !default;
$radio-color:                $ui-color !default;
$radio-bg:                   $body-bg !default;
$radio-border-color:         $ui-border-color !default;
$radio-checked-color:        $ui-icon-color !default;
$radio-checked-bg:           $ui-bg !default;
$radio-checked-border-color: $ui-icon-color !default;


// Conjunction
// -----------------------------------------

$c1: '-' !default;   // to element
$c2: '-' !default;   // to key
$c3: '-' !default;   // to value

@if ($rule == 'bem') {
    $c1: '__';   // to element
    $c2: '--';   // to key
    $c3: '--';   // to value
}


// Spacer
// -----------------------------------------

$spacer: 10px !default;


// Code Optimize
// -----------------------------------------

// 使用頻度が少ないスタイル（小さすぎるグリッド等）を除外し、コードを最適化する
// Optimize the code by excluding styles that are not used frequently (too small grids, etc.)
$optimize: true !default;


// Prefix
// -----------------------------------------

// layout-group-prefix
$l: "l-" !default;

// module-group-prefix
$m: "m-" !default;

// component-group-prefix
$c: "c-" !default;

// utility-group-prefix
$u: "u-" !default;

// project-group-prefix
$p: "p-" !default;


// Selector
// -----------------------------------------

// utillity-wrap-selector
// ユーティリティクラスの優先順位を上昇させるために、点数が30（0.0.3.0）以上になるようなセレクタを指定する
// In order to raise the priority of the utility class, specify a selector whose score is 30 (0.0.3.0) or more
$u-wrap:    "#document" !default;

// icon-selector
$icon:      '[class*="fa-"]' !default;


// Name
// -----------------------------------------

// wysiwyg-class
// ex. wysiwyg, freetext, richtext...
$wysiwyg:   $p + "wysiwyg" !default;

// widget-name
// ex. widget, module, box, view...
$widget: $p + "widget" !default;

// grid-row-name
// ex. row(bootstrap compatible), wrap...
$row: $l + 'grid' + $c1 + 'row' !default;

// grid-col-name
// ex. col(bootstrap compatible), cel...
$col: $l + 'grid' + $c1 + 'col' !default;

// nav-current-name
// ex. is-active, active, current, cur, stay...
$nav-current: "is-current" !default;

// error-name
// ex. is-error, error...
$error: "is-error" !default;

// pager-prev-name
// ex. prev, previous, pagination-prev...
$pager-prev: "prev" !default;

// pager-next-name
// ex. next, pagination-next...
$pager-next: "next" !default;

// pager-current-name
// ex. $nav-current, current, pagination-current...
$pager-current: $nav-current !default;

// pager-ellipsis-name
// ex. ellipsis, ommition...
$pager-ellipsis: "ellipsis" !default;


// Container
// -----------------------------------------

$container-max-widths-sm: (
    md: 700px,
    lg: 960px
) !default;

$container-max-widths-md: (
    md: 700px,
    lg: 960px,
    xl: 1200px
) !default;

$container-max-widths-lg: (
    md:  700px,
    lg:  960px,
    xl:  1200px,
    xxl: 1400px,
) !default;


// Grid
// -----------------------------------------

$grid-breakpoints: (
    default: 0,
    xxs:     320px,
    xs:      360px,
    sm:      425px,
    md:      768px,
    lg:      1000px,
    xl:      1280px,
    xxl:     1440px
) !default;

$grid-columns:        12 !default;
$grid-columns-max:    $grid-columns - 1 !default;

$grid-gutter-widths: (
    none:   0,
    sm:     $spacer,
    md:     ($spacer * 2),
    lg:     ($spacer * 4)
) !default;


