// Config: basic
// ========================================

// Prefix
// -----------------------------------------

// Common prefix
// 他のCSSフレームワークとの衝突を回避したい場合は、接頭辞を指定する
// Specify the prefix, if you want to avoid conflicts with other CSS frameworks
$pr: 'echo-' !default;

// Coding rules
// "bem" を指定するとBEMとなる（デフォルトはSMACSS）。
// When specified "bem", it becomes BEM. (default: SMACSS)
$rule: '' !default;


// Colors
// -----------------------------------------

$default:                   #333 !default;
$default-strong:            #333 !default;
$default-fade:              #eee !default;

$info:                      #1976d2 !default;
$info-strong:               #0057af !default;
$info-fade:                 #e3f0ff !default;

$important:                 #d20b2a !default;
$important-strong:          #d20b2a !default;
$important-fade:            #ffe9f0 !default;

$inverse:                   #fff !default;
$inverse-strong:            #fff !default;
$inverse-fade:              rgba( 255,255,255,.15 ) !default;


$body-bg:                   $inverse-strong !default;
$body-color:                $default !default;

$body-inverse-bg:           $default-strong !default;
$body-inverse-color:        $inverse !default;

$link-color:                $info-strong !default;
$link-hover-color:          $link-color !default;


// Border ( Table, Alert, Thumbnail, Box )
// -----------------------------------------

$border-width:                   .0625rem !default;
$border-color:                   $body-color !default;
$border-inverse-color:           $body-inverse-color !default;

$border-table-width:             $border-width !default;
$border-table-section-width:     ( $border-width * 2 ) !default;
$border-table-section-color:     $border-color !default;
$border-thumbnail-width:         0 !default;
$border-alert-width:             $border-width !default;
$border-box-width:               $border-width !default;


// UI ( Default Button, Nav, Pager, Form )
// -----------------------------------------

$ui-border-width:               .0625rem !default;
$ui-btn-border-width:           ( $border-width * 2 ) !default;
$ui-icon-color:                 $default !default;

$ui-color:                      $body-color !default;
$ui-bg:                         transparent !default;
$ui-border-color:               $ui-color !default;
$ui-hover-color:                $ui-color !default;
$ui-hover-bg:                   $default-fade !default;
$ui-hover-border-color:         $ui-color !default;

$ui-current-color:              $body-inverse-color !default;
$ui-current-bg:                 $body-color !default;
$ui-current-border-color:       $body-color !default;
$ui-current-hover-color:        $ui-current-color !default;
$ui-current-hover-bg:           $ui-current-bg !default;
$ui-current-hover-border-color: $ui-current-border-color !default;

$ui-inverse-color:                      $body-inverse-color !default;
$ui-inverse-bg:                         transparent !default;
$ui-inverse-border-color:               $ui-inverse-color !default;
$ui-inverse-hover-color:                $ui-inverse-color !default;
$ui-inverse-hover-bg:                   $inverse-fade !default;
$ui-inverse-hover-border-color:         $body-inverse-color !default;

$ui-inverse-current-color:              $body-color !default;
$ui-inverse-current-bg:                 $inverse !default;
$ui-inverse-current-border-color:       $inverse !default;
$ui-inverse-current-hover-color:        $ui-inverse-current-color !default;
$ui-inverse-current-hover-bg:           $ui-inverse-current-bg !default;
$ui-inverse-current-hover-border-color: $ui-inverse-current-border-color !default;


// Font mapping
// -----------------------------------------

@mixin font-face-mapping() {

// font-face or webfont import

}

// Font family
// -----------------------------------------

// root: body
$font-family-root:             'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '-apple-system', 'BlinkMacSystemFont', 'Meiryo', sans-serif !default;
$font-weight-root:             300 !default;
$font-family-bold-root:        $font-family-root;
$font-weight-bold-root:        600 !default;

// first: title
$font-family-first:            $font-family-root;
$font-weight-first:            $font-weight-root;
$font-family-bold-first:       $font-family-bold-root;
$font-weight-bold-first:       $font-weight-bold-root;

// second: english, date, number
$font-family-second:           'Helvetica', 'Roboto', '-apple-system', 'Open Sans', 'Arial', sans-serif !default;
$font-weight-second:           300 !default;
$font-family-bold-second:      $font-family-second;
$font-weight-bold-second:      600 !default;

// third: display
$font-family-third:            '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', 'Bookman Old Style', 'Times New Roman', '-apple-system', 'BlinkMacSystemFont', serif !default;
$font-weight-third:            300 !default;
$font-family-bold-third:       $font-family-third;
$font-weight-bold-third:       600 !default;


// Font size
// -----------------------------------------

$font-size-xxs:             .625rem !default;
$font-size-xs:              .75rem !default;
$font-size-sm:              .875rem !default;
$font-size-md:              1rem !default;
$font-size-lg:              1.125rem !default;
$font-size-xl:              1.25rem !default;
$font-size-xxl:             1.5rem !default;


// Line height
// -----------------------------------------

$line-height-xs:            1.25 !default;
$line-height-sm:            1.5 !default;
$line-height-md:            1.75 !default;
$line-height-lg:            2 !default;


// Radius
// -----------------------------------------

$border-radius-sm:  0.1875rem;
$border-radius-md:  0.25rem;
$border-radius-lg:  0.3125rem;


// Buttons
// -----------------------------------------

$btn-border-radius:    $border-radius-md;

$btn-font-size-sm:     .75rem !default;
$btn-padding-x-sm:     .5rem !default;
$btn-padding-y-sm:     .75rem !default;

$btn-font-size-md:     .875rem !default;
$btn-padding-x-md:     1rem !default;
$btn-padding-y-md:     .8125rem !default;

$btn-font-size-lg:     1rem !default;
$btn-padding-x-lg:     1rem !default;
$btn-padding-y-lg:     .875rem !default;

$btn-font-size-xl:     1.25rem !default;
$btn-padding-x-xl:     2rem !default;
$btn-padding-y-xl:     1rem !default;

$btn-font-size-xxl:    1.5rem !default;
$btn-padding-x-xxl:    3rem !default;
$btn-padding-y-xxl:    1.5rem !default;

$btn-circle-width-sm:  2.25rem !default;
$btn-circle-width-md:  2.75rem !default;
$btn-circle-width-lg:  3.5rem !default;
$btn-circle-width-xl:  4.5rem !default;
$btn-circle-width-xxl: 6rem !default;

$btn-square-width-sm:  2.25rem !default;
$btn-square-width-md:  2.75rem !default;
$btn-square-width-lg:  3.5rem !default;
$btn-square-width-xl:  4.5rem !default;
$btn-square-width-xxl: 6rem !default;


// Title
// -----------------------------------------

$title-key-color:      $default !default;
$title-key-bg:         $default-fade !default;


