// Config: advance
// ========================================

// Code Optimize
// 使用頻度が少ないスタイル（小さすぎるグリッド、disabled等）を除外し、コードを最適化する
// Optimize the code by excluding styles that are not used frequently (grids that are too small, disabled, etc.)
// -----------------------------------------
$optimize: true !default;


// Prefix
// -----------------------------------------

// common-prefix
// 他のCSSフレームワークとの衝突を回避したい場合は、接頭辞を指定する
// Specify the prefix, if you want to avoid conflicts with other CSS frameworks
$prefix: "" !default;

// layout-group-prefix
$l: "l-" !default;

// module-group-prefix
$m: "m-" !default;

// component-group-prefix
$c: "c-" !default;

// utility-group-prefix
// ユーティリティクラスは、意図的に接頭辞を指定していません。システムの編集者も使用する可能性があるため、覚えやすいよう簡略化しています
// Utility class does not intentionally specify a prefix. there is a possibility that editors of system, use it, it simplified for easier to remember
$u: "" !default;



// Name
// -----------------------------------------

// post-name
// ex. post, entry, article...
$post: "post" !default;

// widget-name
// ex. widgetarea, layout, page, region...
$widgetarea: "widgetarea" !default;
// ex. widget, module, box, view...
$widget: "widget" !default;

// nav-name
// ex. menu, navigation...
$nav: "nav" !default;

// nav-current-name
// ex. is-active, active, current, stay...
$nav-current: "is-current" !default;

// action-active-name
// ex. is-active, active...
$action-active: "is-active" !default;

// action-open-name
// ex. is-open, open, active...
$action-open: "is-open" !default;

// action-close-name
// ex. is-close, is-hidden, close...
$action-close: "is-close" !default;

// error-name
// ex. is-error, error...
$error: "is-error" !default;


// List
// -----------------------------------------

// ex. .list-item or li
$list-item: "." + $prefix + $m + "list-item" !default;

// ex. .list-item or li > ul
$list-children: "." + $prefix + $m + "list-children" !default;


// Grid
// -----------------------------------------

// grid type: float, flexbox, both(or others) 
$grid-type: "both" !default;

$grid-breakpoints: (
  default: 0,
  xxs: 320px,
  xs:  375px,
  sm:  425px,
  md:  768px,
  lg:  1000px,
  xl:  1280px,
  xxl: 1600px
) !default;


$container-max-widths-sm: (
  md: 700px,
  lg: 960px
) !default;

$container-max-widths-md: (
  md: 700px,
  lg: 960px,
  xl: 1200px
) !default;


$grid-columns:    12 !default;

$grid-gutter-widths: (
  none: 0,
  sm:   $spacer,
  md:   ($spacer * 2),
  lg:   ($spacer * 4)
) !default;


