// Config: basic
// ========================================

// Name
// -----------------------------------------

// wysiwyg-class
// ex. wysiwyg, freetext, richtext...
$wysiwyg: "wysiwyg" !default;

// utillity-wrap-selector
// ユーティリティクラスの優先順位を上昇させるために、点数が30（0.0.3.0）以上になるようなセレクタを指定する
// In order to raise the priority of the utility class, specify a selector whose score is 30 (0.0.3.0) or more
$u-wrap: "#document" !default;


// Spacing
// -----------------------------------------

$spacer:                     10px !default;


// Colors(basic)
// -----------------------------------------

$gray:                      #333 !default;
$gray-strong:               #000 !default;
$gray-mild:                 #888 !default;
$gray-milder:               #bbb !default;
$gray-fade:                 #eaeaea !default;

$first:                     #49d !default;
$first-strong:              #2283cc !default;
$first-text:                $first-strong !default;
$first-mild:                lighten(desaturate($first, 5%), 10%) !default;
$first-fade:                rgba($first, .2) !default;

$second:                    #444 !default;
$second-strong:             #000 !default;
$second-text:               #333 !default;
$second-mild:               #777 !default;
$second-fade:               #eaeaea !default;

$third:                     #49B070 !default;
$third-strong:              #229644 !default;
$third-text:                $third-strong !default;
$third-mild:                lighten(desaturate($third, 5%), 10%) !default;
$third-fade:                rgba($third, .2) !default;

$fourth:                    #f38c10 !default;
$fourth-strong:             #f37910 !default;
$fourth-text:               $fourth-strong !default;
$fourth-mild:               lighten(desaturate($fourth, 5%), 10%) !default;
$fourth-fade:               rgba($fourth, .2) !default;

$fifth:                     #e33050 !default;
$fifth-strong:              #d70022 !default;
$fifth-text:                $fifth-strong !default;
$fifth-mild:                lighten(desaturate($fifth, 2%), 10%) !default;
$fifth-fade:                #ffe9ee !default;


// Colors(system)
// -----------------------------------------

$info:                      $fourth !default;
$info-text:                 $fourth-text !default;
$info-strong:               $fourth-strong !default;
$info-mild:                 $fourth-mild !default;
$info-fade:                 $fourth-fade !default;

$important:                 $fifth !default;
$important-strong:          $fifth-strong !default;
$important-text:            $fifth-text !default;
$important-mild:            $fifth-mild !default;
$important-fade:            $fifth-fade !default;


$body-bg:                   #fff !default;
$body-color:                $gray !default;
$body-inverse-bg:           $gray-strong !default;
$body-inverse-color:        #fff !default;
$body-mild-color:           $gray-mild !default;


// Border
// -----------------------------------------

$border-width:               1px !default;
$border-color:               $gray-milder !default;
$border-inverse-color:       #666666 !default;


// Font Mapping
// -----------------------------------------

@mixin font-face-mapping() {
  /* thanks: https://speakerdeck.com/tacamy/modanri-ben-yu-huontozhi-ding */

  @font-face {
    font-family: 'PGYuGothic';
    font-weight: normal;
    src: local('YuGothic-Medium'),
         local('Yu Gothic Medium'),
         local('YuGothic-Regular');
  }
  @font-face {
    font-family: 'PGYuGothic';
    font-weight: bold;
    src: local('YuGothic-Bold'),
         local('Yu Gothic');
  }

}

// Font family
// -----------------------------------------

$font-family-root:             'PGYuGothic', 'YuGothic', '-apple-system', 'BlinkMacSystemFont', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif !default;
$font-weight-root:             300 !default;
$font-family-bold-root:        $font-family-root;
$font-weight-bold-root:        700 !default;

$font-family-mono:             'Consolas', 'Liberation Mono', 'Menlo', 'Courier', monospace !default;

// first: heading
$font-family-first:            '游明朝', 'Yu Mincho', '游明朝体', 'YuMincho', 'Hiragino Mincho Pro', 'ＭＳ Ｐ明朝', 'MS PMincho', 'Bookman Old Style', 'Times New Roman', '-apple-system', 'BlinkMacSystemFont', serif !default;
$font-weight-first:            300 !default;
$font-family-bold-first:       $font-family-first;
$font-weight-bold-first:       700 !default;

// second: english, date, number, badge
$font-family-second:           'Helvetica', 'Roboto', '-apple-system', 'Open Sans', 'Arial', sans-serif !default;
$font-weight-second:           300 !default;
$font-family-bold-second:      $font-family-second;
$font-weight-bold-second:      700 !default;

// third: hero, etc
$font-family-third:            $font-family-first;
$font-weight-third:            $font-weight-first;
$font-family-bold-third:       $font-family-bold-first;
$font-weight-bold-third:       $font-weight-bold-first;


// Font size
// -----------------------------------------

$font-size-xxs:             .625em !default;
$font-size-xs:              .75em !default;
$font-size-sm:              .875em !default;
$font-size-md:              1em !default;
$font-size-lg:              1.125em !default;
$font-size-xl:              1.25em !default;
$font-size-xxl:             1.5em !default;


// Line height
// -----------------------------------------

$line-height-none:          1 !default;
$line-height-xs:            1.25 !default;
$line-height-sm:            1.5 !default;
$line-height-md:            1.75 !default;
$line-height-lg:            2 !default;


// Links
// -----------------------------------------

$link-color:                 $first-text !default;
$link-hover-color:           $first-mild !default;


// Navigation
// -----------------------------------------

$nav-color:                  $body-color !default;
$nav-bg:                     transparent !default;
$nav-border:                 $border-color !default;

$nav-hover-color:            $body-color !default;
$nav-hover-bg:               $first-fade !default;
$nav-hover-border:           $border-color !default;

$nav-current-color:          $body-inverse-color !default;
$nav-current-bg:             $first !default;
$nav-current-border:         $first !default;


// Radius
// -----------------------------------------

$border-radius-sm:   3px;
$border-radius-md:   3px;
$border-radius-lg:   5px;
$border-radius-xl:   7px;


// Buttons
// -----------------------------------------

$btn-font-size-sm:          $font-size-xs;
$btn-padding-x-sm:          .5em !default;
$btn-padding-y-sm:          .25em !default;

$btn-font-size-md:          $font-size-sm;
$btn-padding-x-md:          1em !default;
$btn-padding-y-md:          .5em !default;

$btn-font-size-lg:          $font-size-md;
$btn-padding-x-lg:          1.5em !default;
$btn-padding-y-lg:          .75em !default;

$btn-font-size-xl:          $font-size-lg;
$btn-padding-x-xl:          3em !default;
$btn-padding-y-xl:          .75em !default;

$btn-round-width-sm:        2em;
$btn-round-width-md:        2.5em;
$btn-round-width-lg:        3.75em;
$btn-round-width-xl:        5em;

$btn-square-width-sm:       1.5em;
$btn-square-width-md:       2.5em;
$btn-square-width-lg:       3.75em;
$btn-square-width-xl:       5em;
