/*
--------------------
#{$pr}#{$u}bg#{$c3}(color)
#{$pr}#{$u}bg#{$c3}fade
--------------------
*/

#{$u-wrap} {

    .#{$pr}#{$u}bg#{$c3}default {
        background-color: $default;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $default-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}info {
        background-color: $info;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $info-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}important {
        background-color: $important;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-inverse-color;

            & a:not([class]) {
                color: $body-inverse-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $important-fade;
        }

    }

    .#{$pr}#{$u}bg#{$c3}inverse {
        background-color: $inverse;

        &:not(.#{$pr}#{$u}bg#{$c3}fade) {
            color: $body-color;

            & a:not([class]) {
                color: $body-color;
            }

        }

        &.#{$pr}#{$u}bg#{$c3}fade {
            background-color: $inverse-fade;
        }

    }

}
