/*
--------------------
#{$pr}#{$u}text#{$c3}(size)
#{$pr}#{$u}text#{$c3}(size)#{$c2}(breakpont)#{$c3}(up or down)
--------------------
*/

#{$u-wrap} {

    @include make-text-size();

    .#{$pr}#{$u}text#{$c3}1rem {
        font-size: 1rem;
    }

    .#{$pr}#{$u}text#{$c3}xxstoxs {
        font-size: ( 12 / 10 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxstosm {
        font-size: ( 14 / 10 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxstomd {
        font-size: ( 16 / 10 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxstolg {
        font-size: ( 18 / 10 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxstoxl {
        font-size: ( 20 / 10 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxstoxxl {
        font-size: ( 24 / 10 ) + em;
    }


    .#{$pr}#{$u}text#{$c3}xstoxxs {
        font-size: ( 10 / 12 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xstosm {
        font-size: ( 14 / 12 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xstomd {
        font-size: ( 16 / 12 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xstolg {
        font-size: ( 18 / 12 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xstoxl {
        font-size: ( 20 / 12 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xstoxxl {
        font-size: ( 24 / 12 ) + em;
    }


    .#{$pr}#{$u}text#{$c3}smtoxxs {
        font-size: ( 10 / 14 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}smtoxs {
        font-size: ( 12 / 14 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}smtomd {
        font-size: ( 16 / 14 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}smtolg {
        font-size: ( 18 / 14 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}smtoxl {
        font-size: ( 20 / 14 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}smtoxxl {
        font-size: ( 24 / 14 ) + em;
    }


    .#{$pr}#{$u}text#{$c3}lgtoxxs {
        font-size: ( 10 / 18 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}lgtoxs {
        font-size: ( 12 / 18 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}lgtosm {
        font-size: ( 14 / 18 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}lgtomd {
        font-size: ( 16 / 18 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}lgtoxl {
        font-size: ( 20 / 18 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}lgtoxxl {
        font-size: ( 24 / 18 ) + em;
    }


    .#{$pr}#{$u}text#{$c3}xltoxxs {
        font-size: ( 10 / 20 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xltoxs {
        font-size: ( 12 / 20 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xltosm {
        font-size: ( 14 / 20 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xltomd {
        font-size: ( 16 / 20 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xltolg {
        font-size: ( 18 / 20 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xltoxxl {
        font-size: ( 24 / 20 ) + em;
    }


    .#{$pr}#{$u}text#{$c3}xxltoxxs {
        font-size: ( 10 / 24 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxltoxs {
        font-size: ( 12 / 24 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxltosm {
        font-size: ( 14 / 24 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxltomd {
        font-size: ( 16 / 24 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxltolg {
        font-size: ( 18 / 24 ) + em;
    }

    .#{$pr}#{$u}text#{$c3}xxltoxl {
        font-size: ( 24 / 24 ) + em;
    }

}
