/*
--------------------
#{$pr}#{$p}cards
--------------------
*/

.#{$pr}#{$p}cards {
    display: grid;
    gap: map-get( $grid-gutter-widths, sm );

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
    }

    @include media-breakpoint-up(md) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include media-breakpoint-up(lg) {
        gap: map-get( $grid-gutter-widths, md );
    }

    @include media-breakpoint-up(xl) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}

.#{$pr}#{$p}cards#{$c1}item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    .#{$pr}#{$c}card {
        max-width: none;

        @include media-breakpoint-down(md) {
            max-width: map-get( $object-max-widths, 'sm' );
        }

    }

}
