/*
--------------------
#{$pr}#{$p}footer
--------------------
*/

.#{$pr}#{$p}footer {
	position: relative;
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 6);
    border-top: 1px solid $gray-milder;
}
