/*
--------------------
#{$pr}#{$p}header
--------------------
*/

.#{$pr}#{$p}header {
    background-color: $body-bg;
}

.#{$pr}#{$p}header#{$c1}contents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.#{$pr}#{$p}header#{$c1}title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    height: 100%;
    margin: 0;
    padding-right: map-get( $grid-gutter-widths, 'sm' );
    line-height: 1;

    img {
        display: block;
        width: auto;
        height: ( map-get( $nav-min-heights, 'md' ) * 0.8 );

        @include media-breakpoint-up(lg) {
            height: ( map-get( $nav-max-heights, 'md' ) * 0.8 );
        }

    }

}

.#{$pr}#{$p}header#{$c1}nav {
    display: none;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    @include media-breakpoint-up(lg) {
        display: block;
        padding-right: map-get( $grid-gutter-widths, 'sm' );
        text-align: right;
    }

}

.#{$pr}#{$p}header#{$c1}button {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    @include media-breakpoint-up(lg) {
        flex-grow: 0;
        padding-right: 0;
    }

    .#{$pr}#{$m}list-horizontal {
        justify-content: flex-end;

        .#{$pr}#{$m}list#{$c1}item {
            margin-left: 0;
            margin-right: map-get( $grid-gutter-widths, 'sm' );
        }

    }

}

.#{$pr}#{$p}header#{$c1}menu {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    @include media-breakpoint-up(lg) {
        display: none;
    }

}

