/*
--------------------
#{$pr}#{$p}header
--------------------
*/

.#{$pr}#{$p}header {
    position: relative;
    padding-top: $spacer;
    padding-bottom: $spacer;
    border-bottom: 2px solid $gray;

    @include media-breakpoint-up(lg) {
        padding-top: ($spacer * 2);
        padding-bottom: ($spacer * 2);
    }

}
