/*
--------------------
#{$pr}#{$p}header
--------------------
*/

.#{$pr}#{$p}header {
    background-color: $body-bg;
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 2);
}

.#{$pr}#{$p}header#{$c1}contents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.#{$pr}#{$p}header#{$c1}title {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    margin: 0;
    padding-right: $spacer;
    line-height: 1;

    img {
        display: block;
        max-width: 160px;
        height: auto;

        @include media-breakpoint-up(sm) {
            max-width: none;
        }

    }

}

.#{$pr}#{$p}header#{$c1}nav {
    display: none;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    @include media-breakpoint-up(lg) {
        display: block;
        padding-right: $spacer;
        text-align: right;
    }

    .#{$pr}#{$m}nav#{$c1}label {
        font-size: $font-size-sm;
    }

}

.#{$pr}#{$p}header#{$c1}btn {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    text-align: right;

    @include media-breakpoint-up(lg) {
        flex-grow: 0;
    }

    ul.#{$pr}#{$m}list-horizontal {

        li.#{$pr}#{$m}list#{$c1}item {
            padding-left: $spacer;
            padding-right: 0;
            letter-spacing: -.4em;

            &:first-child {
                padding-left: 0;
            }

            .#{$pr}#{$m}btn {
                letter-spacing: normal;
            }

        }

    }

}

.#{$pr}#{$p}header#{$c1}menu {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    @include media-breakpoint-up(lg) {
        display: none;
    }

}

