/*
--------------------
#{$pr}#{$p}main
--------------------
*/

.#{$pr}#{$p}main {
    position: relative;
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);

    @include media-breakpoint-up(lg) {
        padding-top: ($spacer * 4.5);
        padding-bottom: ($spacer * 4.5);
    }

}
