/*
--------------------
#{$pr}#{$p}medias
--------------------
*/

.#{$pr}#{$p}medias {
    display: grid;
    gap: map-get( $grid-gutter-widths, lg );

    @include media-breakpoint-up(lg) {
        grid-template-columns: 1fr 1fr;
    }

}

.#{$pr}#{$p}medias#{$c1}item {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;

    .#{$pr}#{$c}media {
    }

}
