/*
--------------------
#{$pr}#{$p}title
--------------------
*/

.#{$pr}#{$p}title {
    margin: 0;
    line-height: $line-height-sm;
    list-style-type: none;
}


/*
--------------------
#{$pr}#{$p}title#{$c3}(group)#{$c3}(type)
--------------------
*/

/*
01: page title
--------------------
*/

.#{$pr}#{$p}title#{$c3}echo#{$c3}01 {
    font-size: 2rem;
    font-weight: $font-weight-first;
    font-family: $font-family-first;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 3rem;
    }

}

/*
02: page subtitle
--------------------
*/

.#{$pr}#{$p}title#{$c3}echo#{$c3}02 {
    font-size: 1.5rem;
    font-weight: $font-weight-first;
    font-family: $font-family-first;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.75rem;
    }

}

/*
11: component title(large)
--------------------
*/

.#{$pr}#{$p}title#{$c3}echo#{$c3}11 {
    font-size: 1.25rem;
    font-weight: $font-weight-bold-root;
    font-family: $font-family-bold-root;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
    }

}

/*
12: component title(small)
--------------------
*/

.#{$pr}#{$p}title#{$c3}echo#{$c3}12 {
    font-size: 1.125rem;
    font-weight: $font-weight-bold-root;
    font-family: $font-family-bold-root;

    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
    }

}


/*
21: display title(large)
--------------------
*/

.#{$pr}#{$p}title#{$c3}echo#{$c3}21 {
    font-size: 2.25rem;
    font-weight: $font-weight-bold-third;
    font-family: $font-family-bold-third;

    @include media-breakpoint-up(sm) {
        font-size: 3rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 3.5rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 4rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 4.5rem;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 5rem;
    }

}

/*
22: display title(medium)
--------------------
*/

.#{$pr}#{$p}title#{$c3}echo#{$c3}22 {
    font-size: 2rem;
    font-weight: $font-weight-bold-third;
    font-family: $font-family-bold-third;

    @include media-breakpoint-up(sm) {
        font-size: 2.25rem;
    }

    @include media-breakpoint-up(md) {
        font-size: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 2.75rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 3rem;
    }

    @include media-breakpoint-up(xxl) {
        font-size: 3.25rem;
    }

}

/*
23: display subtitle
--------------------
*/

.#{$pr}#{$p}title#{$c3}echo#{$c3}23 {
    font-size: 1.25rem;
    font-weight: $font-weight-third;
    font-family: $font-family-third;

    @include media-breakpoint-up(sm) {
        font-size: 1.5rem;
    }

    @include media-breakpoint-up(xl) {
        font-size: 1.75rem;
    }

}
