/*
--------------------
#{$widget}
--------------------
*/

.#{$widget} {
    margin-bottom: ($spacer * 3);

    @include media-breakpoint-up(lg) {
        margin-bottom: ($spacer * 4.5);
    }

}

.#{$widget}#{$c1}header,
.#{$widget}#{$c1}contents,
.#{$widget}#{$c1}footer {
    position: relative;
    @include clearfix();
}

.#{$widget}#{$c1}header {
    padding-bottom: ($spacer * 2);
}

.#{$widget}#{$c1}footer {
    padding-top: ($spacer * 2);
}

.#{$widget}#{$c1}title {
    margin: 0;
    font-size: 1.125rem;
    @include font-family-weight( 'first', 'bold' );
    line-height: $line-height-sm;
    text-align: center;

    @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
    }

}


/*
--------------------
#{$widget}#{$c3}(size)
--------------------
*/

.#{$widget}#{$c3}sm {
    margin-bottom: ($spacer * 2);

    @include media-breakpoint-up(lg) {
        margin-bottom: ($spacer * 3);
    }

    .#{$widget}#{$c1}header,
    .#{$widget}#{$c1}contents,
    .#{$widget}#{$c1}footer {
        font-size: $font-size-sm;
    }

    .#{$widget}#{$c1}header {
        padding-bottom: ($spacer * 1.5);
    }

    .#{$widget}#{$c1}footer {
        padding-top: ($spacer * 1.5);
    }

    .#{$widget}#{$c1}title {
        font-size: 1rem;
        text-align: left;

        @include media-breakpoint-up(lg) {
            font-size: 1.125rem;
        }

    }

}

.#{$widget}#{$c3}lg {
    margin-bottom: ($spacer * 4.5);

    @include media-breakpoint-up(lg) {
        margin-bottom: ($spacer * 6);
    }

    .#{$widget}#{$c1}header,
    .#{$widget}#{$c1}contents,
    .#{$widget}#{$c1}footer {
        font-size: $font-size-lg;
    }

    .#{$widget}#{$c1}header {
        @include media-breakpoint-up(lg) {
            padding-bottom: ($spacer * 3);
        }

    }

    .#{$widget}#{$c1}footer {
        @include media-breakpoint-up(lg) {
            padding-top: ($spacer * 3);
        }
    }

    .#{$widget}#{$c1}title {
        font-size: 1.5rem;

        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
        }

    }

}
