/*doc
---
title: .#{$widget}
name: #{$widget}
category: project-widget
---

新着情報など、サイト内で配置が不定となる可能性があるパーツを表示する。  
必ず他のobjectが含まれる。  
このクラス単独では、下余白や <code>position: relative</code> の指定のみを行う。

``` example
<div class="#{$widget}">
    <div class="#{$widget}-header">
        <div style="padding: 1rem; text-align:center; background-color: #ddeeff;">(#{$widget}-header)</div>
    </div><!-- /.#{$widget}-header -->

    <div class="#{$widget}-contents">
        <div style="padding: 1rem; text-align:center; background-color: #eeffdd;">(#{$widget}-contents)</div>
    </div><!-- /.#{$widget}-contents -->

    <div class="#{$widget}-footer">
        <div style="padding: 1rem; text-align:center; background-color: #ffddee;">(#{$widget}-footer)</div>
    </div><!-- /.#{$widget}-footer -->

</div><!-- /.#{$widget} -->

<div class="#{$widget}">
    <div class="#{$widget}-header">
        <div style="padding: 1rem; text-align:center; background-color: #ddeeff;">(#{$widget}-header)</div>
    </div><!-- /.#{$widget}-header -->

    <div class="#{$widget}-contents">
        <div style="padding: 1rem; text-align:center; background-color: #eeffdd;">(#{$widget}-contents)</div>
    </div><!-- /.#{$widget}-contents -->

    <div class="#{$widget}-footer">
        <div style="padding: 1rem; text-align:center; background-color: #ffddee;">(#{$widget}-footer)</div>
    </div><!-- /.#{$widget}-footer -->

</div><!-- /.#{$widget} -->
```

*/

.#{$widget} {
    margin-bottom: ($spacer * 2);

    @include media-breakpoint-up(sm) {
        margin-bottom: ($spacer * 3);
    }

    @include media-breakpoint-up(lg) {
        margin-bottom: ($spacer * 4);
    }

    .#{$widget}-header,
    .#{$widget}-contents,
    .#{$widget}-footer {
        position: relative;
        @include clearfix();
    }

}




.#{$widget}-sm {
    padding-top: ($spacer * 2);
    padding-bottom: ($spacer * 1);

    @include media-breakpoint-up(md) {
        padding-top: ($spacer * 4);
        padding-bottom: ($spacer * 2);
    }

    @include media-breakpoint-up(xl) {
        padding-top: ($spacer * 6);
        padding-bottom: ($spacer * 3);
    }

    .#{$widget}-header {
        padding-bottom: ($spacer * 2);

        @include media-breakpoint-up(lg) {
            padding-bottom: ($spacer * 3);
        }

    }

    .#{$widget}-footer {
        padding-top: ($spacer * 2);

        @include media-breakpoint-up(lg) {
            padding-top: ($spacer * 3);
        }

    }

}
