/*
--------------------
WYSIWYG Styles (WordPress)
--------------------
*/

.#{$wysiwyg} {
    word-break: break-word;
    padding-bottom: ($spacer * 4);

    > *:first-child {
        margin-top: 0 !important;
    }

    a:not([class*="link"]):not([class*="btn"]):not([class*="label"]) {
        text-decoration: underline;

        &:hover {
            color: $link-hover-color;
            text-decoration: none;
        }

    }

    h1:not([class*="title"]),
    h2:not([class*="title"]),
    h3:not([class*="title"]),
    h4:not([class*="title"]),
    h5:not([class*="title"]),
    h6:not([class*="title"]) {
        margin: 0;
        padding: 0;
        background: transparent none;
        border: 0 none;
        color: $body-color;
        font-weight: bold;
        text-align: left;
        line-height: $line-height-sm;
        border-radius: 0;

        &:before,
        &:after {
            display: none;
        }

    }

    h1:not([class*="title"]),
    h2:not([class*="title"]) {
        font-size: 1.25rem;
        margin-top: 2em;
        margin-bottom: .75em;
        font-weight: $font-weight-first;
        font-family: $font-family-first;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        @include media-breakpoint-up(lg) {
            font-size: 1.75rem;
        }

    }

    h3:not([class*="title"]) {
        font-size: 1.25rem;
        margin-top: 1.5em;
        margin-bottom: .75em;

        @include media-breakpoint-up(lg) {
            font-size: 1.5rem;
        }

    }

    h4:not([class*="title"]) {
        font-size: 1.125rem;
        margin-top: 1em;
        margin-bottom: .5em;

        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
        }

    }

    h5:not([class*="title"]) {
        font-size: 1rem;
        margin-top: 1em;
        margin-bottom: .5em;
    }

    h6:not([class*="title"]) {
        font-size: 1rem;
        margin-bottom: .5em;
    }

    ul:not([class*="list"]),
    ol:not([class*="list"]) {
        overflow: hidden;
    }

    ul:not([class*="list"]) {
        margin: 0 0 .5rem;
        padding: 0;

        > li {
            position: relative;
            margin: .5rem 0;
            padding: 0 0 0 1.5rem;
            list-style-type: none;

            &:before {
                display: block;
                content: "";
                position: absolute;
                top: .75em;
                left: .25em;
                width: .25em;
                height: .25em;
                background-color: $body-color;
            }

            ul:not([class*="list"]),
            ol:not([class*="list"]) {
                margin-top: .5rem !important;
                margin-bottom: 0 !important;
            }

        }

    }

    ol:not([class*="list"]) {
        counter-reset: ol_number;
        margin: 0 0 .5rem;
        padding: 0;

        > li {
            position: relative;
            margin: .5rem 0;
            padding: 0 0 0 1.5rem;
            list-style-type: none;

            &:before {
                display: block;
                counter-increment: ol_number;
                content: counter(ol_number) ".";
                position: absolute;
                top: 0;
                left: 0;
                width: 1rem;
                text-align: center;
            }

            ul:not([class*="list"]),
            ol:not([class*="list"]) {
                margin-top: .5em !important;
                margin-bottom: 0 !important;
            }

        }

    }

    dl:not([class*="list"]) {
        margin: 0;
        padding: 0;

        > dt {
            margin: 0 0 .5em;
            padding: 0;
        }

        > dd {
            margin: 0 0 .5em;
            padding: 0 0 0 1.5rem;
        }

    }

    hr:not([class]) {
        overflow: hidden;
        margin: ($spacer * 3) 0;
        height: $border-color;
        border-width: $border-width 0 0;
        border-style: solid none none;
        border-color: $border-color transparent transparent;
    }

    blockquote:not([class]) {
        overflow: hidden;
        margin: ($spacer * 3) 0;
        padding: $spacer;
        border-width: 0 0 0 5px;
        border-style: none none none solid;
        border-color: transparent transparent transparent $second-fade;
        font-style: normal;
    }

    table:not([class]) {
        display: block;
        width: 100%;
        max-width: 100%;
        margin-bottom: ($spacer * 3);
        border-width: 0 0 $border-width $border-width;
        border-style: solid;
        border-color: $border-color;

        @include media-breakpoint-up(sm) {
                display: table;
        }

        thead,
        tbody,
        tfoot {
            display: block;

            @include media-breakpoint-up(sm) {
                display: table-row-group;
            }

        }

        tr {
            display: block;
            border-bottom: ($border-width * 2) solid $border-color;

            @include media-breakpoint-up(sm) {
                display: table-row;
                border-bottom: 0 none;
            }

        }

        th,
        td {
            display: block;
            width: 100%;
            padding: ($spacer / 2) $spacer;
            border-width: $border-width $border-width 0 0;
            border-style: solid;
            border-color: $border-color;
            line-height: $line-height-sm;
            vertical-align: top;

            @include media-breakpoint-up(sm) {
                display: table-cell;
                width: auto;
            }

        }

        th {
            text-align: left;

            &.line-c {
                text-align: center;
            }

            &.line-r {
                text-align: right;
            }

        }

        thead th {
            vertical-align: bottom;
        }

    }

    img {
        max-width: 100%;
        height: auto;
    }

    img[class*="alignnone"],
    figure[class*="alignnone"] {
        display: block !important;
        margin: 0 0 ($spacer * 2) !important;
    }

    img[class*="alignleft"],
    figure[class*="alignleft"] {
        float: none !important;
        display: block !important;
        margin: 0 auto ($spacer * 2) !important;

        @include media-breakpoint-up(sm) {
            float: left !important;
            margin: 0 map-get($grid-gutter-widths, md) ($spacer * 2) 0 !important;
        }
    }

    img[class*="alignright"],
    figure[class*="alignright"] {
        float: none !important;
        display: block !important;
        margin: 0 auto ($spacer * 2) !important;

        @include media-breakpoint-up(sm) {
            float: right !important;
            margin: 0 0 ($spacer * 2) map-get($grid-gutter-widths, md) !important;
        }
    }

    img[class*="aligncenter"],
    figure[class*="aligncenter"] {
        display: block !important;
        margin: 0 auto ($spacer * 2) !important;
    }

    .wp-caption-text {
        line-height: $line-height-sm;
        color: $gray-mild;
        font-size: $font-size-sm;
        text-align: center;
    }

}

