/*
--------------------
reset
--------------------
*/

@include font-face-mapping();

* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

th {
    text-align: left;
}


b,
th,
dt,
optgroup,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-family-weight( 'root', 'bold' );
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
}

